<!DOCTYPE html>
<html lang="ko">
    <head>
        @@include('../common/resources.html')
    </head>
    <body>

        <!-- header -->
        @@include('../common/header.html', { "active" : "활성화되어야하는 메뉴" })
       
        <div class="container-fluid">
            <div class="row">

                <!-- gnb -->
                @@include('../common/navigation.html')

                <!-- contents -->
                <div class="col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    @@include('../common/title.html', { "title" : "페이지 제목", "sub" : "메뉴 소개" })
                </div>
            </div>
        </div>

        <!-- scripts -->
        @@include('../common/scripts.html')
    </body>
</html>