 <!DOCTYPE html>
<html lang="ko">
    <head>
        @@include('../common/resources.html', { "type" : "admin" })
    </head>
    <body>
        <div class="container">
            <div class="user-sign">
                <h2 class="login-heading">
                    <img src="../../assets/images/photos/sample_logo.png" alt="주식 서비스 관리자 로그인 이미지 또는 로고" >
                    아이디/비밀번호 찾기
                </h2>

                <div class="user-info-board">
                    <h5>아이디 찾기 결과</h5>
                    <div class="well text-center">
                        <ins>홍길동</ins>님 아이디입니다.
                        <p class="id-finded">hong1234</p>
                        <button type="button" class="btn btn-default btn-sm">ID복사</button>
                    </div>
                    <div class="btns">
                        <a type="button" class="btn btn-default" href="#">비밀번호 찾기</a>
                        <a type="button" class="btn btn-primary" href="./wa_01_login.html">로그인</a>
                    </div>
                </div>
        
                   
            </div>
        </div>

        <!-- scripts -->
        @@include('../common/scripts.html')
        <script>
            $(function() {
                
            });
        </script>
    </body>
</html>