<!DOCTYPE html>
<html lang="ko">
    <head>
        @@include('../common/resources.html', { "type" : "admin" })
    </head>
    <body>

        <!-- header -->
        @@include('../common/header.html', { "active" : "활성화되어야하는 메뉴" })
       
        <div class="container-fluid">
            <div class="row">

                <!-- gnb -->
                @@include('../common/navigation.html')

                <!-- contents -->
                <div class="main">
                    @@include('../common/title.html', { "title" : "결제 상세", "sub" : "채팅방 결제 정보를 확인할 수 있습니다." })
                
                    <div class="contents">
                  
                        <!-- contents -->
                        <div class="detail-content">
                            <h4 class="detail-content-hd">상품 정보</h4>
                            <table class="table table-form">
                                <colgroup>
                                    <col style="width: 12%">
                                    <col style="width: 38%">
                                    <col style="width: 12%">
                                    <col style="width: 38%">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>채팅방명</th>
                                        <td><span class="data"><strong>성공투자주식방-1</strong></span></td>
                                        <th>상품 생성자</th>
                                        <td><span class="data">박민(park77)</span></td>
                                    </tr>
                                    <tr>
                                        <th>채팅유형</th>
                                        <td><span class="data">일반 채팅</span></td>
                                        <th>기간</th>
                                        <td><span class="data">2021-03-01 ~ 2021-05-31</span></td>
                                    </tr>
                                    <tr>
                                        <th>인원</th>
                                        <td colspan="3"><span class="data">85/100</span></td>
                                    </tr>
                                </tbody>
                            </table>

                            <h4 class="detail-content-hd">회원 정보</h4>
                            <table class="table table-form">
                                <colgroup>
                                    <col style="width: 12%">
                                    <col style="width: 38%">
                                    <col style="width: 12%">
                                    <col style="width: 38%">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>회원명</th>
                                        <td><span class="data">박수수</span></td>
                                        <th>아이디</th>
                                        <td><span class="data">susukong</span></td>
                                    </tr>
                                    <tr>
                                        <th>전화번호</th>
                                        <td colspan="3"><span class="data">010-1234-5678</span></td>
                                    </tr>
                                </tbody>
                            </table>

                            <h4 class="detail-content-hd">결제 정보</h4>
                            <table class="table table-form">
                                <colgroup>
                                    <col style="width: 12%">
                                    <col style="width: 38%">
                                    <col style="width: 12%">
                                    <col style="width: 38%">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>유형</th>
                                        <td colspan="3">
                                           <span class="data">유료</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>가입기간</th>
                                        <td>
                                            <span class="data">2021-02-28 ~ 2021-05-10</span>
                                        </td>
                                        <th>서비스기간</th>
                                        <td>
                                            <span class="data">2021-05-11 ~ 2021-06-10</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>결제금액</th>
                                        <td>
                                            <span class="data">800,000</span>
                                        </td>
                                        <th>승인번호</th>
                                        <td>
                                            <span class="data">1234-56789</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>결제일</th>
                                        <td colspan="3"><span class="data">2021-05-10 10:00</span></td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="btns btns-space">
                                <button type="button" class="btn btn-default">목록</button>
                                <a type="button" class="btn btn-primary" href="./wa_07_payment_refund.html">환불</a>
                            </div>

                            <table class="table table-form mg24">
                                <colgroup>
                                    <col style="width: 12%">
                                    <col style="width: 38%">
                                    <col style="width: 12%">
                                    <col style="width: 38%">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>결제/환불 처리</th>
                                        <td><span class="data">박민</span></td>
                                        <th>결제/환불 처리일</th>
                                        <td><span class="data">2021-05-10 10:00</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>

        <!-- scripts -->
        @@include('../common/scripts.html')
        <script>
            $(function() {

                // 유형 선택 
                $('#selectChatType').on('change', function() {
                    if ($(this).val() === '1') {
                        $('#formPayment').find('input').removeAttr('disabled');
                        $('#btnPayment').removeAttr('disabled');
                    } else {
                        $('#formPayment').find('input').attr('disabled', true);
                        $('#btnPayment').attr('disabled', true);
                    }
                });
            
                // 신청 거절
                $('#btnReject').on('click', function() {
                    callConfirm(
                    { title: '유료방 요청건을<br>거절하시겠습니까?'}, 
                    onClickReject,
                    { cancel: '취소', confirm: '거절'});
                });

                // 결제완료
                $('#btnCompleted').on('click', function() {
                    callAlert({
                        title: '결제가 완료되었습니다.',
                        description: '회원님은 채팅방에<br>가입처리되었습니다.'
                    });
                });
            });

            function onClickReject() {
                callAlert({ title: '거절되었습니다.' });
            }
        </script>
    </body>
</html>