<!DOCTYPE html>
<html lang="ko">
    <head>
        @@include('../common/resources.html', { "type" : "admin" })
    </head>
    <body>

        <!-- header -->
        @@include('../common/header.html', { "active" : "활성화되어야하는 메뉴" })
       
        <div class="container-fluid">
            <div class="row">

                <!-- gnb -->
                @@include('../common/navigation.html')

                <!-- contents -->
                <div class="main">
                    @@include('../common/title.html', { "title" : "서비스 상품 목록", "sub" : "유료 채팅방 정보를 볼 수 있습니다." })
                
                    <div class="contents">
                        <!-- 검색 -->
                        <div class="area-search">
                            <div class="form-inline">
                                <div class="form-group">
                                    <label for="">기간</label>
                                    <div class="date-inline">
                                        <div class="date-box">
                                            <input type="text" class="form-control datepicker" placeholder="시작일">
                                            <span class="glyphicon glyphicon-calendar"></span> 
                                        </div>
                                        <div class="date-box">
                                            <input type="text" class="form-control datepicker" placeholder="종료일">
                                            <span class="glyphicon glyphicon-calendar"></span> 
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-in-btn">
                                    <label for="" class="sr-only">검색어</label>
                                    <input type="text" class="form-control keyword" placeholder="검색어를 입력하세요.">
                                    <button type="button" class="btn btn-secondary">검색</button>
                                </div>
                            </div>
                        </div>

                        <!-- 목록 -->
                        <div class="area-list">
                            <div class="area-list-header">
                                <div class="pull-left">
                                    Total <span class="count">100</span>
                                </div>
                                <!-- <div class="pull-right">
                                    <button type="button" class="btn btn-secondary btn-sm">추가 기능</button>
                                </div> -->
                            </div>
                            <div class="area-list-body">
                                <table class="table table-bordered data-list product-list">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>채팅방명</th>
                                            <th>생성자ID</th>
                                            <th>관리자ID</th>
                                            <th>이용자수 <span class="glyphicon glyphicon-sort-by-attributes-alt"></span></th>
                                            <th>최대인원 <span class="glyphicon glyphicon-sort-by-attributes-alt"></span></th>
                                            <th>총 매출액(원) <span class="glyphicon glyphicon-sort-by-attributes-alt"></span></th>
                                            <th>생성일 <span class="glyphicon glyphicon-sort-by-attributes-alt"></span></th>
                                            <th>종료일 <span class="glyphicon glyphicon-sort-by-attributes-alt"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>100</td>
                                            <td>
                                                <span class="ellipsis">
                                                    <a href="./wa_05_product_detail.html">성투주식방-1</a>
                                                </span>
                                            </td>
                                            <td>park77</td>
                                            <td>hongadmin</td>
                                            <td>40</td>
                                            <td>100</td>
                                            <td>70,000,000</td>
                                            <td>2021.04.10</td>
                                            <td>2021.06.10</td>
                                        </tr>
                                        <tr>
                                            <td>99</td>
                                            <td>
                                                <span class="ellipsis">
                                                    <a href="./wa_05_product_detail.html">성공의 지름길! 자신감있는 종목을 콕 찝어 드립니다. </a>
                                                </span>
                                            </td>
                                            <td>no1admin</td>
                                            <td>parkadmin</td>
                                            <td>100</td>
                                            <td>100</td>
                                            <td>100,000,000</td>
                                            <td>2021.04.09</td>
                                            <td>2021.05.09</td>
                                        </tr>
                                        <tr>
                                            <td>98</td>
                                            <td>
                                                <span class="ellipsis">
                                                    <a href="./wa_05_product_detail.html">성투주식방-2</a>
                                                </span>
                                            </td>
                                            <td>park77</td>
                                            <td>nastock</td>
                                            <td>50</td>
                                            <td>100</td>
                                            <td>50,000,000</td>
                                            <td>2021.04.05</td>
                                            <td>2021.06.05</td>
                                        </tr>
                                        <tr>
                                            <td>97</td>
                                            <td>
                                                <span class="ellipsis">
                                                    <a href="./wa_05_product_detail.html">성투주식방-3</a>
                                                </span>
                                            </td>
                                            <td>no1admin</td>
                                            <td>yellow12</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>YYYY.MM.DD</td>
                                            <td>YYYY.MM.DD</td>
                                        </tr>
                                        <tr>
                                            <td>96</td>
                                            <td>
                                                <span class="ellipsis">
                                                    <a href="./wa_05_product_detail.html">성투주식방-4</a>
                                                </span>
                                            </td>
                                            <td>park77</td>
                                            <td>yellow12</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>YYYY.MM.DD</td>
                                            <td>YYYY.MM.DD</td>
                                        </tr>
                                        <tr>
                                            <td>95</td>
                                            <td>
                                                <span class="ellipsis">
                                                    <a href="./wa_05_product_detail.html">성투주식방-5</a>
                                                </span>
                                            </td>
                                            <td>no1admin</td>
                                            <td>yellow12</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>YYYY.MM.DD</td>
                                            <td>YYYY.MM.DD</td>
                                        </tr>
                                        <tr>
                                            <td>94</td>
                                            <td>
                                                <span class="ellipsis">
                                                    <a href="./wa_05_product_detail.html">채팅방명</a>
                                                </span>
                                            </td>
                                            <td>no1admin</td>
                                            <td>yellow12</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>YYYY.MM.DD</td>
                                            <td>YYYY.MM.DD</td>
                                        </tr>
                                        <tr>
                                            <td>93</td>
                                            <td>
                                                <span class="ellipsis">
                                                    <a href="./wa_05_product_detail.html">채팅방명</a>
                                                </span>
                                            </td>
                                            <td>no1admin</td>
                                            <td>yellow12</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>YYYY.MM.DD</td>
                                            <td>YYYY.MM.DD</td>
                                        </tr>
                                        <tr>
                                            <td>92</td>
                                            <td>
                                                <span class="ellipsis">
                                                    <a href="./wa_05_product_detail.html">채팅방명</a>
                                                </span>
                                            </td>
                                            <td>no1admin</td>
                                            <td>yellow12</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>YYYY.MM.DD</td>
                                            <td>YYYY.MM.DD</td>
                                        </tr>
                                        <tr>
                                            <td>91</td>
                                            <td>
                                                <span class="ellipsis">
                                                    <a href="./wa_05_product_detail.html">채팅방명</a>
                                                </span>
                                            </td>
                                            <td>no1admin</td>
                                            <td>yellow12</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>YYYY.MM.DD</td>
                                            <td>YYYY.MM.DD</td>
                                        </tr>
                                        <tr>
                                            <td>90</td>
                                            <td>
                                                <span class="ellipsis">
                                                    <a href="./wa_05_product_detail.html">채팅방명</a>
                                                </span>
                                            </td>
                                            <td>no1admin</td>
                                            <td>yellow12</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>YYYY.MM.DD</td>
                                            <td>YYYY.MM.DD</td>
                                        </tr>
                                        <tr>
                                            <td>89</td>
                                            <td>
                                                <span class="ellipsis">
                                                    <a href="./wa_05_product_detail.html">채팅방명</a>
                                                </span>
                                            </td>
                                            <td>no1admin</td>
                                            <td>yellow12</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>YYYY.MM.DD</td>
                                            <td>YYYY.MM.DD</td>
                                        </tr>
                                        <tr>
                                            <td>88</td>
                                            <td>
                                                <span class="ellipsis">
                                                    <a href="./wa_05_product_detail.html">채팅방명</a>
                                                </span>
                                            </td>
                                            <td>no1admin</td>
                                            <td>yellow12</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>YYYY.MM.DD</td>
                                            <td>YYYY.MM.DD</td>
                                        </tr>
                                        <tr>
                                            <td>87</td>
                                            <td>
                                                <span class="ellipsis">
                                                    <a href="./wa_05_product_detail.html">채팅방명</a>
                                                </span>
                                            </td>
                                            <td>no1admin</td>
                                            <td>yellow12</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>YYYY.MM.DD</td>
                                            <td>YYYY.MM.DD</td>
                                        </tr>
                                        <tr>
                                            <td>86</td>
                                            <td>
                                                <span class="ellipsis">
                                                    <a href="./wa_05_product_detail.html">채팅방명</a>
                                                </span>
                                            </td>
                                            <td>no1admin</td>
                                            <td>yellow12</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>YYYY.MM.DD</td>
                                            <td>YYYY.MM.DD</td>
                                        </tr>
                                        <tr>
                                            <td>85</td>
                                            <td>
                                                <span class="ellipsis">
                                                    <a href="./wa_05_product_detail.html">채팅방명</a>
                                                </span>
                                            </td>
                                            <td>no1admin</td>
                                            <td>yellow12</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>YYYY.MM.DD</td>
                                            <td>YYYY.MM.DD</td>
                                        </tr>
                                        <tr>
                                            <td>84</td>
                                            <td>
                                                <span class="ellipsis">
                                                    <a href="./wa_05_product_detail.html">채팅방명</a>
                                                </span>
                                            </td>
                                            <td>no1admin</td>
                                            <td>yellow12</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>YYYY.MM.DD</td>
                                            <td>YYYY.MM.DD</td>
                                        </tr>
                                        <tr>
                                            <td>83</td>
                                            <td>
                                                <span class="ellipsis">
                                                    <a href="./wa_05_product_detail.html">채팅방명</a>
                                                </span>
                                            </td>
                                            <td>no1admin</td>
                                            <td>yellow12</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>YYYY.MM.DD</td>
                                            <td>YYYY.MM.DD</td>
                                        </tr>
                                        <tr>
                                            <td>82</td>
                                            <td>
                                                <span class="ellipsis">
                                                    <a href="./wa_05_product_detail.html">채팅방명</a>
                                                </span>
                                            </td>
                                            <td>no1admin</td>
                                            <td>yellow12</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>YYYY.MM.DD</td>
                                            <td>YYYY.MM.DD</td>
                                        </tr>
                                        <tr>
                                            <td>81</td>
                                            <td>
                                                <span class="ellipsis">
                                                    <a href="./wa_05_product_detail.html">채팅방명</a>
                                                </span>
                                            </td>
                                            <td>no1admin</td>
                                            <td>yellow12</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>YYYY.MM.DD</td>
                                            <td>YYYY.MM.DD</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <nav>
                                    <ul class="pagination pagination-sm">
                                        <li class="disabled">
                                            <a href="#" aria-label="Previous">
                                              <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- scripts -->
        @@include('../common/scripts.html')
        <script>
            $(function() {
                // datepicker
                $('.datepicker').datepicker();

                $('.data-list thead').find('span').on('click', function() {
                    var classList = $(this).attr('class');
                    if ( $(this).hasClass('glyphicon-sort-by-attributes-alt') ) {
                        $(this).removeClass('glyphicon-sort-by-attributes-alt');
                        $(this).addClass('glyphicon-sort-by-attributes');
                    } else {
                        $(this).removeClass('glyphicon-sort-by-attributes');
                        $(this).addClass('glyphicon-sort-by-attributes-alt');
                    }
                });
            });
        </script>
    </body>
</html>