<!DOCTYPE html>
<html lang="ko">
    <head>
        @@include('../common/resources.html', { "type" : "admin" })
    </head>
    <body>

        <!-- header -->
        @@include('../common/header.html', { "active" : "활성화되어야하는 메뉴" })
       
        <div class="container-fluid">
            <div class="row">

                <!-- gnb -->
                @@include('../common/navigation.html')

                <!-- contents -->
                <div class="main">
                    @@include('../common/title.html', { "title" : "채팅방 생성", "sub" : "채팅방을 생성할 수 있습니다." })
                
                    <div class="contents">
                  
                        <!-- contents -->
                        <div class="detail-content">
                            <!-- 채팅방 정보 -->
                            <h4 class="detail-content-hd">기본정보</h4>
                            <table class="table table-form">
                                <colgroup>
                                    <col style="width: 12%">
                                    <col style="width: 38%">
                                    <col style="width: 12%">
                                    <col style="width: 38%">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>채팅방명</th>
                                        <td>
                                            <input type="text" class="form-control" placeholder="최대 20자 입력" maxlength="20">
                                        </td>
                                        <th>상품 생성자</th>
                                        <td>
                                            <span class="data">park77(박홍식)</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>채팅방 소개</th>
                                        <td>
                                            <div class="form-content">
                                                <textarea class="form-control" placeholder="최대 80자 입력"></textarea>
                                                <div class="count">
                                                    <span class="txt-length">0</span>
                                                    <span>80</span>
                                                </div>
                                            </div>
                                        </td>
                                        <th >대표이미지</th>
                                        <td>
                                            <div class="img-file-box">
                                                <div class="img-thumb">
                                                    <img src="" alt="">
                                                </div>
                                                <div class="file-func">
                                                    <div class="pull-left">
                                                        <a href="#" data-toggle="modal" data-target="#modalThumbImgGuide">
                                                            <span class="glyphicon glyphicon-info-sign"></span>
                                                            대표이미지 등록 가이드
                                                        </a>
                                                    </div>
                                                    <div class="pull-right">
                                                        <label type="button" class="btn btn-secondary btn-file" for="chatThumbnailImg">
                                                            찾기
                                                            <input type="file" id="chatThumbnailImg" >
                                                        </label>
                                                    </div>
                                                </div>

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>구분</th>
                                        <td>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="chat-price" value="1" checked onchange="javascript: setChatPrice('1');">
                                                    유료
                                                </label>
                                                <label>
                                                    <input type="radio" name="chat-price" value="2"  onchange="javascript: setChatPrice('2');">
                                                    체험
                                                </label>
                                            </div>
                                        </td>
                                        <th>채팅유형</th>
                                        <td>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="chat-type" value="1" checked>
                                                    일반 채팅
                                                </label>
                                                <label>
                                                    <input type="radio" name="chat-type" value="2">
                                                    1:n 채팅
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>방장</th>
                                        <td colspan="3">
                                            <div class="fx fx-mg">
                                                <div class="mg-groups">
                                                    <span class="ph" >방장을 추가해주세요.</span>
                                                </div>
                                                <button class="btn btn-secondary" data-toggle="modal" data-target="#modalManagerList">추가</button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>기간</th>
                                        <td>
                                            <div class="date-inline">
                                                <div class="date-box">
                                                    <input type="text" class="form-control datepicker" placeholder="시작날짜" value="">
                                                    <span class="glyphicon glyphicon-calendar"></span> 
                                                </div>
                                                <div class="date-box">
                                                    <input type="text" class="form-control datepicker" placeholder="종료날짜" value="">
                                                    <span class="glyphicon glyphicon-calendar"></span> 
                                                </div>
                                            </div>
                                        </td>
                                        <th>최대인원</th>
                                        <td>
                                            <input type="number" class="form-control form-tail" placeholder="" value="100">
                                            <label class="label-tail">최대 인원 1,000명</label>
                                        </td>
                                    </tr>
                                    <!-- 무료 채팅방일 때만 노출 -->
                                    <tr class="free-product" style="display: none;">
                                        <th>인증번호 설정</th>
                                        <td colspan="3">
                                            <div class="form-inline-set">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="certify-num" value="0" checked onchange="javascript: setCertifyNumber('off');">
                                                        OFF
                                                    </label>
                                                    <label>
                                                        <input type="radio" name="certify-num" value="1" onchange="javascript: setCertifyNumber('on');">
                                                        ON
                                                    </label>
                                                </div>
                                                <div class="time-inline">
                                                    <input type="number" class="form-control" placeholder="숫자 4자리 입력" disabled id="certifyNumber" maxlength="4">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- btns -->
                        <div class="btn-groups">
                            <div class="pull-right">
                                <button class="btn btn-primary" disabled>상품 생성</button>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>

        <!-- 관리자 추가 팝업 -->
        @@include('./inside/wa_05_product_register_popup.html')

        <!-- scripts -->
        @@include('../common/scripts.html')
        <script>
            $(function() {
                // datepicker
                $('.datepicker').datepicker({
                    dateFormat: 'yyyy.mm.dd'
                });

    
                // tab check
                $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
                    if ( e.target.href.split('#')[1] === 'tabInfo' ) {
                        $('#modifyBtns').css('display', 'none');
                    } else {
                        $('#modifyBtns').fadeOut();
                    }
                });

                $('textarea').on('change keyup paste', function() {
                    var len = $(this).val().length;
                    if ( len <= 80 ) {
                        $(this).next('.count').find('.txt-length').text(len);
                    } else {
                        callAlert({ title: '입력 불가', description: '채팅방 소개는 80자까지만 등록 가능합니다.' });
                    }
                    $(this).val( $(this).val().substring(0, 80) );
                });
                
            });

            function setChatPrice(mode) {
                if ( mode === '1' ) {
                    // 유료
                    $('.free-product').css('display', 'none');
                } else {
                    $('.free-product').fadeIn();
                }
            }
            function setAlarmProtect(mode) {
                if ( mode === 'off' ) {
                    $('.timepicker').attr('disabled', true);
                } else {
                    $('.timepicker').removeAttr('disabled');
                }
            }

            function setCertifyNumber(mode) {
                if ( mode === 'off' ) {
                    $('#certifyNumber').attr('disabled', true);
                } else {
                    $('#certifyNumber').removeAttr('disabled');
                }
            }

        </script>
    </body>
</html>