<!DOCTYPE html>
<html lang="ko">
    <head>
        @@include('../common/resources.html', { "type" : "admin" })
    </head>
    <body class="p-login">
        <div class="container">
            <div class="user-sign-wrapper">
                <div class="m-logo">
                    <img src="../assets/images/logo/logo-hize-d.svg" alt="Hize 로고" class="m-logo" >
                </div>
                <div class="user-sign user-sign-logo">
                    <img src="../assets/images/logo/logo-hize.svg" alt="Hize 서비스 로고">
                    주식수익은 하.이.츠!
                </div>
                <div class="user-sign">
                    <div class="user-inner">
                        <h2 class="login-heading">
                            Hize서비스 관리자 로그인
                        </h2>

                        <!-- .help-block에 메시지 표시할 때 부모 div에 .has-warning 추가 -->
                        <div class="form-group">
                            <label for="userId" class="sr-only">아이디</label>
                            <input type="text" id="userId" class="form-control" placeholder="아이디 입력" autofocus>
                        </div>

                        <div class="form-group">
                            <label for="userPw" class="sr-only">비밀번호</label>
                            <input type="password" id="userPw" class="form-control" placeholder="비밀번호 입력" >
                        </div>
                        <span class="help-block help-block-login" style="display: none;"></span>
                        
                        <div class="btns">
                            <button type="submit" class="btn btn-member btn-block" id="btnLogin">로그인</button>
                        </div>

                        <div class="checkbox">
                            <input type="checkbox" value="remember-me" id="rememberId">
                            <label for="rememberId">
                                <span>아이디저장</span>
                            </label>
                        </div>
                        
                        <div class="find-info">
                            <ul class="find-info-menu">
                                <li>
                                    <a href="./wa_01_find_info.html">아이디 찾기</a>
                                </li>
                                <li>
                                    <a href="./wa_01_find_info.html">비밀번호 찾기</a>
                                </li>
                            </ul>
                        </div>
                        <div class="mb-join text-center">
                            <a href="./wa_01_join.html">관리자 회원가입</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- scripts -->
        @@include('../common/scripts.html')
        <script>
            $(function() {

                // onchange 이벤트 감지는 blur시 적용되기 때문에, 실시간 확인을 하려면 change, keyup, paste 함께 사용
                $('#userId').on('change keyup paste', function(){
                    var len = $(this).val().length;
                    if ( len > 0 && (len < 4 || len > 12) ) {
                        $('.help-block').html('아이디를 형식에 맞게 입력해주세요.<br>(영문, 숫자 4~12자리)').fadeIn();
                        $('.form-group').removeClass('has-error');
                        $(this).parent('.form-group').addClass('has-error');
                    } else {
                        $('.help-block').text('').fadeOut();
                        $('.form-group').removeClass('has-error');
                    }
                })
            });
        </script>
    </body>
</html>