<!DOCTYPE html>
<html lang="ko">
    <head>
        @@include('../common/resources.html', { "type" : "admin" })
    </head>
    <body>

        <!-- header -->
        @@include('../common/header.html', { "active" : "활성화되어야하는 메뉴" })
       
        <div class="container-fluid">
            <div class="row">

                <!-- gnb -->
                @@include('../common/navigation.html')

                <!-- contents -->
                <div class="main">
                    @@include('../common/title.html', { "title" : "결제", "sub" : "유료방 요청건에 대해 결제를 할 수 있습니다." })
                
                    <div class="contents">
                  
                        <!-- contents -->
                        <div class="detail-content">
                            <!-- 채팅방 정보 -->
                            <h4 class="detail-content-hd">기본정보</h4>
                            <table class="table table-form">
                                <colgroup>
                                    <col style="width: 12%">
                                    <col style="width: 38%">
                                    <col style="width: 12%">
                                    <col style="width: 38%">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>채팅방명</th>
                                        <td>
                                           <span class="data">성투주식방-1</span>
                                        </td>
                                        <th>채팅방 생성자</th>
                                        <td>
                                            <span class="data">park77(박홍식)</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>회원명</th>
                                        <td>
                                            <span class="data">OOO</span>
                                        </td>
                                        <th>회원ID</th>
                                        <td>
                                            <span class="data">id</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>요청일</th>
                                        <td>YYYY.MM.DD</td>
                                        <th>기타</th>
                                        <td>
                                            <span class="data">정보</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                            <h4 class="detail-content-hd">결제</h4>
                            <table class="table table-form">
                                <colgroup>
                                    <col style="width: 12%">
                                    <col style="width: 38%">
                                    <col style="width: 12%">
                                    <col style="width: 38%">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>결제금액</th>
                                        <td colspan="3">
                                            <input type="number" class="form-control" placeholder="결제 금액 입력" >
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>승인번호</th>
                                        <td colspan="3">
                                            <input type="number" class="form-control" placeholder="승인 번호 입력" >
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- btns -->
                        <div class="btn-groups">
                            <div class="pull-left">
                                <a class="btn btn-default" href="./wa_06_request_list.html">목록</a>
                            </div>
                            <div class="pull-right">
                                <button class="btn btn-primary" disabled>결제등록</button>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>

        <!-- scripts -->
        @@include('../common/scripts.html')
        <script>
            $(function() {
            
                
            });

    
        </script>
    </body>
</html>