<!DOCTYPE html>
<html lang="ko">
    <head>
        @@include('../common/resources.html', { "type" : "admin" })
    </head>
    <body>

        <!-- header -->
        @@include('../common/header.html', { "active" : "활성화되어야하는 메뉴" })
       
        <div class="container-fluid">
            <div class="row">

                <!-- gnb -->
                @@include('../common/navigation.html')

                <!-- contents -->
                <div class="main">
                    @@include('../common/title.html', { "title" : "권한 그룹 생성", "sub" : "주식 서비스 플랫폼 권한을 관리할 수 있습니다." })
                
                    <div class="contents">
                        <div class="auth-board mg24">
                            <div class="tp">
                                <div class="input-count">
                                    <label for="" class="">권한 그룹명</label>
                                    <input type="text" class="form-control" name="" placeholder="권한 그룹명 입력" maxlength="16" id="authGroupName">
                                    <div class="count">
                                        <span class="txt-length">0</span>
                                        <span>16</span>
                                    </div>
                                </div>
                                <ul class="guide">
                                    <li>권한 그룹명 글자수 16자이내</li>
                                    <li>권한 그룹명은 기존 그룹명과 중복되지 않게 입력해주세요.</li>
                                </ul>
                            </div>
                            <div class="bt">
                                <table class="table table-bordered tb-auth">
                                    <colgroup>
                                        <col style="width: 12%;">
                                        <col style="width: auto;">
                                        <col style="width: 12%">
                                        <col style="width: 12%">
                                        <col style="width: 12%">
                                        <col style="width: 12%">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>구분</th>
                                            <th>설명</th>
                                            <th>생성</th>
                                            <th>조회</th>
                                            <th>수정</th>
                                            <th>삭제</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th class="d1">실시간 신호</th>
                                            <th class="d2">발송된 신호 정보, 문자 발신 정보</th>
                                            <td></td>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk1-02">
                                                    <label for="chk1-02"><span></span></label>
                                                </div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th class="d1">보유 전광판</th>
                                            <th class="d2">보유 전광판 등록 및 관리</th>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk2-01">
                                                    <label for="chk2-01"><span></span></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk2-02">
                                                    <label for="chk2-02"><span></span></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk2-03">
                                                    <label for="chk2-03"><span></span></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk2-04">
                                                    <label for="chk2-04"><span></span></label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="d1">서비스 상품(채팅방)</th>
                                            <th class="d2">상품별(채팅방) 관리, 가입회원 정보, 결제 정보, 회원추가, 상품 생성</th>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk3-01">
                                                    <label for="chk3-01"><span></span></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk3-02">
                                                    <label for="chk3-02"><span></span></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk3-03">
                                                    <label for="chk3-03"><span></span></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk3-04">
                                                    <label for="chk3-04"><span></span></label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="d1">매출통계</th>
                                            <th class="d2">채팅방별 매출, 회원수, 수익률 정보</th>
                                            <td></td>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk4-02">
                                                    <label for="chk4-02"><span></span></label>
                                                </div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th class="d1">결제관리</th>
                                            <th class="d2">결제 승인 (유료방 요청 결제), 환불 승인</th>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk5-01">
                                                    <label for="chk5-01"><span></span></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk5-02">
                                                    <label for="chk5-02"><span></span></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk5-03">
                                                    <label for="chk5-03"><span></span></label>
                                                </div>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th class="d1">회원관리</th>
                                            <th class="d2">회원에 대한 정보, 가입된 채팅방 정보, 결제정보</th>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk6-01">
                                                    <label for="chk6-01"><span></span></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk6-02">
                                                    <label for="chk6-02"><span></span></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk6-03">
                                                    <label for="chk6-03"><span></span></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk6-04">
                                                    <label for="chk6-04"><span></span></label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="d1" rowspan="2">권한 관리</th>
                                            <th class="d2">관리자 관리</th>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk7-01">
                                                    <label for="chk7-01"><span></span></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk7-02">
                                                    <label for="chk7-02"><span></span></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk7-03">
                                                    <label for="chk7-03"><span></span></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk7-04">
                                                    <label for="chk7-04"><span></span></label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="d2">권한 그룹 관리</th>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk7-05">
                                                    <label for="chk7-05"><span></span></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk7-06">
                                                    <label for="chk7-06"><span></span></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk7-07">
                                                    <label for="chk7-07"><span></span></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk7-08">
                                                    <label for="chk7-08"><span></span></label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="d1" rowspan="2">게시판 관리</th>
                                            <th class="d2">게시판 설정</th>
                                            <td>
                                            </td>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk8-02">
                                                    <label for="chk8-02"><span></span></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk8-03">
                                                    <label for="chk8-03"><span></span></label>
                                                </div>
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="d2">게시물 관리, 게시물 요청 승인</th>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk8-05">
                                                    <label for="chk8-05"><span></span></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk8-06">
                                                    <label for="chk8-06"><span></span></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk8-07">
                                                    <label for="chk8-07"><span></span></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk8-08">
                                                    <label for="chk8-08"><span></span></label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="d1" rowspan="3">운영 관리</th>
                                            <th class="d2">FAQ</th>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk9-01">
                                                    <label for="chk9-01"><span></span></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk9-02">
                                                    <label for="chk9-02"><span></span></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk9-03">
                                                    <label for="chk9-03"><span></span></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk9-04">
                                                    <label for="chk9-04"><span></span></label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="d2">정책/약관 관리</th>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk9-05">
                                                    <label for="chk9-05"><span></span></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk9-06">
                                                    <label for="chk9-06"><span></span></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk9-07">
                                                    <label for="chk9-07"><span></span></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk9-08">
                                                    <label for="chk9-08"><span></span></label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="d2">Log내역 보기, 파일 다운로드</th>
                                            <td></td>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk9-10">
                                                    <label for="chk9-10"><span></span></label>
                                                </div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th class="d1">앱 메인관리</th>
                                            <th class="d2">앱메인 설정, 채팅방 순서 설정, 광고, 동영상 삽입</th>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk10-01">
                                                    <label for="chk10-05"><span></span></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk9-02">
                                                    <label for="chk10-06"><span></span></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk9-03">
                                                    <label for="chk10-07"><span></span></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chk9-04">
                                                    <label for="chk10-08"><span></span></label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>    
                        <div class="btns btns-space mg24">
                            <button type="button" class="btn btn-default">목록</button>
                            <button type="button" class="btn btn-primary" id="btnRegister">생성</button>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>

        <!-- scripts -->
        @@include('../common/scripts.html')
        <script>
            $(function() {

                $('#authGroupName').on('keyup paste input', function() {
                    $(this).next('.count').find('.txt-length').text($(this).val().length);
                });

                // 생성하기 - 그룹명 중복 시
                $('#btnRegister').on('click', function() {
                    if ($('#authGroupName').val().length > 0 ) {
                        callAlert({
                            title: '이미 있는<br>권한 그룹명입니다.'
                        });
                    }
                });
            });
        </script>
    </body>
</html>