<!DOCTYPE html>
<html lang="ko">
    <head>
        @@include('../common/resources.html', { "type" : "admin" })
    </head>
    <body>

        <!-- header -->
        @@include('../common/header.html', { "active" : "활성화되어야하는 메뉴" })
       
        <div class="container-fluid">
            <div class="row">

                <!-- gnb -->
                @@include('../common/navigation.html')

                <!-- contents -->
                <div class="main" id="main">
                    @@include('../common/title.html', { "title" : "채팅", "sub" : "참여중인 채팅리스트를 관리하고 채팅을 할 수 있습니다." })

                    <div class="contents chat-contents scroll">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-secondary pull-right">단체 메시지 발송</button>
                        </div>
                        <div class="col-md-8">
                            <div class="chat">
                                <div class="chat-header">
                                    <span class="title">[유료] 성투 주식방 1</span>
                                    <span class="count">85/120</span>
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-default btn-sm">회원추가</button>
                                        <button type="button" class="btn btn-default btn-sm">신호발송</button>
                                        <div class="btn-group">
                                            <button type="button" class="btn " data-toggle="dropdown" aria-expanded="false">
                                                <span class="glyphicon glyphicon-menu-hamburger"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right chat-sub-menu" role="menu">
                                                <li>
                                                    <a href="#" data-toggle="modal" data-target="#modalNoticeList">
                                                        <span class="glyphicon glyphicon-bullhorn"></span>
                                                        공지사항
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal" data-target="#modalMemberList">
                                                        <span class="glyphicon glyphicon-user"></span>
                                                        회원목록
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="glyphicon glyphicon-signal"></span>
                                                        신호내역
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="glyphicon glyphicon-th"></span>
                                                        보유전광판
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="glyphicon glyphicon-cog"></span>
                                                        대화방 설정 
                                                    </a>
                                                </li>
                                                <li class="divider"></li>
                                                <li>
                                                    <a href="#">
                                                        <span class="glyphicon glyphicon-log-out"></span>
                                                        나가기
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- fixed notice -->
                                    <div class="chat-notice">
                                        <a href="#">성투주식방 공지</a>
                                    </div>
                                </div>
                                <div class="chat-body">
                                    <div class="scroll" id="chatBody">
                                        <div class="date">2021년 4월 10일</div>

                                        <!-- 
                                            .msg: 공통
                                            .general: 일반사용자 (왼쪽위치)
                                            .admin: 관리자(말풍선 컬러 다름)
                                            .my: 나 (오른쪽 위치)
                                            .signal: 신호메시지
                                        -->
                                        <div class="msg general">
                                            <div class="img">
                                                <img src="../../assets/images/photos/user-img-default.png">
                                            </div>
                                            <div class="info">
                                                <span class="name" data-toggle="popover" data-placement="right" title="나회원" 
                                                    data-html="true" data-content='가입기간: 2021.03.01 ~ 2021.05.20<br>가입비: 100만원 <button class="btn btn-secondary btn-sm">블락해제</button>'>나회원</span>
                                                <span class="time">오전 10:00</span>
                                                <div class="balloon">
                                                    <div class="inner">오늘도 성투하세요.</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="msg general">
                                            <div class="img">
                                                <img src="../../assets/images/photos/user-img-default.png">
                                            </div>
                                            <div class="info">
                                                <span class="name" data-toggle="popover" data-placement="right" title="김수로"
                                                    data-html="true" data-content='가입기간: 2021.03.01 ~ 2021.05.20<br>가입비: 100만원 <button class="btn btn-secondary btn-sm">블락해제</button>'
                                                >김수로</span>
                                                <span class="time">오전 10:00</span>
                                                <div class="balloon">
                                                    <div class="inner">여러분도!</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="msg my">
                                            <div class="info">
                                                <span class="time">오전 10:00</span>
                                                <div class="balloon">
                                                    <div class="inner">분석을 통해 실시간 종목을 추천합니다. 오늘도 성공투자!</div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- 신호메시지 -->
                                        <div class="msg my signal">
                                            <div class="info">
                                                <div class="time">오전 10:00</div>
                                                <div class="balloon">
                                                    <div class="inner">
                                                        <div style="color: red; font-weight: bold;">[매수] 신호입니다.</div>
                                                        ❖ 삼성전자 (005930) ❖<br><br>
                                                        ►매수가 : 85.000원 이하<br>
                                                        비중 : 10%<br>
                                                        익/손절가 : 실시간 제시<br><br>
                                                        삼성전자 현구간 2차 매수 진행합니다.<br>
                                                        의도적인 흔들기!! 비중확보 후 추가대응 통해 빠른 익절 진행하겠습니다.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="msg my signal">
                                            <div class="info">
                                                <div class="time">오전 10:00</div>
                                                <div class="balloon">
                                                    <div class="inner">
                                                        <div style="color: red; font-weight: bold;">[매수] 신호입니다.</div>
                                                        ❖ 삼성전자 (005930) ❖<br><br>
                                                        ►매수가 : 85.000원 이하<br>
                                                        비중 : 10%<br>
                                                        익/손절가 : 실시간 제시<br><br>
                                                        삼성전자 현구간 2차 매수 진행합니다.<br>
                                                        의도적인 흔들기!! 비중확보 후 추가대응 통해 빠른 익절 진행하겠습니다.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="msg my signal">
                                            <div class="info">
                                                <div class="time">오전 10:00</div>
                                                <div class="balloon">
                                                    <div class="inner">
                                                        <div style="color: red; font-weight: bold;">[매수] 신호입니다.</div>
                                                        ❖ 삼성전자 (005930) ❖<br><br>
                                                        ►매수가 : 85.000원 이하<br>
                                                        비중 : 10%<br>
                                                        익/손절가 : 실시간 제시<br><br>
                                                        삼성전자 현구간 2차 매수 진행합니다.<br>
                                                        의도적인 흔들기!! 비중확보 후 추가대응 통해 빠른 익절 진행하겠습니다.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="chat-input">
                                        <div class="pod-options">
                                            <ul>
                                                <li>
                                                    <div class="btn-group dropup">
                                                        <button type="button" class="btn btn-default" data-toggle="dropdown" aria-expanded="false">
                                                            <span class="glyphicon glyphicon-music"></span>
                                                        </button>
                                                        <ul class="dropdown-menu" role="menu">
                                                            <li>
                                                                <ul class="emoji-list">
                                                                    <li><span class="glyphicon glyphicon-heart"></span></li>
                                                                    <li><span class="glyphicon glyphicon-star"></span></li>
                                                                    <li><span class="glyphicon glyphicon-star-empty"></span></li>
                                                                    <li><span class="glyphicon glyphicon-apple"></span></li>
                                                                    <li><span class="glyphicon glyphicon-heart"></span></li>
                                                                    <li><span class="glyphicon glyphicon-star"></span></li>
                                                                    <li><span class="glyphicon glyphicon-star-empty"></span></li>
                                                                    <li><span class="glyphicon glyphicon-apple"></span></li>
                                                                    <li><span class="glyphicon glyphicon-heart"></span></li>
                                                                    <li><span class="glyphicon glyphicon-star"></span></li>
                                                                    <li><span class="glyphicon glyphicon-star-empty"></span></li>
                                                                    <li><span class="glyphicon glyphicon-apple"></span></li>
                                                                    <li><span class="glyphicon glyphicon-heart"></span></li>
                                                                    <li><span class="glyphicon glyphicon-star"></span></li>
                                                                    <li><span class="glyphicon glyphicon-star-empty"></span></li>
                                                                    <li><span class="glyphicon glyphicon-apple"></span></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li>
                                                    <label type="button" class="btn btn-default btn-file">
                                                        <span class="glyphicon glyphicon-picture" for="chatImageFile"></span>
                                                        <input type="file" id="chatImageFile">
                                                    </label>
                                                </li>
                                            </ul>
                                            <button type="button" class="btn btn-primary">전송</button>
                                        </div>
                                        <textarea class="form-control" rows="2" placeholder="메시지를 입력하세요." id="chatMsg"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <!-- tabs -->
                            <div>
                                <ul class="nav nav-tabs nav-justified">
                                    <li role="presentation" class="active"><a href="#allChatList" data-toggle="tab">전체 채팅방</a></li>
                                    <li role="presentation"><a href="#myChatList" data-toggle="tab">참여 채팅방</a></li>
                                </ul>
                            </div>
                            <div class="tab-content scroll">
                                <div class="tab-pane fade in active" id="allChatList">
                                    <form>
                                        <div class="form-group form-search">
                                            <label for="keywordAll" class="sr-only">검색</label>
                                            <input type="text" class="form-control" placeholder="채팅방명" id="keywordAll">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </div>
                                    </form>
                                    <div class="filter list-filter">
                                        <div class="btn-group pull-right">
                                            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                                전체 <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">유료</a></li>
                                                <li><a href="#">무료</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="chat-list">
                                        <div class="panel panel-default chat-card active">
                                            <div class="panel-body">
                                                <div class="chat-info">
                                                    <div class="img-thumb">
                                                        <img src="../../assets/images/photos/sample.jpeg" alt="채팅방 설정 이미지" >
                                                    </div>
                                                    <div class="infos">
                                                        <div class="title">
                                                            <span class="label label-warning">유료</span>
                                                            <span class="tt">성투 주식방 1</span>
                                                            <div class="desc">나 주식은 당신들의 재산을 많이 많이 불려줄 생각입니다. 나만 믿고 따라와봥</div>
                                                        </div>
                                                        <div class="count">
                                                            85/120
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="chat-thumb">
                                                    <span>감사합니다. 감사합니다. 감사합니다.감사합니다.감사합니다.감사합니다.감사합니다. 감사합니다.감사합니다.감사합니다.감사합니다.감사합니다.감사합니다.감사합니다.감사합니다.감사합니다.</span>
                                                    <span class="date">오후 4:20</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default chat-card">
                                            <div class="panel-body">
                                                <div class="chat-info">
                                                    <div class="img-thumb">
                                                        <img src="../../assets/images/photos/sample.jpeg" alt="채팅방 설정 이미지">
                                                    </div>
                                                    <div class="infos">
                                                        <div class="title">
                                                            <span class="label label-warning">유료</span>
                                                            <span class="tt">성투 주식방 2</span>
                                                            <div class="desc">나 주식은 당신들의 재산을 많이 많이 불려줄 생각입니다. 나만 믿고 따라와봥</div>
                                                        </div>
                                                        <div class="count">
                                                            70/120
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="chat-thumb">
                                                    <span>신호발송</span>
                                                    <span class="date">오후 3:00</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default chat-card">
                                            <div class="panel-body">
                                                <div class="chat-info">
                                                    <div class="img-thumb">
                                                        <img src="../../assets/images/photos/sample.jpeg" alt="채팅방 설정 이미지">
                                                    </div>
                                                    <div class="infos">
                                                        <div class="title">
                                                            <span class="tt">모두에게 공유하는 성투주식방입니다 컴온캄온콤온!</span>
                                                            <div class="desc">나 주식은 당신들의 재산을 많이 많이 불려줄 생각입니다. 나만 믿고 따라와봥</div>
                                                        </div>
                                                        <div class="count">
                                                            56/100
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="chat-thumb">
                                                    <span>오늘 상승률 100%입니다!</span>
                                                    <span class="date">4월 10일</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default chat-card">
                                            <div class="panel-body">
                                                <div class="chat-info">
                                                    <div class="img-thumb">
                                                        <img src="../../assets/images/photos/sample.jpeg" alt="채팅방 설정 이미지">
                                                    </div>
                                                    <div class="infos">
                                                        <div class="title">
                                                            <span class="label label-warning">유료</span>
                                                            <span class="tt">성투 주식방 3</span>
                                                            <div class="desc">나 주식은 당신들의 재산을 많이 많이 불려줄 생각입니다. 나만 믿고 따라와봥</div>
                                                        </div>
                                                        <div class="count">
                                                            75/80
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="chat-thumb">
                                                    <span>감사합니다.</span>
                                                    <span class="date">4월 9일</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default chat-card">
                                            <div class="panel-body">
                                                <div class="chat-info">
                                                    <div class="img-thumb">
                                                        <img src="../../assets/images/photos/sample.jpeg" alt="채팅방 설정 이미지">
                                                    </div>
                                                    <div class="infos">
                                                        <div class="title">
                                                            <span class="label label-warning">유료</span>
                                                            <span class="tt">성투 주식방 4</span>
                                                            <div class="desc">나 주식은 당신들의 재산을 많이 많이 불려줄 생각입니다. 나만 믿고 따라와봥</div>
                                                        </div>
                                                        <div class="count">
                                                            75/80
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="chat-thumb">
                                                    <span>ㅋㅋㅋㅋㅋㅋ</span>
                                                    <span class="date">4월 8일</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- 전체 채팅방 -->

                                <!-- 참여 채팅방 -->
                                <div class="tab-pane fade" id="myChatList">
                                    <form>
                                        <div class="form-group form-search">
                                            <label for="keywordMy" class="sr-only">검색</label>
                                            <input type="text" class="form-control" placeholder="채팅방명" id="keywordMy">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </div>
                                    </form>

                                    <!-- 목록이 1개 이상 존재할 경우에만 filter 노출 -->
                                    <div class="filter list-filter" style="display: none;">
                                        <div class="btn-group pull-right">
                                            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown"
                                                aria-expanded="false">
                                                전체 <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">유료</a></li>
                                                <li><a href="#">무료</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="chat-list">
                                        <div class="no-result">
                                            <span class="glyphicon glyphicon-warning-sign"></span>
                                            관리하는 채팅방이 없습니다.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- 공지사항 모달 -->
        <div class="modal fade modal-list" id="modalNoticeList" aria-labelledby="modalNoticeListLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">공지사항</h4>
                    </div>
                    <div class="modal-body">
                        <div class="scrolling">
                            <ul class="notice-list">
                                <li>
                                    <div class="notice">
                                        <div class="title">
                                            <span>성투주식방 공지1 성투주식방 공지1 성투주식방 공지1 성투주식방 공지1 성투주식방 공지1 성투주식방 공지1 성투주식방 공지1</span>
                                            <span class="thumb">안녕하세요~ 성투주식방의 나주식입니다. 안녕하세요~ 성투주식방의 나주식입니다. 안녕하세요~ 성투주식방의 나주식입니다. 안녕하세요~ 성투주식방의 나주식입니다.</span>
                                        </div>
                                        <div class="reg-info">
                                            <span>2021.03.30</span>
                                            <span class="label label-default">나주식</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="notice">
                                        <div class="title">
                                            <span>성투주식방 공지1</span>
                                            <span class="thumb">안녕하세요~ 성투주식방의 나주식입니다.</span>
                                        </div>
                                        <div class="reg-info">
                                            <span>2021.03.30</span>
                                            <span class="label label-default">확실한</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="notice">
                                        <div class="title">
                                            <span>성투주식방 공지1</span>
                                            <span class="thumb">안녕하세요~ 성투주식방의 나주식입니다.</span>
                                        </div>
                                        <div class="reg-info">
                                            <span>2021.03.30</span>
                                            <span class="label label-default">나주식</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="notice">
                                        <div class="title">
                                            <span>성투주식방 공지1</span>
                                            <span class="thumb">안녕하세요~ 성투주식방의 나주식입니다.</span>
                                        </div>
                                        <div class="reg-info">
                                            <span>2021.03.30</span>
                                            <span class="label label-default">이성투</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="notice">
                                        <div class="title">
                                            <span>성투주식방 공지1</span>
                                            <span class="thumb">안녕하세요~ 성투주식방의 나주식입니다.</span>
                                        </div>
                                        <div class="reg-info">
                                            <span>2021.03.30</span>
                                            <span class="label label-default">이성투</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">공지등록</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 회원목록 모달 -->
        <div class="modal fade modal-list" id="modalMemberList" aria-labelledby="modalMemberListLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">회원목록</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group form-search">
                                <span class="glyphicon glyphicon-search"></span>
                                <input type="text" class="form-control" placeholder="회원 검색">
                            </div>
                        </form>
                        <div class="scrolling">
                            <ul class="user-list">
                                <li>
                                    <div class="user">
                                        <div class="img">
                                            <img src="../../assets/images/photos/user-img-default.png" alt="OOO 회원님의 프로필 이미지" >
                                        </div>
                                        <div class="info">
                                            <span class="name">나회원</span>
                                            <span class="valid-term">
                                                유료회원 기간 2021.03.01 ~ 2021.05.31
                                            </span>
                                        </div>
                                        <div class="ex-func">
                                            <div class="checkbox">
                                                <label for="chk1">
                                                    <input type="checkbox" id="chk1">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="user">
                                        <div class="img block">
                                            <img src="../../assets/images/photos/user-img-default.png" alt="OOO 회원님의 프로필 이미지">
                                        </div>
                                        <div class="info">
                                            <span class="name">김수로</span>
                                            <span class="valid-term">
                                                유료회원 기간 2021.03.01 ~ 2021.05.31
                                            </span>
                                        </div>
                                        <div class="ex-func">
                                            <button type="button" class="btn btn-secondary btn-sm">블락해제</button>
                                            <div class="checkbox">
                                                <label for="chk2">
                                                    <input type="checkbox" id="chk2">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="user">
                                        <div class="img">
                                            <img src="../../assets/images/photos/user-img-default.png" alt="OOO 회원님의 프로필 이미지">
                                        </div>
                                        <div class="info">
                                            <span class="name">홍금보</span>
                                            <span class="valid-term">
                                                유료회원 기간 2021.03.01 ~ 2021.05.31
                                            </span>
                                        </div>
                                        <div class="ex-func">
                                            <div class="checkbox">
                                                <label for="chk3">
                                                    <input type="checkbox" id="chk3">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="user">
                                        <div class="img">
                                            <img src="../../assets/images/photos/user-img-default.png" alt="OOO 회원님의 프로필 이미지">
                                        </div>
                                        <div class="info">
                                            <span class="name">김수로</span>
                                            <span class="valid-term">
                                                유료회원 기간 2021.03.01 ~ 2021.05.31
                                            </span>
                                        </div>
                                        <div class="ex-func">
                                            <div class="checkbox">
                                                <label for="chk4">
                                                    <input type="checkbox" id="chk4">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="user">
                                        <div class="img">
                                            <img src="../../assets/images/photos/user-img-default.png" alt="OOO 회원님의 프로필 이미지">
                                        </div>
                                        <div class="info">
                                            <span class="name">홍금보</span>
                                            <span class="valid-term">
                                                유료회원 기간 2021.03.01 ~ 2021.05.31
                                            </span>
                                        </div>
                                        <div class="ex-func">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="user">
                                        <div class="img">
                                            <img src="../../assets/images/photos/user-img-default.png" alt="OOO 회원님의 프로필 이미지">
                                        </div>
                                        <div class="info">
                                            <span class="name">홍금보</span>
                                            <span class="valid-term">
                                                유료회원 기간 2021.03.01 ~ 2021.05.31
                                            </span>
                                        </div>
                                        <div class="ex-func">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="user">
                                        <div class="img">
                                            <img src="../../assets/images/photos/user-img-default.png" alt="OOO 회원님의 프로필 이미지">
                                        </div>
                                        <div class="info">
                                            <span class="name">홍금보</span>
                                            <span class="valid-term">
                                                유료회원 기간 2021.03.01 ~ 2021.05.31
                                            </span>
                                        </div>
                                        <div class="ex-func">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="user">
                                        <div class="img">
                                            <img src="../../assets/images/photos/user-img-default.png" alt="OOO 회원님의 프로필 이미지">
                                        </div>
                                        <div class="info">
                                            <span class="name">홍금보</span>
                                            <span class="valid-term">
                                                유료회원 기간 2021.03.01 ~ 2021.05.31
                                            </span>
                                        </div>
                                        <div class="ex-func">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="user">
                                        <div class="img">
                                            <img src="../../assets/images/photos/user-img-default.png" alt="OOO 회원님의 프로필 이미지">
                                        </div>
                                        <div class="info">
                                            <span class="name">홍금보</span>
                                            <span class="valid-term">
                                                유료회원 기간 2021.03.01 ~ 2021.05.31
                                            </span>
                                        </div>
                                        <div class="ex-func">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="user">
                                        <div class="img">
                                            <img src="../../assets/images/photos/user-img-default.png" alt="OOO 회원님의 프로필 이미지">
                                        </div>
                                        <div class="info">
                                            <span class="name">홍금보</span>
                                            <span class="valid-term">
                                                유료회원 기간 2021.03.01 ~ 2021.05.31
                                            </span>
                                        </div>
                                        <div class="ex-func">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">강퇴</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- scripts -->
        @@include('../common/scripts.html')
        <script>
            $(function() {
                var divHeight = '';
                var browserHeight = document.documentElement.clientHeight;
                divHeight = browserHeight - (70 + 49 + 82 + 42 + 12);
                $('.chat-contents').find('.tab-content').css('height', divHeight+'px');
                $('.chat-body').find('.scroll').css('height', divHeight-78+'px');

                $('.chat-body').find('.scroll').scrollTop(divHeight);

                // 사용자 툴팁
                $('.msg .info .name').popover();

                $('#chatMsg').keyup(function(event) {
                    event.preventDefault;
                    var code = event.keyCode ? event.keyCode : event.which;

                    console.log(code);
                    if ( code === 13 ) {
                        if ( event.shiftKey === true ) {
                            // 새로운 라인 입력
                        } else {
                            sendMessage();
                        }
                        return false;
                    }
                });
            });

            function sendMessage() {
                var txt = $('#chatMsg').val();
                var _html = '<div class="msg my">'
                        +       '<div class="info">'
                        +           '<span class="time">' + getChatDate() + '</span>'
                        +           '<div class="balloon">'
                        +               '<div class="inner">' + txt.replace(/\n/g, '<br>') + '</div>'
                        +           '</div>'
                        +       '</div>'
                        + '</div>';

                $('#chatBody').append(_html);

                console.log($('#chatBody').innerHeight());
            }

        </script>
    </body>
</html>