<!DOCTYPE html>
<html lang="ko">
    <head>
        @@include('../common/resources.html', { "type" : "admin" })
    </head>
    <body>

        <!-- header -->
        @@include('../common/header.html', { "active" : "활성화되어야하는 메뉴" })
       
        <div class="container-fluid">
            <div class="row">

                <!-- gnb -->
                @@include('../common/navigation.html')

                <!-- contents -->
                <div class="main">
                    @@include('../common/title.html', { "title" : "게시물 상세", "sub" : "주식 서비스 플랫폼 게시물을 관리할 수 있습니다." })
                
                    <div class="contents">
                  
                        <!-- contents -->
                        <div class="detail-content">
                            <div class="detail-post">
                                <div class="detail-post-hd">
                                    <div class="post-title"><label class="label label-best">Best</label> 흔들리는 시장…'배당株' 주목</div>
                                    <div class="post-info">
                                        <div class="pull-left">
                                            <span class="writter">hongadmin</span>
                                            <span class="vertical"></span>
                                            <span class="date">2021-05-14</span>
                                        </div>
                                        <div class="pull-right">
                                            <span class="comment">댓글 <span class="txt-em">24</span></span>
                                            <span class="vertical"></span>
                                            <span class="view">조회수 <span class="txt-em">120</span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="detail-post-bd">
                                    <!-- 첨부파일 영역 -->
                                    <!-- <div class="attachment">
                                        <label>첨부파일</label>
                                        <span class="file">
                                            <a href="#">File3567-1.jpg</a>
                                        </span>
                                        <span class="file">
                                            <a href="#">imageimage....12344567890.jpg</a>
                                        </span>
                                    </div> -->
                                    <div class="contents">

                                        안녕하세요~ 성공투자주식방의 나주식입니다.<br><br>
                                        코스피 지수가 4거래일 연속 상승하며 사상 최고치를 경신했다. <br>
                                        코스닥도 반등해 1000선에 바짝 다가섰다.<br> 
                                        미국 고용 지표가 예상보다 부진하게 나온 것이 되레 긴축 우려를 잠재우면서 주가 상승을 부추긴 격이 됐다. 공매도 재개를 앞두고 비틀거리던 증시는 어느새 급락에 대한 불안감을 훌훌 털어버린 듯한 모습이다.<br><br>
                                        10일 코스피는 전 거래일보다 1.63%(52.10포인트) 오른 3249.30에 마감하며 지난달 20일(3220.70) 이후 13거래일 만에 사상 최고 기록을 다시 세웠다.<br><br>
                                        장 초반 개인 매수세와 함께 상승 출발한 코스피는 외국인과 기관이 차례로 매수 규모를 늘리며 순매수로 전환하면서 한층 강한 상승세를 보였다.

                                        <img src="../assets/images/photos/sample.jpeg" alt="">
                                        <img src="../assets/images/photos/sample.jpeg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- btns -->
                        <div class="btns btns-space mg16">
                            <div class="pull-left">
                                <a type="button" class="btn btn-default" href="./wa_10_board_post_detail.html">목록</a>
                                <button type="button" class="btn btn-default">승인</button>
                            </div>
                            <div class="pull-right">
                                <button type="button" class="btn btn-secondary" id="btnDelete">삭제</button>
                                <button type="button" class="btn btn-primary">수정</button>
                            </div>
                        </div>

                        <!-- 댓글 -->
                        @@include('../common/comment.html')

                        <div class="btns btns-right">
                            <button type="button" class="btn btn-top"></button>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>

        <!-- scripts -->
        @@include('../common/scripts.html')
        <script>
            $(function() {

                // 유형 선택 
                $('#selectChatType').on('change', function() {
                    if ($(this).val() === '1') {
                        $('#formPayment').find('input').removeAttr('disabled');
                        $('#btnPayment').removeAttr('disabled');
                    } else {
                        $('#formPayment').find('input').attr('disabled', true);
                        $('#btnPayment').attr('disabled', true);
                    }
                });
            
                // 신청 거절
                $('#btnReject').on('click', function() {
                    callConfirm(
                    { title: '유료방 요청건을<br>거절하시겠습니까?'}, 
                    onClickReject,
                    { cancel: '취소', confirm: '거절'});
                });

                // 결제완료
                $('#btnCompleted').on('click', function() {
                    callAlert({
                        title: '결제가 완료되었습니다.',
                        description: '회원님은 채팅방에<br>가입처리되었습니다.'
                    });
                });

                // 게시물 삭제
                $('#btnDelete').on('click', function() {
                    callConfirm({
                        title: '게시글을 삭제하시겠습니까?'
                    }, function() {} , { cancel: '취소', confirm: '삭제'} );
                });

                // top 버튼
                $('.btn-top').on('click', function() {
                    $('html, body').animate({
                        scrollTop: 0
                    }, 500);
                });

                // 댓글 삭제
                $('.comment-list').find('.btn').on('click', function() {
                    callConfirm({
                        title: '댓글을<br>삭제하시겠습니까?'
                    }, function() {}, { cancel: '취소', confirm: '삭제' });
                });
            });

            function onClickReject() {
                callAlert({ title: '거절되었습니다.' });
            }
        </script>
    </body>
</html>