<!DOCTYPE html>
<html lang="ko">
    <head>
        @@include('../common/resources.html', { "type" : "admin" })
    </head>
    <body>

        <!-- header -->
        @@include('../common/header.html', { "active" : "활성화되어야하는 메뉴" })
       
        <div class="container-fluid">
            <div class="row">

                <!-- gnb -->
                @@include('../common/navigation.html')

                <!-- contents -->
                <div class="main">
                    @@include('../common/title.html', { "title" : "FAQ", "sub" : "자주 묻는 질문(FAQ)을 등록, 관리할 수 있습니다." })

                    <div class="contents">
                        <!-- 검색 -->
                        <div class="area-search">
                            <div class="form-inline">
                                <div class="form-group">
                                    <label for="">기간</label>
                                    <div class="date-inline">
                                        <div class="date-box">
                                            <input type="text" class="form-control datepicker" placeholder="시작일">
                                            <span class="glyphicon glyphicon-calendar"></span> 
                                        </div>
                                        <div class="date-box">
                                            <input type="text" class="form-control datepicker" placeholder="종료일">
                                            <span class="glyphicon glyphicon-calendar"></span> 
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="">문의유형</label>
                                    <select class="form-control">
                                        <option value="">전체</option>
                                        <option value="">가입/로그인</option>
                                        <option value="">유료방/체험방</option>
                                        <option value="">채팅</option>
                                        <option value="">신호/보유전광판</option>
                                        <option value="">게시판</option>
                                        <option value="">기타</option>
                                    </select>
                                </div>
                                <div class="form-group form-in-btn">
                                    <label for="" class="sr-only">검색어</label>
                                    <input type="text" class="form-control keyword" placeholder="검색어 입력">
                                    <button type="button" class="btn btn-secondary" id="btnSearch">검색</button>
                                </div>
                            </div>
                        </div>


                        <!-- 목록 -->
                        <div class="area-list">
                            <div class="area-list-header">
                                <div class="pull-left">
                                    Total <span class="count">100</span>
                                </div>
                            </div>
                            <div class="area-list-body">
                                <table class="table table-bordered data-list">
                                    <thead>
                                        <tr>
                                            <th>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="all-chk">
                                                    </label>
                                                </div>
                                            </th>
                                            <th>No.</th>
                                            <th>노출여부 <span class="glyphicon glyphicon-sort-by-attributes-alt"></span></th>
                                            <th>문의유형</th>
                                            <th>제목</th>
                                            <th>작성자</th>
                                            <th>등록일 <span class="glyphicon glyphicon-sort-by-attributes-alt"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="select-chk">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>100</td>
                                            <td>노출</td>
                                            <td>신호/보유전광판</td>
                                            <td>
                                                <span class="ellipsis"><a href="#">받은 신호 확인은 어디서 하나요?</a>
                                            </td>
                                            <td>박민</td>
                                            <td>2021.04.07</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="select-chk">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>99</td>
                                            <td>노출</td>
                                            <td>게시판</td>
                                            <td><span class="ellipsis"><a href="#">게시판에 글을 올리고 싶어요.</a></span></td>
                                            <td>나주민</td>
                                            <td>2021.03.20</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="select-chk">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>98</td>
                                            <td>노출</td>
                                            <td>신호/보유전광판</td>
                                            <td><span class="ellipsis"><a href="#">신호가 오지 않아요.</a></span></td>
                                            <td>김고정</td>
                                            <td>2021.03.20</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="select-chk">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>97</td>
                                            <td>노출</td>
                                            <td>채팅</td>
                                            <td><span class="ellipsis"><a href="#">제목</a></span></td>
                                            <td>박민</td>
                                            <td>2021.03.16</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="select-chk">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>96</td>
                                            <td>노출</td>
                                            <td>채팅</td>
                                            <td><span class="ellipsis"><a href="#">제목 </a></span></td>
                                            <td>박민</td>
                                            <td>2021.03.16</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="select-chk">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>95</td>
                                            <td>노출</td>
                                            <td>채팅</td>
                                            <td><span class="ellipsis"><a href="#">제목</a></span></td>
                                            <td>박민</td>
                                            <td>2021.03.15</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="select-chk">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>94</td>
                                            <td>노출</td>
                                            <td>유료방/체험방</td>
                                            <td><span class="ellipsis"><a href="#">제목</a></span></td>
                                            <td>박민</td>
                                            <td>2021.03.15</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="select-chk">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>93</td>
                                            <td>노출</td>
                                            <td>가입/로그인</td>
                                            <td><span class="ellipsis"><a href="#">비밀번호를 변경하고 싶어요.</a></span></td>
                                            <td>박민</td>
                                            <td>2021.03.01</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="select-chk">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>92</td>
                                            <td>미노출</td>
                                            <td>가입/로그인</td>
                                            <td><span class="ellipsis"><a href="#">로그인이 안되요.</a></span></td>
                                            <td>박민</td>
                                            <td>2021.03.01</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="select-chk">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>91</td>
                                            <td>노출</td>
                                            <td>가입/로그인</td>
                                            <td><span class="ellipsis"><a href="#">회원가입이 안되요.</a></span></td>
                                            <td>박민</td>
                                            <td>2021.03.01</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="btns btns-right">
                                    <button type="button" class="btn btn-default" id="btnDelete">삭제</button>
                                    <a type="button" class="btn btn-primary" href="./wa_11_operation_faq_register.html">등록</a>
                                </div>
                                
                                @@include('../common/pagination.html')
                            </div>

                            <!-- 내역 없음 -->
                            <div class="area-empty" style="display: none">
                                <div class="date-empty">
                                    <strong>등록된 정보가<br>없습니다.</strong>
                                </div>
                            </div>


                    </div>
                </div>
            </div>
        </div>

        <!-- scripts -->
        @@include('../common/scripts.html')
        <script>
            $(function() {
                // 검색
                $('#btnSearch').on('click', function() {
                    $('.area-list-body').css('display', 'none');
                    $('.area-empty').fadeIn();
                });

                // 전체 선택
                $('input[name=all-chk]').on('change', function() {
                    if ( $(this).is(':checked') ) {
                        //
                        $('input[name=select-chk]').each(function() {
                            $(this).prop('checked', true);
                        });
                    } else {
                        $('input[name=select-chk]').each(function() {
                            $(this).prop('checked', false);
                        });
                    }
                });

                // 삭제
                $('#btnDelete').on('click', function() {
                    const checkedCount = $('input[name=select-chk]:checked').length;
                    if ( checkedCount > 0 ) {
                        callAlert({ title: '게시글을 삭제하시겠습니까?' });
                    }
                });
            });
        </script>
    </body>
</html>