<!DOCTYPE html>
<html lang="ko">
    <head>
        @@include('../common/resources.html', { "type" : "admin" })
        <link href="../../assets/css/quill.snow.css" rel="stylesheet">
    </head>
    <body>

        <!-- header -->
        @@include('../common/header.html', { "active" : "활성화되어야하는 메뉴" })
       
        <div class="container-fluid">
            <div class="row">

                <!-- gnb -->
                @@include('../common/navigation.html')

                <!-- contents -->
                <div class="main">
                    @@include('../common/title.html', { "title" : "정책/약관 등록", "sub" : "주식 서비스 플랫폼 정책/약관을 등록, 관리할 수 있습니다." })
                
                    <div class="contents">
                        <div class="table-no-hd">
                            <table class="table table-form">
                                <colgroup>
                                    <col style="width: 12%">
                                    <col style="width: 38%">
                                    <col style="width: 12%">
                                    <col style="width: 38%">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>정책</th>
                                        <td colspan="3">
                                            <select class="form-control" style="width: 200px;">
                                                <option value="">이용약관</option>
                                                <option value="">운영약관</option>
                                                <option value="">개인정보 처리방침</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>내용</th>
                                        <td colspan="3">
                                            <div class="txt-editor" id="postEditor">
                                                이용약관<br><br>
 
Hize 주식 서비스를 이용해주셔서 감사합니다. <br>
세밀한 분석을 바탕으로 빠르고 정확한 주식 투자 가이드를 제공하는 Hize의 이용방침을 확인해주세요.<br><br>


제 1조 (목적 및 정의)<br>
1.이 약관은 ”(주)V1인베스트먼트"(이하 ＂회사"이라 한다.)에서 운영하는 웹서비스의 이용조건 및 절차에 관한 사항을 명시합니다.<br><br>
2.회원가입에 대한 내용을 충분히 숙지하신 후 가입하여 주시고, 이 약관은 본 진흥원에서 운영하는 모든 웹서비스를 이용하는 모든 회원에게 적용되며 이를 읽고 이해하는 것은 귀하의 책임입니다.<br><br>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>
[ 법적고지일 ]<br>
공고일자 : 2021년 07월 10일<br>
시행일자 : 2021년 07월 15일<br>
                                            </div>
                                            <span class="txt-red">* 정책/약관 생성 및 수정 시 법적고지일을 꼭! 기입해주세요.</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>변경자</th>
                                        <td><span class="data">박민</span></td>
                                        <th>변경일</th>
                                        <td>
                                            <span class="data">2021.05.12</span>
                                            <span class="info">정책/약관은 최근 변경일 기준으로 배포됩니다.</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="btns btns-right">
                                <a type="button" class="btn btn-default" href="./wa_11_operation_terms.html">취소</a>
                                <button type="button" class="btn btn-primary">수정</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- scripts -->
        @@include('../common/scripts.html')
        <script src="../../assets/js/quill.min.js"></script>
        <script>
            $(function() {
                var toolbarOptions = [
                    [{ 'font': [] }],
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

                    ['bold', 'italic', 'underline', 'strike'],
                    ['blockquote', 'code-block'],

                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    [{ 'indent': '-1'}, { 'indent': '+1' }],          
                    
                    [{ 'color': [] }, { 'background': [] }],          
                    [{ 'align': [] }],
                    // ['image'],
                    ['clean'],         
                ];

                var quill = new Quill('#postEditor', {
                    theme: 'snow',
                    placeholder: '내용을 입력해주세요.',
                    modules: {
                        toolbar: toolbarOptions
                    }
                });
            });
        </script>
    </body>
</html>