<!DOCTYPE html>
<html lang="ko">
    <head>
        @@include('../common/resources.html', { "type" : "admin" })
    </head>
    <body>

        <!-- header -->
        @@include('../common/header.html', { "active" : "활성화되어야하는 메뉴" })
       
        <div class="container-fluid">
            <div class="row">

                <!-- gnb -->
                @@include('../common/navigation.html')

                <!-- contents -->
                <div class="main">
                    @@include('../common/title.html', { "title" : "앱메인 관리", "sub" : "Hize앱 메인을 관리할 수 있습니다." })

                    <div class="contents">

                        <!-- tabs -->
                        <ul class="nav nav-tabs nav-justified detail-tabs detail-tabs-b" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#tabBasic" aria-controls="tabBasic" role="tab" data-toggle="tab">기본 설정</a>
                            </li>
                            <li role="presentation">
                                <a href="#tabPaidChat" aria-controls="tabPaidChat" role="tab" data-toggle="tab">유료방</a>
                            </li>
                            <li role="presentation">
                                <a href="#tabFreeChat" aria-controls="tabFreeChat" role="tab" data-toggle="tab">체험방</a>
                            </li>
                            <li role="presentation">
                                <a href="#tabAdvertise" aria-controls="tabAdvertise" role="tab" data-toggle="tab">광고 삽입</a>
                            </li>
                            <li role="presentation">
                                <a href="#tabVideo" aria-controls="tabVideo" role="tab" data-toggle="tab">동영상 삽입</a>
                            </li>
                        </ul>

                        <!-- contents -->
                        <div class="tab-content detail-content">
                            <div role="tabpane" class="tab-pane fade in active" id="tabBasic">
                                @@include('./inside/wa_12_user_app_main_tabbasic.html')
                            </div>
                            <div role="tabpane" class="tab-pane fade" id="tabPaidChat">
                                @@include('./inside/wa_12_user_app_main_tabpaidchat.html')
                            </div>
                            <div role="tabpane" class="tab-pane fade" id="tabFreeChat">
                                @@include('./inside/wa_12_user_app_main_tabfreechat.html')
                            </div>
                            <div role="tabpane" class="tab-pane fade" id="tabAdvertise">
                                @@include('./inside/wa_12_user_app_main_tabadvertise.html')
                            </div>
                            <div role="tabpane" class="tab-pane fade" id="tabVideo">
                                @@include('./inside/wa_12_user_app_main_tabvideo.html')
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 광고 추가 팝업 -->
        @@include('./inside/wa_12_user_app_main_popup_advertise.html')

        <!-- 동영상 추가 팝업 -->
        @@include('./inside/wa_12_user_app_main_popup_video.html')

        <!-- scripts -->
        @@include('../common/scripts.html')
        <script>
            $(function() {

                $('.nav-tabs').find('a[href="#tabBasic"]').tab('show');

                // 목록 Sortable
                $('.tb-list-bd').sortable({
                    placeholder: "ui-state-highlight",
                    update: function( event, ui ) {
                        // 다시 채번하기
                        $('#sortableBox li').each(function(index) {
                            $(this).find('.cell').eq(0).text( index + 1 );
                        });
                    }
                });

                // 광고
                $('#allChk').on('change', function() {
                    if ($(this).is(':checked')) {
                        $('input[name=ad-select]').each(function() {
                            $(this).prop('checked', true);
                        });
                    } else {
                        $('input[name=ad-select]').each(function() {
                            $(this).prop('checked', false);
                        });
                    }
                });

                $('#btnAddAdvertise').on('click', function() {
                    const count = $('input[name=ad-select]').length;

                    if (count === 10 ) {
                        callAlert({
                            title: '광고 건수가 초과되었습니다.',
                            description: '광고는 최대 10개까지<br>등록 가능합니다.'
                        });
                    }
                });

                // 동영상
                $('#allVideoChk').on('change', function() {
                    if ($(this).is(':checked')) {
                        $('input[name=video-select]').each(function() {
                            $(this).prop('checked', true);
                        });
                    } else {
                        $('input[name=video-select]').each(function() {
                            $(this).prop('checked', false);
                        });
                    }
                });

                $('#btnAddVideoUrl').on('click', function() {
                    const url = $('#videoUrl').val();
                    $('#player').attr('src', url);
                });

                // 글자수 카운트
                $('.table-form').find('.form-control').on('change keyup input', function() {
                    var count = $(this).val().length;
                    $(this).next('.count').find('.txt-length').text(count);
                });

            });
        </script>
    </body>
</html>