<!DOCTYPE html>
<html lang="ko">
    <head>
        @@include('../common/resources.html', { "type" : "admin" })
        <link href="../../assets/css/quill.snow.css" rel="stylesheet">
    </head>
    <body>

        <!-- header -->
        @@include('../common/header.html', { "active" : "활성화되어야하는 메뉴" })
       
        <div class="container-fluid">
            <div class="row">

                <!-- gnb -->
                @@include('../common/navigation.html')

                <!-- contents -->
                <div class="main">
                    @@include('../common/title.html', { "title" : "게시물 쓰기", "sub" : "주식 서비스 플랫폼 게시물을 관리할 수 있습니다." })
                
                    <div class="contents">
                  
                        <!-- contents -->
                        <div class="detail-content">
                            <div class="detail-post detail-register">
                                <div class="detail-post-hd">
                                    <div class="form-inline">
                                        <div class="form-group">
                                            <label for="" class="sr-only">게시물 제목</label>
                                            <input type="text" class="form-control" placeholder="제목을 입력해주세요. (40자 이내)" id="postTitle">
                                        </div>
                                        <div class="checkbox">
                                            <span>
                                                <input type="checkbox"  name="post-type" value="notice" id="postType1">
                                                <label for="postType1">
                                                    <span>공지</span>
                                                </label>
                                            </span>
                                            <span>
                                                <input type="checkbox"  name="post-type" value="best" id="postType2">
                                                <label for="postType2">
                                                    <span>베스트글</span>
                                                </label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="detail-post-bd">
                                    <div class="contents">
                                        <div id="postEditor" class="txt-editor"></div>
                                    </div>
                                    <!-- 첨부파일 영역 -->
                                    <div class="attachment">
                                        <div class="files-btn">
                                            <label type="button" class="btn btn-default" for="imgAttachment">
                                                <span class="icon icon-plus"></span>
                                                이미지첨부
                                                <input type="file" id="imgAttachment" accept=".git,.jpg,.jpeg,.png">
                                            </label>
                                        </div>
                                        <div class="files">
                                            <div class="file">
                                                <img src="../../assets/images/photos/sample.jpeg">
                                                <!-- <a href="#">File3567-1.jpg</a> -->
                                                <span class="icon icon-img-del"></span>
                                            </div>
                                            <div class="file">
                                                <img src="../../assets/images/photos/sample.jpeg">
                                                <span class="icon icon-img-del"></span>
                                            </div>
                                            <div class="file">
                                                <img src="../../assets/images/photos/sample.jpeg">
                                                <span class="icon icon-img-del"></span>
                                            </div>
                                        </div>
                                        <div class="txt-guide">* 이미지는 최대 3개, 파일당 3MB까지 첨부 가능합니다.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- btns -->
                        <div class="btns btns-space mg16">
                            <a type="button" class="btn btn-default" href="./wa_10_board_post_list.html">목록</a>
                            <button type="button" class="btn btn-primary" id="btnRegister">등록</button>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>

        <!-- scripts -->
        @@include('../common/scripts.html')
        <script src="../../assets/js/quill.min.js"></script>
        <script>
            $(function() {
                
                // 게시물 타입 설정
                $('input[name=post-type]').on('change', function() {

                    // 둘 중 1개만 선택
                    // 둘 다 미선택 경우가 있기 때문에 checkbox로 구성
                    if ( $(this).is(':checked') ) {
                        $('input[name=post-type]').not($(this)).prop('checked', false);
                    }
                });

                // 취소 버튼 클릭
                $('#btnCancel').on('click', function() {
                    const titleLength = $('#postTitle').val().length;
                    const contentLength = $('#postContent').val().length;

                    if ( titleLength > 0 || contentLength > 0 ) {
                        callConfirm({
                            title: '글쓰기 화면에서 나가시겠습니까?',
                            description: '이 페이지를 벗어나면<br>입력한 내용은 저장되지 않습니다.'
                        }, onClickExit, {
                            cancel: '취소',
                            confirm: '나가기'
                        });
                    } else {
                        onClickExit();
                    }
                });

                var toolbarOptions = [
                    [{ 'font': [] }],
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

                    ['bold', 'italic', 'underline', 'strike'],
                    ['blockquote', 'code-block'],

                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    [{ 'indent': '-1'}, { 'indent': '+1' }],          
                    
                    [{ 'color': [] }, { 'background': [] }],          
                    [{ 'align': [] }],
                    // ['image'],
                    ['clean'],         

                    //[{'header': 1}, {'header': 2}, {'header': 3}],
                    //[{ 'script': 'sub'}, { 'script': 'super' }],      
                    //[{ 'direction': 'rtl' }],                         
                    //[{ 'size': ['small', false, 'large', 'huge'] }],  
                ];

                var quill = new Quill('#postEditor', {
                    theme: 'snow',
                    placeholder: '내용을 입력해주세요.',
                    modules: {
                        toolbar: toolbarOptions
                    }
                });
                
            });


            function onClickExit() {
                //
                window.location.href = './wa_10_board_post_list.html';
            }
        </script>
    </body>
</html>