<!DOCTYPE html>
<html lang="ko">
    <head>
        @@include('../common/resources.html', { "type" : "admin" })
    </head>
    <body>

        <!-- header -->
        @@include('../common/header.html', { "active" : "활성화되어야하는 메뉴" })
       
        <div class="container-fluid">
            <div class="row">

                <!-- gnb -->
                @@include('../common/navigation.html')

                <!-- contents -->
                <div class="main">
                    @@include('../common/title.html', { "title" : "관리자 권한 요청", "sub" : "관리자 승인과 권한 부여를 할 수 있습니다." })
                
                    <div class="contents">
                        <div class="detail-content">
                            <h4 class="detail-content-hd">요청인 정보</h4>
                            <table class="table table-form">
                                <colgroup>
                                    <col style="width: 12%">
                                    <col style="width: 38%">
                                    <col style="width: 12%">
                                    <col style="width: 38%">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>이름</th>
                                        <td><span class="data">장말숙</span></td>
                                        <th>아이디</th>
                                        <td><span class="data">modelpark</span></td>
                                    </tr>
                                    <tr>
                                        <th>전화번호</th>
                                        <td><span class="data">010-1234-1234</span></td>
                                        <th>이메일</th>
                                        <td><span class="data">modelpark@gmail.com</span></td>
                                    </tr>
                                    <tr>
                                        <th>부서</th>
                                        <td>
                                            <input type="text" class="form-control" placeholder="부서 입력">
                                        </td>
                                        <th>직급</th>
                                        <td>
                                            <input type="text" class="form-control" placeholder="직급 입력">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <h4 class="detail-content-hd">권한 정보</h4>
                            <div class="mg-authority">
                                <div class="auth-box clearfix">
                                    <div class="auth-chip">
                                        <label>
                                            <span>관리 권한</span>
                                            <input type="checkbox" name="" >
                                        </label>
                                    </div>
                                    <div class="auth-chip">
                                        <label>
                                            <span>결제 관리</span>
                                            <input type="checkbox" name="" >
                                        </label>
                                    </div>
                                    <div class="auth-chip">
                                        <label>
                                            <span>게시판 권한</span>
                                            <input type="checkbox" name="" >
                                        </label>
                                    </div>
                                    <div class="auth-chip">
                                        <label>
                                            <span>매출 통계</span>
                                            <input type="checkbox" name="" >
                                        </label>
                                    </div>
                                    <div class="auth-chip">
                                        <label>
                                            <span>보유 전광판 관리</span>
                                            <input type="checkbox" name="" >
                                        </label>
                                    </div>
                                    <div class="auth-chip">
                                        <label>
                                            <span>매출 통계</span>
                                            <input type="checkbox" name="" >
                                        </label>
                                    </div>
                                    <div class="auth-chip">
                                        <label>
                                            <span>실시간 신호</span>
                                            <input type="checkbox" name="" >
                                        </label>
                                    </div>
                                    <div class="auth-chip">
                                        <label>
                                            <span>서비스 상품 생성</span>
                                            <input type="checkbox" name="" >
                                        </label>
                                    </div>
                                    <div class="auth-chip">
                                        <label>
                                            <span>회원 관리</span>
                                            <input type="checkbox" name="" >
                                        </label>
                                    </div>
                                </div>
                            </div>


                            <!-- 버튼 -->
                            <div class="btns mg24">
                                <div class="pull-left">
                                    <a type="button" class="btn btn-default" href="./wa_15_manager_request_list.html">목록</a>
                                </div>
                                <div class="pull-right">
                                    <button type="button" class="btn btn-default" id="btnReject">거절</button>
                                    <button type="button" class="btn btn-primary" id="btnApprove">승인완료</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- scripts -->
        @@include('../common/scripts.html')
        <script>
            $(function() {

                // 거절
                $('#btnReject').on('click', function() {
                    callConfirm({
                        title: '요청 건을<br>거절하시겠습니까?'
                    }, function() {}, {
                        cancel: '취소',
                        confirm: '거절'
                    });
                });

                // 승인
                $('#btnApprove').on('click', function() {
                    callConfirm({
                        title: '관리자로<br>승인하시겠습니까?'
                    }, function() {}, {
                        cancel: '취소',
                        confirm: '승인'
                    });
                });
            });
        </script>
    </body>
</html>