<!DOCTYPE html>
<html lang="ko">
    <head>
        @@include('../common/resources.html', { "type" : "admin" })
        <link href="../../assets/css/quill.snow.css" rel="stylesheet">
    </head>
    <body>

        <!-- header -->
        @@include('../common/header.html', { "active" : "활성화되어야하는 메뉴" })
       
        <div class="container-fluid">
            <div class="row">

                <!-- gnb -->
                @@include('../common/navigation.html')

                <!-- contents -->
                <div class="main">
                    @@include('../common/title.html', { "title" : "게시물 수정", "sub" : "주식 서비스 플랫폼 게시물을 관리할 수 있습니다." })
                
                    <div class="contents">
                  
                        <!-- contents -->
                        <div class="detail-content">
                            <div class="detail-post detail-register">
                                <div class="detail-post-hd">
                                    <div class="form-inline">
                                        <div class="form-group">
                                            <label for="" class="sr-only">게시물 제목</label>
                                            <input type="text" class="form-control" placeholder="제목을 입력해주세요." id="postTitle" value="오늘의 정보!">
                                        </div>
                                        <div class="checkbox">
                                            <span>
                                                <input type="checkbox"  name="post-type" value="notice" id="postType1">
                                                <label for="postType1">
                                                    <span>공지</span>
                                                </label>
                                            </span>
                                            <span>
                                                <input type="checkbox"  name="post-type" value="best" checked id="postType2">
                                                <label for="postType2">
                                                    <span>베스트글</span>
                                                </label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="detail-post-bd">
                                    <div class="contents">
                                        <div class="txt-editor" id="postEditor"></div>
                                    </div>
                                    <!-- 첨부파일 영역 -->
                                    <div class="attachment">
                                        <div class="files-btn">
                                            <label type="button" class="btn btn-default" for="imgAttachment">
                                                <span class="icon icon-plus"></span>
                                                이미지첨부
                                                <input type="file" id="imgAttachment" accept=".git,.jpg,.jpeg,.png">
                                            </label>
                                        </div>
                                        <div class="files">
                                            <div class="file">
                                                <img src="../../assets/images/photos/sample.jpeg">
                                                <!-- <a href="#">File3567-1.jpg</a> -->
                                                <span class="icon icon-img-del"></span>
                                            </div>
                                            <div class="file">
                                                <img src="../../assets/images/photos/sample.jpeg">
                                                <span class="icon icon-img-del"></span>
                                            </div>
                                        </div>
                                        <div class="txt-guide">* 이미지는 최대 3개, 파일당 30MB까지 첨부 가능합니다.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- btns -->
                        <div class="btns btns-space mg16">
                            <div class="pull-left">
                                <a href="./wa_10_board_post_list.html" type="button" class="btn btn-default">목록</a>
                            </div>
                            <div class="pull-right">
                                <button type="button" class="btn btn-secondary" id="btnCancel">취소</button>
                                <button type="button" class="btn btn-primary" id="btnModify">수정완료</button>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>

        <!-- scripts -->
        @@include('../common/scripts.html')
        <script src="../../assets/js/quill.min.js"></script>
        <script>
            $(function() {
                
                // 게시물 타입 설정
                $('input[name=post-type]').on('change', function() {

                    // 둘 중 1개만 선택
                    // 둘 다 미선택 경우가 있기 때문에 checkbox로 구성
                    if ( $(this).is(':checked') ) {
                        $('input[name=post-type]').not($(this)).prop('checked', false);
                    }
                });

                // 취소 버튼 클릭
                $('#btnCancel').on('click', function() {
                    const titleLength = $('#postTitle').val().length;
                    const contentLength = $('#postContent').val().length;

                    if ( titleLength > 0 || contentLength > 0 ) {
                        callConfirm({
                            title: '글쓰기 화면에서 나가시겠습니까?',
                            description: '이 페이지를 벗어나면<br>입력한 내용은 저장되지 않습니다.'
                        }, onClickExit, {
                            cancel: '취소',
                            confirm: '나가기'
                        });
                    } else {
                        onClickExit();
                    }
                });

                var toolbarOptions = [
                    [{ 'font': [] }],
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

                    ['bold', 'italic', 'underline', 'strike'],
                    ['blockquote', 'code-block'],

                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    [{ 'indent': '-1'}, { 'indent': '+1' }],          
                    
                    [{ 'color': [] }, { 'background': [] }],          
                    [{ 'align': [] }],
                    // ['image'],
                    ['clean'],         
                ];

                var quill = new Quill('#postEditor', {
                    theme: 'snow',
                    placeholder: '내용을 입력해주세요.',
                    modules: {
                        toolbar: toolbarOptions
                    }
                });
                

                var sampleText = 
                    '안녕하세요~ 성공투자주식방의 나주식입니다.<br><br>' +
                    '코스피 지수가 4거래일 연속 상승하며 사상 최고치를 경신했다. <br>' +
                    '코스닥도 반등해 1000선에 바짝 다가섰다. <br>' +
                    '미국 고용 지표가 예상보다 부진하게 나온 것이 되레 긴축 우려를 잠재우면서 주가 상승을 부추긴 격이 됐다. 공매도 재개를 앞두고 비틀거리던 증시는 어느새 급락에 대한 불안감을 훌훌 털어버린 듯한 모습이다.<br><br>'+
                    '10일 코스피는 전 거래일보다 1.63%(52.10포인트) 오른 3249.30에 마감하며 지난달 20일(3220.70) 이후 13거래일 만에 사상 최고 기록을 다시 세웠다.<br>' +
                    '장 초반 개인 매수세와 함께 상승 출발한 코스피는 외국인과 기관이 차례로 매수 규모를 늘리며 순매수로 전환하면서 한층 강한 상승세를 보였다.';

                //quill.setText(sampleText);
                quill.root.innerHTML = sampleText;
            });


            function onClickExit() {
                //
                window.location.href = './wa_10_board_post_list.html';
            }
        </script>
    </body>
</html>