@charset 'utf-8';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 14px;
  color: #242629;
  font-family: 'AppleSDGothicNeo', 'Roboto', 'Arial';
}

div, ul {
  padding: 0; 
  margin: 0;
}

ul, li {
  list-style: none;
}

em {
  font-style: normal;
}

button:focus {
  outline: none !important;
}

*:not(.nav-sidebar>li>.sub-menu) {
  //transition: all .2s;
}

// except transition
.popover, .popover > *, .modal-backdrop, .ui-timepicker-container, .ui-timepicker-container * {
  transition: none !important;
}

.scrollbar {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px !important;
  }
  &::-webkit-scrollbar-track {
    background-color: #ffffff !important;
  }
  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #d8d8d8 !important;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #c5c5c5 !important;
  }
}

/* colors */
$border-color: #a4a4aa;
$border-light-color: #f1f2f4;
$bg-color: #f1f2f8;
$bg-light-color: #f9f9f9; // 채팅방bg
$bg-freezing: #acfaff;  // 얼리기
$bg-white: #fff;
$bg-primary: #232a4a;
$balloon-default: #fff6ac;
$balloon-admin: #ffeae2;  // 관리자 말풍선
$balloon-signal: #ffdfdf; // 신호색상
$text-white: #fff;
$text-basic: #999999;
$text-default: #242629;
$text-basic-hover: #000;
$text-primary: #2e6da4;
$text-link-basic: #717171;
$text-link-hover: #3045a0;
$text-warning: #8a6d3b;
$text-emphasize: #dc643d;
$text-gnb: #d3daf1;
$placeholder: #a1a6af;
$card-hover: #f2f3f5;
$card-active: #e6e4fc;
$btn-primary: #293894;
$btn-primary-hover: #344ad0;
$btn-secondary: #464c71;
$btn-secondary-hover: #5e669c;
$btn-default: #b6bbc1;
$btn-default-hover: #e6e9f0;
$btn-default-hover-border: #dde1e6;
$btn-disabled: #cdced7;
$tb-notice: #fff8f5;  
$signal-buy-bg: #fbeaea;
$signal-buy-border: #ceb7b7;
$signal-sell-bg: #eaf6fb;
$signal-sell-border: #b7c5cb;
$signal-alarm-bg: #f9fcf2;
$signal-alarm-border: #cfd4c5;

/* buttons */
.btn {
  font-size: 16px;
  // // height: 46px;
  // min-width: 90px;
  &:disabled {
    background-color: $btn-disabled !important;
    border: 1px solid #a4a6b0;
    color: #303235;
  }
  &.btn-sm {
    font-size: 14px;
    height: 36px;
    min-width: 90px;
  }
  &.btn-lg {
    font-size: 16px;
    height: 46px;
    min-width: 170px;
  }
  &.btn-inline {
    display: inline-block !important;
  }
  &.btn-top {
    background: transparent url(../images/icons/icon_top.svg) center no-repeat;
    width: 50px !important;
    height: 50px !important;
    min-width: 50px !important;
    margin-right: 8px;
  }
}
.btn-primary {
  background-color: $btn-primary;
  border-color: $btn-primary;
  color: #fff;
  &:focus, &:hover, &:active {
    background-color: $btn-primary-hover;
    color: #fff;
    font-weight: bold;
  }
}
.btn-secondary {
  background-color: $btn-secondary;
  color: $text-white;
  &:focus, &:hover, &:active {
    color: $text-white;
    background-color: $btn-secondary-hover;
    color: #fff;
    font-weight: bold;
  }
  &.btn-sm {
    background-color: #282b41;
    &:focus, &:hover, &:active {
      color: $text-white;
      background-color: $btn-secondary-hover;
    }
  }
}
.btn-default {
  border-color: #aaafc6;
  background-color: #fff;
  color: #242629;
  &:focus, &:hover, &:active {
    background-color: #dce4fa;
    border: 1px solid #aaafc6;
    font-weight: bold;
  }
}
.btn-link {
  color: $text-default;
  &:focus, &:hover, &:active {
    color: $text-default;
    text-decoration: none;
  }
}
.btn-round {
  border-radius: 50px;
  margin-top: 24px;
}
.btn-search {
  background-color: #293c6c;
  color: $text-white;
  font-size: 14px;
  min-width: 90px;
  &:hover, &:focus {
    color: $text-white;
  }
}
.btn-icon {
  background: transparent;
  min-width: 24px;
  &:disabled {
    background-color: transparent !important;
    border: none !important;
    opacity: .5;
  }
}
.btn-setting {
  height: 36px;
  width: 44px;
  padding: 0;
  background-color: #2f2f48;
  color: #fff;
}
.btn-top {
  font-size: 11px;
  border: none;
  margin-top: 24px;
  margin-bottom: 24px;
}


// 버튼 group
.btns {
  .btn {
    font-weight: normal;
    min-width: 110px;
    height: 40px;
    line-height: 1.8;
  }
  &.btns-right {
    text-align: right;
  }
  &.btns-center {
    text-align: center;
  }
  &.btns-space {
    .btn {
      &:first-child {
        float: left;
        margin-right: 4px;
      }
      &:last-child {
        float: right;
      }
    }
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
}

a:focus {
  outline: none;
  text-decoration: none;
}

.label {
  font-size: 14px;
  font-weight: 200;
  border-radius: 6px;
  &.label-chat {
    background-color: #272727;
    color: #fff;
  }
  &.label-notice {
    background-color: #ec7c5b;
    font-weight: 400;
  }
  &.label-best {
    background-color: #4c4d64;
    font-weight: 200;
  }
  &.label-sell {
    background-color: #4b8df3;
  }
  &.label-buy {
    background-color: #e95757;
  }
  &.label-alarm {
    background-color: #60728e;
  }
}

// 더보기
.more-view {
  text-align: center;
  .btn-more {
    background-color: transparent;
    font-size: 12px;
    color: $text-basic;
  }
}

.txt-red {
  color: $text-emphasize;
}

.txt-blue {
  color: $text-primary;
}


// align
.al-lt {
  text-align: left !important;
}
.al-ct {
  text-align: center !important;
}
.al-rt {
  text-align: right !important;
}

/* radio, checkbox */
.checkbox {
  input[type=checkbox] {
    position: absolute;
    opacity: 0;
    & + label {
      background: url(../images/icons/checkbox-nor.svg) left center no-repeat;
      span {
        padding-left: 8px;
      }
    }
    &:checked + label {
      background: url(../images/icons/checkbox-select.svg) left center no-repeat;
    }
  }
  &.toggle {
    input[type=checkbox] {
      & + label {
        background: #b6bbc1;
        height: 24px;
        width: 48px;
        border-radius: 14px;
        position: relative;
        &:after {
          content: 'OFF';
          display: inline-block;
          padding-left: 32px;
          padding-top: 2px;
          color: $text-default;
        }
        .handle {
          display: block;
          width: 22px;
          height: 22px;
          background-color: #fff;
          border-radius: 100%;
          position: absolute;
          left: 1px;
          top: 1px;
          transition: .4s left;
        }
      }
      &:checked + label {
        background: #ff7448;
        &:after {
          content: 'ON';
          color: #ff7448;
        }
        .handle {
          left: 25px;
        }
      }
    }
  }
}
.radio {
  > label {
    position: relative;
    padding-left: 0;
    margin-right: 12px;
  }
  input[type=radio] {
    position: absolute;
    opacity: 0;
    left: -9999px;
    & + label {
      background: url(../images/icons/checkbox-nor.svg) left center no-repeat;
      span {
        padding-left: 8px;
      }
    }
    &:checked + label {
      background: url(../images/icons/radio-checked.svg) left center no-repeat;
    }
    &:disabled + label {
      background: url(../images/icons/radio-nor-dis.svg) left center no-repeat;
    }
    &:disabled {
      &:checked + label {
        background: url(../images/icons/radio-select-dis.svg) left center no-repeat;
      }
    }
  }
}


/* icons */
.icon {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    &.icon-chatting {
      background-image: url(../images/icons/chatting-nor.svg);
    }
    &.icon-notification {
      background-image: url(../images/icons/notification-nor.svg);
    }
    &.icon-stockboard {
      background-image: url(../images/icons/stockboard-nor.svg);
    }
    &.icon-chat-product {
      background-image: url(../images/icons/chat-product-nor.svg);
    }
    &.icon-statistics {
      background-image: url(../images/icons/statistics-nor.svg);
    }
    &.icon-payment {
      background-image: url(../images/icons/payment-nor.svg);
    }
    &.icon-user {
      background-image: url(../images/icons/user-nor.svg);
    }
    &.icon-admin-member {
      background-image: url(../images/icons/admin-member-nor.svg);
    }
    &.icon-board {
      background-image: url(../images/icons/board-nor.svg);
    }
    &.icon-service {
      background-image: url(../images/icons/hizeservice-nor.svg);
    }
    &.icon-config {
      background-image: url(../images/icons/setting-nor.svg);
    }
    &.icon-w-config {
      background-image: url(../images/icons/setting-nor-w.svg);
    }
    &.icon-calendar {
      background-image: url(../images/icons/calendar.svg);
    }
    &.icon-info {
      background-image: url(../images/icons/info.svg);
    }
    &.icon-search {
      background-image: url(../images/icons/search.svg);
    }
    &.icon-w-search {
      background-image: url(../images/icons/w-search.svg);
    }
    &.icon-emoticon {
      background-image: url(../images/icons/btn-emoticon-select.svg);
    }
    &.icon-addfile {
      background-image: url(../images/icons/btn-addfile-select.svg);
    }
    &.icon-w-menu {
      background-image: url(../images/icons/chat-menu.svg);
    }
    &.icon-img-del {
      background-image: url(../images/icons/btn_delete.svg?ver=2);
    }
    &.icon-close {
      background-image: url(../images/icons/icon-close-sm.svg);
    }
    &.icon-camera {
      background-image: url(../images/icons/camera.svg);
    }
    &.icon-chat-notice {
      background-image: url(../images/icons/icon-alerts.svg);
    }
    &.icon-mode-close {
      background-image: url(../images/icons/mode-close.svg);
    }
    &.icon-delete {
      background-image: url(../images/icons/icon-delete.svg);
    }
    &.icon-add-admin {
      background-image: url(../images/icons/btn-addbangjang.svg);
    }
    &.icon-picture {
      background-image: url(../images/icons/icon-addphoto.svg);
    }
    &.icon-cog {
      background-image: url(../images/icons/btn-setting-nor.svg);
    }
    &.icon-plus {
      background-image: url(../images/icons/icon-plus.svg);
    }

  }



// header fixed-top 적용 시, body에 padding-top 필요
body {
  padding-top: 106px;
}

a {
  color: $text-default;
  &:hover, &:active {
    color: $text-default;
    text-decoration: none;
  }
}

.fx {
  display: flex;
}

.divider {
  border-top: 1px solid #e6eaef;
  height: 1px;
  margin: 10px 0;
}

.help-block-validate {
  color: #a94442;
}



// header
.navbar {
  box-shadow: 0 2px 9px 0 rgba(0,0,0,.4);
  background-color: $bg-primary;
  min-height: 70px;
  a {
    color: #fff;
  }
  .container-fluid {
    padding-left: 0;
    > div {
      height: 70px;
      padding-top: 8px;
    }
    .navbar-header {
      width: 210px;
      padding-left: 35px;
      color: #fff;
      background-image: conic-gradient(from 1.12turn, #cc4035, #1d2858 0.01turn, #cc4035);
      .navbar-brand {
        font-size: 28px;
      }
      .navbar-toggle {
        color: #fff;
      }
    }
    .navbar-collapse {
      position: relative;
      .sm-req-bd {
        display: flex;
        padding: 16px 15px;
        > li {
          color: #fff;
          a {
            color: $text-emphasize;
            font-weight: bold;
            font-size: 16px;
            padding-left: 8px;
          }
          &:after {
            content: '';
            display: inline-block;
            width: 1px;
            height: 10px;
            margin: 0 10px;
            background-color: rgba(255,255,255,.4);
          }
          &:last-child {
            &:after {
              content: none;
            }
          }
        }
      }
      .rt-info {
        position: absolute;
        right: 0;
        top: 14px;
        .vertical {
          display: inline-block;
          width: 1px;
          height: 10px;
          background-color: rgba(255,255,255,.4);
        }
        .btn-profile {
          background-color: transparent;
          color: $text-white;
          display: inline-block;
          > * {
            display: inline-block;
          }
          .user-img {
            display: inline-block;
            vertical-align: middle;
            width: 32px;
            height: 32px;
            margin-right: 4px;
            margin-left: 4px;
            border-radius: 100%;
            overflow: hidden;
            background-color: #c5c5c5;
            line-height: 30px;
            border: 1px solid rgba(0,0,0,.2);
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
        .btn-logout {
          margin-bottom: 2px;
          color: $text-white;
        }
        .btn {
          &:active {
            box-shadow: none;
          }
        }
      }
    }
  }
}

// gnb
.sidebar {
  border-right: 1px solid $border-light-color;
  background-color: #232b4b;
  position: fixed;
  width: 210px;
  top: 71px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 16px 24px;
  min-height: 640px;
  .nav-sidebar {
    border-top: 1px solid rgba(230, 235, 239, .1);
    > li {
      border-bottom: 1px solid rgba(230, 235, 239, .1);
      &:hover {
        background-color: transparent;
      }
      > a {
        color: $text-gnb;
        padding: 16px 10px;
        background-image: url(../images/icons/submenu-arrow-nor.svg);
        background-position: calc(100% - 6px) center;
        background-repeat: no-repeat;
        &:hover {
          background-color: transparent;
          background-image: url(../images/icons/submenu-arrow-selet.svg);
          font-weight: normal !important;
          color: #ff8a60;
        }
        &:focus {
          background-color: transparent;
        }
        &.single {
          background-image: none;
        }
      }
      &.active {
        > a {
          font-weight: normal;
          background-image: url(../images/icons/submenu-arrow-up.svg);
          &.single {
            color: #ff8a60;
            background-image: none;
          }
        }
      }
      > a:hover, 
      &.active > a.single {
        .icon {
          &.icon-chatting {
            background-image: url(../images/icons/chatting-selet.svg) !important;
          }
          &.icon-notification {
            background-image: url(../images/icons/notification-select.svg);
          }
          &.icon-stockboard {
            background-image: url(../images/icons/stockboard-select.svg);
          }
          &.icon-chat-product {
            background-image: url(../images/icons/chat-product-select.svg);
          }
          &.icon-statistics {
            background-image: url(../images/icons/statistics-select.svg);
          }
          &.icon-payment {
            background-image: url(../images/icons/payment-select.svg);
          }
          &.icon-user {
            background-image: url(../images/icons/user-select.svg);
          }
          &.icon-admin-member {
            background-image: url(../images/icons/admin-member-select.svg);
          }
          &.icon-board {
            background-image: url(../images/icons/board-select.svg);
          }
          &.icon-service {
            background-image: url(../images/icons/hizeservice-select.svg);
          }
          &.icon-config {
            background-image: url(../images/icons/setting-selet.svg);
          }
        }
      }
      .sub-menu {
        display: none;
        overflow: hidden;
        list-style: none;
        padding: 0px;
        border-top: 1px solid rgba(230, 234, 239, .1);
        background-color: rgba(0,0,0,.1);
        > li {
          padding: 14px 0 14px 40px;
          border-bottom: 1px solid rgba(230, 234, 239, .1);
          > a {
            padding: 0;
            color: $text-gnb;
            &:hover {
              color: #ff8a60;
            }
          }
          &:last-child {
            border-bottom: none;
          }
          &.active {
            a {
              color: #ff8a60;
              font-weight: bold;
            }
          }
        }
      }
      // 앱 메인 관리 menu
      &.fixed-bottom {
        width: calc(100% - 48px);
        position: absolute;
        bottom: 20px;
        border-top: 1px solid rgba(230, 235, 239, .1);
      }
    }
  }
}

.main {
  padding: 0 24px;
  padding-left: 234px;
  .page-header {
    padding: 0;
    margin: 0;
    position: relative;
    border-bottom: none;
    h4 {
      margin: 0 0 10px;
      font-size: 24px;
      small {
        display: block;
        position: relative;
        margin-top: 10px;
        padding-top: 10px;
        font-size: 16px;
        color: #61666d;
        border-top: 1px solid #d3d3d3;
      }
      .breadcrumb {
        position: absolute;
        top: 8px;
        right: 2px;
        padding: 0;
        margin: 0;
        font-size: 13px;
        background-color: transparent;
        font-weight: 400;
        color: $text-basic;
        > li {
          & + li {
            &:before {
              content: '>';
              padding: 0 6px 0 4px;
            }
          }
        }
        li:last-child {
          color: #000;
        }
      }
      .dropdown {
        margin-top: -2px;
        display: inline-block;
        min-width: 104px;
        max-width: 500px;
        height: 32px;
        padding: 4px 10px;
        color: #fff;
        font-size: 18px;
        border: none;
        width: auto;
        background: #475ebd url(../images/icons/arrow-down-w.svg) calc(100% - 10px) center no-repeat !important;
      }
    }
  }
}

@media (max-width: 1199px) {
  .main {
    padding-left: 20px;
  }
}

@media ( max-width: 991px) {
  .main {
    padding: 0 12px;
  }
}

.popover {
  min-width: 200px;
  border: 1px solid #b6bbc1;
  box-shadow: 0 0 6px rgba(0,0,0,.3);
  .popover-title {
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    border-bottom: none;
    padding: 24px 14px 8px;
  }
  .form-title {
    color: #424242;
  }
  .form-group {
    margin-bottom: 22px;
  }
  .popover-footer {
    border-top: 1px solid #dadfe4;
    text-align: right;
    padding: 14px 6px;
    .btn-text {
      color: $text-link-hover;
      display: inline-block;
      font-weight: bold;
      background-color: transparent;
      padding: 0;
    }
  }
  // 채팅방 메시지 popover
  .popover-chat-member {
    font-size: 13px;
    color: #404449;
    strong {
      display: block;
      font-size: 14px;
      color: #000;
    }
    button {
      display: block;
      border-radius: 50px;
      width: 80px;
      height: 32px;
      min-width: 80px;
      margin-top: 8px;
    }
  }
}

// modal
.modal {
  .modal-header {
    background-color: $bg-primary;
    color: #fff;
    padding: 12px 24px;
    border-radius: 4px 4px 0 0;
    .modal-title {
      font-size: 24px;
    }
    .close {
      opacity: 1;
      span {
        display: block;
        width: 32px;
        height: 32px;
        text-indent: -9999px;
        background: url(../images/icons/popup-close.svg) center no-repeat;
        background-size: 20px;
      }
    }
  }
  .modal-body {
    padding: 24px;
    h4 {
      font-weight: bold;
    }
    .guide {
      color: #404449;
    }
    .scrolling {
      max-height: 60vh;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 5px;
        height: 5px !important;
      }
      &::-webkit-scrollbar-track {
        background-color: #ffffff !important;
      }
      &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background-color: #d8d8d8 !important;
      }
      ::-webkit-scrollbar-thumb:hover {
        background-color: #c5c5c5 !important;
      }
    }
    .form-search {
      padding: 0;
      margin: 10px 0;
      input {
        height: 46px;
        padding: 6px 42px 6px 12px
      }
      .icon-search {
        right: 12px;
      }
    }
    // input {
    //   height: 46px;
    //   padding: 6px 42px 6px 12px;
    // }
  }
  .modal-footer {
    border-top: 1px solid #e6eaef;
    text-align: center;
    padding: 16px 0;
    .btn {
      height: 46px;
      min-width: 120px;
    }
    .btn-lg {
      min-width: 240px;
    }
  }
  .modal-lg {
    width: 750px;
  }
  &.modal-list {
    .modal-body {
      padding: 0 5px 0 0;
      .form-search {
        padding: 24px 19px 12px 24px;
        margin-bottom: 0;
        .form-control {
          height: 46px;
        }
        .icon-search {
          right: 34px;
          margin-top: -5px;
        }
      }
      .scrolling {
        padding: 0 19px 0 24px;
      }
    }
  }

}


// alert, confirm
#alertModal, #confirmModal {
  .modal-dialog {
    width: 260px;
    .modal-content {
      border: 1px solid #dadfe4;
      box-shadow: 0 0 6px rgba(0,0,0,.2);
      .modal-body {
        padding: 28px 16px;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        color: #000;
        min-height: 122px;
        p {
          font-size: 14px;
          font-weight: normal;
          color: #404449;
          margin-top: 12px;
          margin-bottom: 0;
        }
        .btn-primary {
          font-size: 14px;
          width: 130px;
          height: 38px;
        }
      }
      .modal-footer {
        padding: 0;
        border-top: 1px solid #dadfe4;
        .btn {
          width: 100%;
          padding: 12px;
          background: #fff;
          border: none;
          border-radius: 0;
          min-width: 0;
          color: #242629;
          &.btn-primary {
            color: $text-link-hover;
            font-weight: bold;
          }
        }
      }
    }
  }
}

#confirmModal {
  .modal-footer {
    display: flex;
    .btn {
      margin: 0;
      &:first-child {
        border-radius: 0 0 0 4px !important;
        border-right: 1px solid #dadfe4 !important;
      }
      &:last-child {
        border-radius: 0 0 4px 0 !important;
      }
    }
  }
}





// forms 
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff url(../images/icons/arrow-down.svg) calc(100% - 10px) center no-repeat !important;
}


.form-group {
  text-align: left;
  margin-bottom: 16px;
  .control-label {
    color: #404449;
    font-weight: normal;
    padding-left: 4px;
  }
}
.form-control {
  border: 1px solid #c3c7cd;
  box-shadow: none;
  height: 36px;
  color: #000;
  &::placeholder {
    color: $placeholder;
  }
  &:focus {
    border-color: #293894;
    font-weight: bold;
    box-shadow: none;
    &::placeholder {
      font-weight: normal;
    }
  }
  &[disabled], &[readonly] {
    background-color: #f0f1f6;
    color: #6b6f76;
  }
}
.has-error {
  .form-control {
    &:focus {
      border-color: #a94442 !important;
      box-shadow: none;
    }
  }
}

.form-search {
  // 돋보기 아이콘이 있는 input - 1개
  position: relative;
  padding: 12px;
  .icon-search {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 24px;
    top: 50%;
    margin-top: -12px;
    z-index: 5;
    cursor: pointer;
  }
}

// form 요소에 read-only 클래스가 있는 경우
.form-control[disabled].read-only {
  border: none;
  background-color: transparent;
  box-shadow: none;
  line-height: 1.8;
  padding: 6px 0;
  cursor: default;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

// 검색 영역
.area-search {
  margin: 16px 0;
  background-color: $bg-color;
  padding: 16px 24px;
  border-radius: 4px;
  .form-inline {
    .form-group {
      min-width: 172px;
      label {
        width: 100%;
        font-weight: normal;
        font-size: 12px;
        margin-bottom: 2px;
        &.sr-only {
          position: relative;
        }
      }
      select {
        width: 98%;
      }
      &.form-in-btn {
        .keyword {
          width: 320px;
          margin-top: 1px;
        }
        .btn-search {
          margin-top: 1px;
        }
      }
    }
  }
}

.date-inline {
  display: flex;
  align-items: center;
  .date-box, .wave {
    margin-right: 6px;
  }
}

.date-box {
  position: relative;
  span.icon-calendar {
    position: absolute;
    right: 8px;
    top: 6px;
    color: $text-basic;
  }
}

.time-inline {
  display: flex;
  align-items: center;
  .dash {
    padding: 0 4px;
  }
  .timepicker {
    max-width: 172px;
  }
}

// 목록 상단에 위치
.list-filter {
  padding: 0 12px 6px 0px;
  min-height: 32px;
  margin-top: -15px;
  select {
    &.filter.form-control {
      float: right;
      width: 80px;
      color: #fff;
      padding: 0 8px;
      border: none;
      height: 24px;
      background: transparent url(../images/icons/arrow-down.svg) calc(100% - 10px) center no-repeat !important;
    }
  }
}

.filter {
  .btn-group {
    .dropdown-menu {
      min-width: 100px;
    }
  }
}

.no-result {
  text-align: center;
  span {
    display: block;
    margin: 12px auto;
    font-size: 36px;
    color: $text-basic;
  }
}

// data table
.pagination-wrap {
  text-align: center;
}

.pagination {
  display: block;
  margin: 0 auto;
  // padding-top: 10px;
  // padding-bottom: 36px;
  padding: 32px 0;
  text-align: center;
  button {
    color: #7d7d7d;
    padding: 0 4px;
    margin: 0 4px;
    background-color: transparent;
    border: none;
    &.active {
      color: #1e3d9d;
    }
    &.pg-opt {
      text-indent: -9999px;
      width: 16px;
      background-repeat: no-repeat;
      background-position: center;
      &:disabled {
        opacity: .3;
      }
      &.pg-first {
        background-image: url(../images/icons/pg-first.svg);
      }
      &.pg-prev {
        background-image: url(../images/icons/pg-prev.svg);
      }
      &.pg-next {
        background-image: url(../images/icons/pg-next.svg);
      }
      &.pg-last {
        background-image: url(../images/icons/pg-last.svg);
      }
    }
  }
}

.chat-list + .pagination {
  button {
    color: #eee;
    &.active {
      color: #fff;
    }
  }
}

.area-list {
  .area-list-header {
    margin-bottom: 8px;
    > div {
      font-size: 14px;
      &:first-child {
        color: #3f4146;
        font-size: 13px;
        .lead {
          margin-bottom: 0px;
        }
        .count {
          color: #292929;
          padding-left: 4px;
          font-weight: bold;
        }
        &.rt-filter {
          padding-top: 13px;
        }
      }
    }
    select {
      &.form-control {
        height: 32px;
      }
    }
    .form-inline {
      display: flex;
      align-items: center;
      label {
        font-weight: normal;
        color: $text-basic;
        padding-right: 6px;
        padding-top: 4px;
      }
    }
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
  // 검색 영역이 없는 목록
  &.area-no-hd {
    margin: 24px 0;
  }
}

.data-list {
  border-collapse: unset;
  border-bottom: 1px solid #30344e !important;
  margin-bottom: 16px;
  thead {
    tr {
      th {
        &.center {
          text-align: center;
        }
        span {
          cursor: pointer;
          color: $text-basic;
          top: 2px;
        }
        
      }
    }
  }
  tbody {
    tr {
      cursor: pointer;
      &:hover {
        background-color: #edf0ff;
      }
      td {
        vertical-align: middle;
        span {
          a {
            color: $text-primary;
          }
          &.ellipsis {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: left;
            max-width: 300px;
          }
        }
        .btn {
          padding: 0 10px;
          color: #4e70be;
          border-color: #a9aebc;
          height: 32px;
          font-size: 14px;
          margin-top: -6px;
          margin-bottom: -6px;
          min-width: 70px;
          &.btn-long {
            min-width: 120px;
          }
        }
        .thumb {
          width: 80px;
        }
        .img-ad {
          width: 180px;
        }
        select {
          width: 100px;
          display: block;
          margin: 0 auto;
          height: 30px;
          padding: 3px 12px;
        }
        .label {
          border-radius: 6px;
          width: 44px;
          height: 28px;
          
        }
      }
      // 게시판의 공지사항
      &.notice {
        background-color: $tb-notice;
        &:hover {
          background-color: #edf0ff;
        }
      }
      .signal {
        margin: -12px -10px;
        padding: 12px 10px 12px 170px;
        text-align: left;
        background-color: #f1f2f4;
      }
      &:last-child {
        td {
          border-bottom: none;
        }
      }
    }
  }
  .checkbox {
    margin: 0;
    label {
      min-height: 15px;
    }
  }
  & + .guide {
    li {
      list-style: '-';
      margin-left: 12px;
      padding-left: 4px;
    }
  }
  &.no-detail-link {
    tbody {
      tr {
        cursor: default;
      }
    }
  }

  &.signal-history {
    .detail {
      > * {
        padding: 16px !important;
        font-size: 16px;
        background-color: #f1f2f4;
        text-align: left !important;
      }
    }
  }
}

// 데이터 없음
.area-empty {
  display: none;
  text-align: center;
  padding: 72px 0;
  min-width: 180px;
  > div {
    display: none;
    strong {
      font-size: 14px;
      color: #b6bbc1;
      font-weight: normal;
    }
    p {
      margin-top: 6px;
      color: $text-basic;
    }
    &:before {
      // 결과 없음 아이콘
      content: '';
      display: block;
      width: 54px;
      height: 54px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      margin: 24px auto;
    }
  }
  &.register {
    display: block;
    > div.register-empty {
      display: block;
      &:before {
        background-image: url(../images/icons/nodata.svg);
      }
    }
  }
  &.search {
    display: block;
    > div.search-empty {
      display: block;
      &:before {
        background-image: url(../images/icons/nodata-search.svg);
      }
    }
  }
  &.opinion {
    display: block;
    > div.opinion-empty {
      display: block;
      &:before {
        background-image: url(../images/icons/icon-opinion.svg);
      }
    }
  }
  &.my-chat-empty {
    display: block;
    > div.my-chat-empty {
      display: block;
      &:before {
        background-image: url(../images/icons/my-chat-empty-w.svg);
      }
    }
  }
}


// 상세 화면 공통 default
.nav-tabs.detail-tabs {
  margin: 24px 0 0;
  position: relative;
  //padding-left: 4px;
  //border-bottom: 1px solid #000;
  > li {
    > a {
      color: #8e8e8e;
      padding: 8px 16px;
      min-width: 120px;
      margin-right: 0;
      text-align: center;
      border: 1px solid #bcbcbc;
      border-bottom: 1px solid #000;
      background-color: #f7f7f7;
    }
    &.active {
      > a, > a:focus {
        color: $text-default;
        font-weight: bold;
        border: 1px solid #000;
        border-bottom: 1px solid #fff;
        background-color: #fff;
      }
    }
  }
  .floated {
    position: static;
    button {
      position: absolute;
      right: 0;
      bottom: 6px;
    }
  }
}

.detail-content {
  margin-top: 24px;
  .detail-content-hd {
    padding-top: 8px;
    font-size: 16px;
    padding: 0;
    color: #000;
  }
  .detail-content-tail {
    margin-top: 10px;
    margin-bottom: 6px;
    em {
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      color: #e95757;
    }
    span {
      font-size: 13px;
      color: #61666d;
    }
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
  .form-inline-set {
    display: flex;
    > div {
      &:first-child {
        margin-right: 12px;
      }
    }
  }
  .stock-title {
    line-height: 1.5;
    .stock-code {
      &:before {
        content: '';
        display: inline-block;
        width: 1px;
        height: 12px;
        background-color: $border-color;
        margin: 0 8px 0 6px;
      }
    }
  }
  .op {
    background-color: #f6f7f8;
    border-radius: 8px;
    padding: 16px 5px 16px 16px;
    height: 186px;
    .op-inner {
      height: 100%;
      overflow-y: auto;
      padding-right: 11px;
    }
  }
}

.txt-guide {
  font-size: 13px;
  color: #404449;
  margin-bottom: 0;
}


.rate-up {
  color: #e95757;
  &:before {
    content: '▲';
  }
}
.rate-down {
  color: #4b8df3;
  &:before {
    content: '▼';
  }
}

.btn-groups {
  margin-bottom: 36px;
  .btn {
    min-width: 110px;
  }
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

// table forms
.table.table-form {
  border-top: 1px solid #494e6e !important;
  border-bottom: 1px solid #494e6e;
  tbody {
    th, td {
      vertical-align: middle;
      border-top: none !important;
    }
    th {
      min-height: 51px;
      text-align: center;
      background-color: #f0f2ff;
      border-bottom: 1px solid #d1d1d1;
    }
    td {
      border-top: none;
      // padding: 10px 16px;
      padding: 6px 8px;
      border: 1px solid #d1d1d1;
      .data {
        display: block;
        padding: 6px 0;
        // min-height: 36px;
      }
      .info {
        color: $text-basic;
        font-size: 13px;
      }
      .radio {
        label {
          margin-right: 8px;
        }
      }
      .pw-inline {
        > * {
          display: inline-block;
        }
        .btn {
          margin-left: 12px;
        }
      }
      &.vertical-top {
        vertical-align: top;
        > div {
          display: inline-block;
        }
      }
      &:last-child {
        border-right: none;
      }
    }
    tr:last-child {
      th, td {
        border-bottom: none;
      }
    }
  }
  .img-file-box {
    .img-thumb {
      height: 226px;
      overflow-y: hidden;
      background-color: $bg-light-color;
      img {
        max-width: 500px;
      }
    }
    .file-func {
      padding-top: 12px;
      .icon-info {
        margin-top: -2px;
      }
      .sm-guide {
        list-style: disc;
        padding-left: 20px;
        li {
          list-style: disc;
          font-size: 12px;
          color: $text-basic;
        }
      }
      .btn-file {
        position: relative;
        input[type=file] {
          position: absolute;
          width: 1px;
          height: 1px;
          opacity: 0;
        }
      }
      &:after {
        content: '';
        display: block;
        clear: both;
      }
    }
  }
  .form-control {
    &.form-tail {
      display: inline-block;
      max-width: 200px;
      & + .label-tail {
        font-weight: normal;
        color: $text-basic;
        font-size: 12px;
      }
    }
  }
  &.de-mod {
    .form-control {
      display: none;
    }
  }
  &.editable {
    [data-mode=editable] {
      & ~ td {
        .data {
          display: none;
        }
        .form-control {
          display: block;
        }
      }
    }
  }
}


// scroll style - custom scrollbar 사용
.scroll {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px !important;
  }
  &::-webkit-scrollbar-track {
    background-color: #ffffff !important;
  }
  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #d8d8d8 !important;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #c5c5c5 !important;
  }
}

// margin, padding
.mg16 {
  margin: 16px 0 16px;
}
.mg24 {
  margin: 24px 0 24px;
}


/* emoticon */
.emo-wrapper {
  position: absolute;
  background-color: #fff;
  border: 1px solid #b6bbc1;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0,0,0,.3);
  width: 352px;
  padding: 16px 0;
  right: -25px;
  bottom: 46px;
  z-index: 10;
  .view-detail {
    border: 1px solid #b6bbc1;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0,0,0,.3);
    position: absolute;
    width: 168px;
    height: 170px;
    right: 357px;
    bottom: 0;
    background: #fff;
    img {
      width: 94px;
      height: 94px;
    }
  }
  .arrow {
    display: block;
    width: 0;
    height: 0;
    bottom: -11px;
    border-width: 11px;
    border-color: transparent;
    border-style: solid;
    border-top-color: rgba(0,0,0,.25);
    border-bottom-width: 0;
    position: absolute;
    right: 32px;
    &:after {
      content: '';
      right: -10px;
      bottom: 1px;
      width: 0;
      height: 0;
      display: block;
      border-width: 10px;
      border-style: solid;
      border-color: transparent;
      border-top-color: #fff;
      border-bottom-width: 0;
      position: absolute;
    }
  }
  .emo-hd {
    text-align: right;
    padding: 0 16px 4px;
    .icon-close {
      cursor: pointer;
    }
  }
  .emo-inner {
    .emo-tabs {
      margin: 0 16px;
      padding: 0 0 0 4px;
      li {
        padding: 3px 0 0 0;
        a {
          padding: 6px;
          border-radius: 100%;
          margin: 0;
          border: none;
          background-color: transparent;
          .icon {
            width: 32px;
            height: 32px;
          }
          &:hover {
            background-color: #f0f0f0;
          }
        }
        .emo_e02_jasine {
          background-image: url(../images/icons/e-02-00-default-off.svg);
        }
        .emo_166_kiki {
          background-image: url(../images/icons/e-03-00-default-off.svg);
        }
        .icon-emo-1 {
          background-image: url(../images/icons/icon-emoticon-01-nor.svg);
        }
        .icon-emo-2 {
          background-image: url(../images/icons/icon-emoticon-02-nor.svg);
        }
        .icon-emo-3 {
          background-image: url(../images/icons/icon-emoticon-03-nor.svg);
        }
        .icon-emo-4 {
          background-image: url(../images/icons/icon-emoticon-04-nor.svg);
        }
        .icon-emo-5 {
          background-image: url(../images/icons/icon-emoticon-05-nor.svg);
        }
        &.active {
          > a {
            border: none;
          }
          .emo_e02_jasine {
            background-image: url(../images/icons/e-02-00-default.svg);
          }
          .emo_166_kiki {
            background-image: url(../images/icons/e-03-00-default.svg);
          }
          .icon-emo-1 {
            background-image: url(../images/icons/icon-emoticon-01-select.svg);
          }
          .icon-emo-2 {
            background-image: url(../images/icons/icon-emoticon-02-select.svg);
          }
          .icon-emo-3 {
            background-image: url(../images/icons/icon-emoticon-03-select.svg);
          }
          .icon-emo-4 {
            background-image: url(../images/icons/icon-emoticon-04-select.svg);
          }
          .icon-emo-5 {
            background-image: url(../images/icons/icon-emoticon-05-select.svg);
          }
          &:after {
            content: '';
            display: block;
            height: 2px;
            width: 32px;
            margin: 0 auto;
            background-color: #fa6400;
          }
        }
      }
    }
    .emo-content {
      height: 138px;
      margin-top: 16px;
      padding: 0 5px;
      background-color: #fff;
      border-bottom: none;
      text-align: left;
      .scrollbar {
        text-align: left;
        padding-left: 10px;
      }
      .emt {
        display: inline-block;
        width: 42px;
        height: 42px;
        margin-right: 2px;
        margin-bottom: 4px;
        cursor: pointer;
        span {
          display: block;
          &.emo-txt {
            font-size: 30px;
            text-align: center;
          }
          img {
            width: 100%;
          }
        }
      }
    }
  }

}