// 로그인, 회원가입
.user-sign {
    max-width: 480px;
    margin: 0 auto;
    .login-heading {
        text-align: center;
        padding: 12px;
        margin-bottom: 36px;
        img {
            display: block;
            margin: 12px auto;
            width: auto;
            height: 27px;
        }
    }
    .help-block {
        margin-bottom: 24px;
    }
    .find-info {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .mb-join {
        clear: both;
        padding-top: 36px;
    }
    .form-group {
        .form-control {
            + .form-control {
                margin-top: 8px;
            }
        }
        .user-profile-img {
            width: 72px;
            height: 72px;
            margin: 0 auto;
            position: relative;
            img {
                width: 72px;
                height: 72px;
                border-radius: 100%;
            }
            label {
                width: 24px;
                height: 24px;
                padding: 0;
                position: absolute;
                right: -4px;
                bottom: -4px;
                border: 1px solid $border-color;
                background-color: #fff;
                text-align: center;
                line-height: 24px;
                border-radius: 100%;
                margin: 0;
                cursor: pointer;
                &:hover {
                    background-color: $card-hover;
                    
                }
            }
            input[type=file] {
                position: absolute;
                opacity: 0;
            }
        }
    }
    .step {
        margin: 24px 0;
        overflow: hidden;
        .step-join {
            li {
                float: left;
                width: 50%;
                .step-cell {
                    text-align: center;
                    height: 40px;
                    line-height: 40px;
                }
                &.active {
                    color: $text-primary;
                    font-weight: bold;
                }
            }
        }
    }
    .tab-content {
        .tab-pane {
            h5 {
                margin: 36px 0 12px;
                small {
                    display: block;
                    margin-top: 6px;
                    line-height: 1.2;
                }
            }
        }
    }
    .user-info-board {
        .id-finded {
            font-weight: bold;
            font-size: 24px;
            margin: 24px auto;
        }
        .btns {
            .btn {
                width: calc(50% - 2px);
                overflow: hidden;
                &:first-child {
                    float: let;
                }
                &:last-child {
                    float: right;
                }
            }
        }
        &.active {
            display: block;
        }
    }
}

// 회원가입 완료 모달
.modal-welcome {
    .user-info {
        text-align: center;
        img {
            width: 60px;
            height: 60px;
            margin: 12px auto;
            border-radius: 100%;
        }
        .msg-welcome {
            font-weight: 700;
            font-size: 16px;
        }
        p:last-child {
            color: $text-basic;
        }
    }
}

// 채팅 목록 및 채팅 카드
.chat-contents {
    overflow: hidden;
    height: 100%;
    > div:first-child {
        margin: 24px auto;
    }
    .tab-content {
        overflow-y: auto;
    }
}
.chat-list {
    padding: 0 12px;
    .no-result {
        margin-top: 48px;
    }
}

.chat-card {
    cursor: pointer;
    position: relative;
    z-index: 3;
    &:hover {
        background-color: $card-hover;
    }
    &.active {
        background-color: $card-active;
    }
    * {
        box-sizing: border-box;
    }
    .chat-info {
        padding-bottom: 6px;
        margin: 0;
        overflow: hidden;
        > div {
            float: left;
        }
        .img-thumb {
            width: 24%;
            img {
                width: 100%;
                height: auto;
            }
        }
        .infos {
            width: 76%;
            padding-left: 12px;
            overflow: hidden;
            > div {
                float: left;
            }
            .title {
                width: 76%;
                .tt {
                    font-weight: bold;
                }
                .desc {
                    color: $text-basic;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-top: 6px;
                }
            }
            .count {
                width: 24%;
                text-align: right;
            }
        }

    }
    .chat-thumb {
        border-top: 1px solid $border-light-color;
        padding-top: 6px;
        clear: both;
        overflow: hidden;
        span {
            float: left;
            &:first-child {
                width: 80%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &:last-child {
                width: 20%;
                text-align: right;
            }
        }
    }
}

// 채팅하기
.chat {
    border: 1px solid $border-color;
    .chat-header {
        min-height: 36px;
        background-color: $bg-color;
        border-bottom: 1px solid $border-color;
        padding: 4px 12px;
        position: relative;
        .title {
            display: inline-block;
            line-height: 36px;
            font-weight: 700;
        }
        .dropdown-menu>li>a {
            padding: 8px 20px;
            span {
                margin-right: 4px;
            }
        }
        .chat-notice {
            position: absolute;
            top: 45px;
            left: 0;
            width: 100%;
            background-color: #fff;
            z-index: 5;
            padding: 12px;
            border-bottom: 1px solid $border-color;
        }
    }
    .chat-body {
        .scrolling {
            background-color: $bg-light-color;
            min-height: 400px;
            overflow-y: auto;
            padding: 45px 12px;
            .date {
                font-size: 12px;
                text-align: center;
                margin: 24px auto;
            }
            .msg {
                margin-bottom: 15px;
                display: flex;
                .info {
                    .name {
                        font-weight: bold;
                        font-size: 12px;
                        cursor: pointer;
                    }
                    .time {
                        color: $text-basic;
                        font-size: 12px;
                    }
                    .popover {
                        .popover-content {
                            .btn {
                                display: block;
                            }
                        }
                    }
                    .balloon {
                        position: relative;
                        max-width: 480px;
                        .inner {
                            border: 1px solid $border-color;
                            border-radius: 9px;
                            padding: 8px 15px;
                            position: relative;
                            z-index: 2;
                        }
                        &:before {
                            content: '';
                            display: block;
                            border-left: 10px solid transparent; 
                            border-right: 10px solid transparent; 
                            border-bottom: 0px solid transparent; 
                            position: absolute;
                            z-index: 3;
                        }
                        &:after {
                            content: '';
                            display: block;
                            border-top: 12px solid $border-color; 
                            border-left: 12px solid transparent; 
                            border-right: 12px solid transparent; 
                            border-bottom: 0px solid transparent; 
                            position: absolute;
                            z-index: 1;
                        }
                    }
                }
                &.general {
                    .img {
                        width: 48px;
                        height: 48px;
                        border-radius: 100%;
                        overflow: hidden;
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                    .info {
                        margin-left: 20px;
                        .balloon {
                            .inner {
                                background-color: $balloon-default;
                            }
                            &:before {
                                border-top: 10px solid $balloon-default; 
                                left: -10px;
                                top: 8px;
                            }
                            &:after {
                                left: -12px;
                                top: 7px;
                            }
                        }
                    }
                }
                &.my {
                    flex-direction: row-reverse;
                    .info {
                        padding-right: 20px;
                        .time {
                            text-align: right;
                            padding-right: 6px;
                            float: right;
                        }
                        .balloon {
                            clear: both;
                            .inner {
                                background-color: $balloon-admin;
                            }
                            &:before {
                                border-top: 10px solid $balloon-admin; 
                                right: -10px;
                                top: 8px;
                            }
                            &:after {
                                right: -12px;
                                top: 7px;
                            }
                        }
                    }
                    &.signal {
                        .balloon {
                            .inner {
                                background-color: $balloon-signal;
                            }
                            &:before {
                                content: none;
                            }
                            &:after {
                                content: none;
                            }
                        }
                    }
                }
            }
        }
        .chat-input {
            position: relative;
            background-color: $bg-light-color;
            padding: 12px;
            textarea.form-control {
                resize: none;
            }
            .pod-options {
                position: absolute;
                right: 24px;
                bottom: 22px;
                display: flex;
                align-items: center;
                > ul {
                    display: flex;
                    margin-right: 12px;
                    > li {
                        margin: 0 4px;
                        text-align: center;
                    }
                }
                .btn {
                    border-radius: 4px !important;
                }
                .btn-file {
                    input[type=file] {
                        position: absolute;
                        opacity: 0;
                    }
                }
            }
        }
    }
}

// 이모지 목록
.emoji-list {
    padding: 12px;
    overflow: hidden;
    min-width: 240px;
    li {
        float: left;
        width: 25%;
        padding: 6px;
        text-align: center;
        span {
            cursor: pointer;
        }
    }
}

// 모달 - 회원 목록
.user-list {
    border-top: 1px solid $border-color;
    li {
        border-bottom: 1px solid $border-light-color;
        .user {
            display: flex;
            align-items: center;
            padding: 6px 0;
            .img {
                width: 40px;
                img {
                    width: 100%;
                    height: auto;
                    border-radius: 100%;
                }
                &.block {
                    img {
                        border: 1px solid #000;
                    }
                }
            }
            .info {
                flex: 1;
                padding-left: 12px;
                .name {
                    font-weight: bold;
                    display: block;
                }
                .valid-term {
                    color: $text-basic;
                }
            }
            .ex-func {
                display: flex;
                align-items: center;
                .checkbox {
                    text-align: center;
                    min-width: 36px;
                    margin-left: 12px;
                }
            }
        }
    }
}

// 모달 - 공지목록
.notice-list {
    li { 
        border-bottom: 1px solid $border-light-color;
        padding: 12px;
        &:last-child {
            border-bottom: none;
        }
        &:hover {
            background-color: $card-hover;
        }
        .notice {
            cursor: pointer;
            display: flex;
            align-items: center;
            .title {
                flex: 1;
                width: calc(100% - 120px);
                padding-right: 24px;
                span {
                    display: block;
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    &:first-child {
                        font-weight: bold;
                    }
                    &:last-child {
                        color: $text-basic;
                    }
                }
            }
            .reg-info {
                display: flex;
                flex-direction: column;
                width: 80px;
                span {
                    &:first-child {
                        font-size: 12px;
                        text-align: center;
                    }
                    &:last-child {
                        margin: 4px auto;
                    }
                }
            }
        }
    }
}