// 로그인, 회원가입
.p-login {
  padding: 0;
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
}
.user-sign-wrapper {
  width: 840px;
  height: 514px;
  margin: 0 auto;
  > div {
    float: left;
    &:first-child {
      color: #fff;
      text-align: center;
      border-radius: 4px 0 0 4px;
      background-image: conic-gradient(from 1.12turn, #cc4035, #1d2858 0turn, #cc4035);
      img {
        display: block;
        margin: 215px auto 4px;
      }
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
      background-image: linear-gradient(to bottom, #cc2d30, #1d2858);
    }
  }
}
.user-sign {
  width: 420px;
  height: 100%;
  padding: 1px;
  .user-inner { 
    background-color: #fff;
    padding: 53px 60px;
    border-radius: 0 4px 4px 0;
  }
  .login-heading {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 12px 12px 12px;
    margin-bottom: 44px;
    img {
      display: block;
      margin: 0 auto;
      width: auto;
      height: 45px;
    }
  }
  .form-group {
    margin-bottom: 16px;
  }
  .btns {
    padding-top: 8px;
    #btnLogin {
      font-size: 16px;
      height: 50px;
    }
  }
  .help-block {
    margin-bottom: 24px;
    &.help-block-login {
      color: #a94442;
    }
  }
  .checkbox {
    float: left;
    margin-top: 32px;
    label {
      color: #717171;
    }
  }
  .find-info {
    float: right;
    margin-top: 32px;
    margin-bottom: 10px;
    .find-info-menu {
      text-align: right;
      li {
        display: inline-block;
        a {
          color: #717171;
        }
        &:last-child {
          &:before {
            content: '';
            display: inline-block;
            width: 1px;
            height: 10px;
            margin: 0 6px;
            background-color: rgba(0,0,0,.4);

          }
        }
      }
    }

  }
  .mb-join {
    clear: both;
    padding-top: 30px;
    a {
      text-decoration: underline;
      color: #717171;
    }
  }
  
  .tab-content {
    .tab-pane {
      h5 {
        margin: 36px 0 12px;
        small {
          display: block;
          margin-top: 6px;
          line-height: 1.2;
        }
      }
    }
  }
}

// 아이디 찾기 결과
.user-info-board {
  > p {
    margin: 34px 0 16px;
    font-size: 16px;
  }
  .well {
    background-color: #f6f8fb;
    box-shadow: none;
    border-radius: 10px;
    border: none;
    max-width: 306px;
    margin: 0 auto;
    label {
      font-size: 14px;
      font-weight: normal;
    }
    .id-finded {
      font-weight: bold;
      font-size: 24px;
      color: #4761d3;
      margin: 14px auto 24px;
    }
    .btn-default {
      border-radius: 100px;
      border-color: #979797;
      padding: 6px 36px;
    }
    .copy-clipboard {
      position: absolute;
      width: 1px;
      height: 1px;
      opacity: 0;
    }
  }
  .btns {
    padding-top: 32px !important;
    .btn {
      width: calc(50% - 5px);
      overflow: hidden;
      &:first-child {
        float: left;
        border-color: #aaafc6;
      }
      &:last-child {
        float: right;
        background-color: #1d2858;
      }
    }
    &:after {
      content: '';
      display: block;
      clear:  both;
    }
  }
  &.active {
    display: block;
  }
}

// 회원가입
.user-join {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  .hd-logo {
    margin-bottom: 16px;
    img {
      height: 46px;
    }
  }
  form {
    padding: 1px;
    border-radius: 4px;
    background-image: linear-gradient(200deg, #cc2d30, #1d2858);
    .inner {
      background-color: #fff;
      border-radius: 4px;
      padding: 50px;
    }
    .form-control {
      padding: 16px 10px;
      height: 46px;
    }
    .btns {
      padding-top: 17px;
      .btn-lg {
        height: 50px;
        line-height: 1.8;
        font-size: 16px;
      }
    }
  }
  .login-heading {
    font-size: 24px;
    margin: 0;
  }
  .step {
    margin: 32px 0;
    .step-join {
      li {
        float: left;
        width: 50%;
        color: #5c5c5c;
        .step-cell {
          text-align: center;
          height: 40px;
          line-height: 40px;
          position: relative;
          .circle {
            display: block;
            width: 18px;
            height: 18px;
            margin: 0 auto;
            background-color: #dbdbdb;
            border-radius: 100%;
            position: relative;
            z-index: 2;
          }
        }
        &.active {
          color: #dc643d;
          font-weight: bold;
          .circle {
            background-color: #ff7448;
          }
        }
        &:first-child {
          .step-cell {
            &:after {
              content: '';
              display: block;
              position: absolute;
              width: 50%;
              height: 1px;
              top: 8px;
              right: 0;
              background-color: #d8d8d8;
              z-index: 1;
            }
          }
        }
        &:last-child {
          .step-cell {
            &:before {
              content: '';
              display: block;
              position: absolute;
              width: 50%;
              height: 1px;
              top: 8px;
              left: 0;
              background-color: #d8d8d8;
              z-index: 1;
            }
          }
        }
      }
    }
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
  .form-group {
    .form-control {
      + .form-control {
        margin-top: 8px;
      }
    }
    .user-profile-img {
      width: 72px;
      height: 72px;
      margin: 0 auto;
      position: relative;
      img {
        width: 72px;
        height: 72px;
        border-radius: 100%;
      }
      label {
        width: 26px;
        height: 26px;
        padding: 0;
        position: absolute;
        right: -4px;
        bottom: -4px;
        text-align: center;
        line-height: 24px;
        border-radius: 100%;
        margin: 0;
        cursor: pointer;
        &:hover {
          background-color: $card-hover;
        }
        .icon {
          width: 26px;
          height: 26px;
        }
      }
      input[type="file"] {
        position: absolute;
        opacity: 0;
      }
    }
    &.form-inline {
      display: flex;
      flex-wrap: wrap;
      label {
        width: 100%;
        margin-bottom: 5px;
      }
      input {
        flex: 1;
      }
      button {
        margin-left: 6px;
        width: 110px;
        font-size: 14px;
      }
      .help-block {
        width: 100%;
      }
    }
  }
  .nav-tabs {
    margin: 32px auto;
    li {
      a {
        background-color: #f7f7f7;
        border: 1px solid #bcbcbc;
        border-bottom-color: #000;
        color: #8e8e8e;
      }
      &.active {
        a, a:hover, a:focus {
          background-color: #fff;
          color: #303235;
          font-weight: bold;
          border: 1px solid #000;
          border-bottom-color: #fff;
        }
      }
    }
  }
  .tab-content {
    h5 {
      text-align: left;
      font-size: 16px;
      margin-bottom: 16px;
      small {
        display: block;
        font-size: 14px;
        color: #717171;
        margin-top: 4px;
      }
    }
  }
  .info-form {
    background-image: none;
  }
}

// 로그인, 회원가입 버튼 컬러지정 
.user-sign, .user-join {
  .form-control {
    height: 46px;
  }
  .btns {
    .btn-member {
      background-color: #1d2858;
      color: #fff;
      &:hover, &:active {
        background-color: #324494;
      }
      &:disabled {
        background-color: #a9aec2;
        color: #fff;
      }
    }
  }
}

// 회원가입 완료 모달
.modal-welcome {
  .user-info {
    text-align: center;
    img {
      width: 60px;
      height: 60px;
      margin: 12px auto;
      border-radius: 100%;
    }
    .msg-welcome {
      font-weight: 700;
      font-size: 16px;
    }
    p:last-child {
      color: $text-basic;
    }
  }
}

// 가이드 모달 (대표이미지)
.modal-guide {
  .ol-guide {
    padding-left: 20px;
    > li {
      list-style: decimal;
      > ul {
        > li {
          list-style: "-";
          padding-left: 6px;
        }
      }
    }
    .ex-img {
      background-color: $bg-color;
      margin: 24px 0;
      text-align: center;
      position: relative;
      p {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        transform: translate(0, 48%);
        color: $text-white;
      }
      img {
        width: 500px;
        height: 300px;
      }
    }
  }
}

.modal-full {
  position: fixed;
  z-index: 2000;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,.6);
  .inner {
    width: 100%;
    height: 100%;
    position:relative;
    .hd {
      text-align: right;
      padding: 50px 50px 0 0;
      .btn-close-mf {
        width: 50px;
        height: 50px;
        background: rgba(0,0,0,.5) url(../images/icons/close-imaview.svg) center;
        text-indent: -9999px;
        border-radius: 100%;  
      }
    }
    .bd {
      padding: 40px 0 140px;
      height: 100%;
      .img-full-wrapper {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &.img-horizontal {
          img {
            max-width: 100%;
          }
        }
        &.img-vertical {
          img {
            max-height: 100%;
          }
        }
      }
    }
  }
}

// 채팅 목록 및 채팅 카드
.p-chat {
  overflow: hidden;
}

.nav-tabs-chat {
  li {
    float: left !important;
    display: block !important;
    width: 50% !important;
    a {
      color: rgba(255,255,255,.6);
      background-color: #2f2f48;
      border: none !important;
      border-radius: 0 !important;
      font-size: 16px;
      height: 46px;
      padding: 12px 15px;
      .cnt {
        &:before {
          content: '(';
        }
        &:after {
          content: ')';
        }
      }
      &:hover, &:focus {
        color: rgba(255,255,255,.6);
        background-color: #2f2f48 !important;
      }
    }
    &.active {
      a {
        color: #fff;
        font-weight: bold;
        background-color: #394168;
        &:hover, &:focus {
          color: #fff;
          background-color: #394168 !important;
        }
      }
    }
  }
}

#modalStockBoardRegister .modal-dialog {
  width: 434px;
}

.chat-contents {
  overflow: hidden;
  height: 100%;
  > div {
    &:nth-of-type(1) {
      margin: 18px auto 8px;
      padding: 0;
    }
    &:nth-of-type(2), 
    &:nth-of-type(3) {
      padding: 0;
    }
    &:nth-of-type(3) {
      max-width: 362px;
    }
    &.col-chat {
      float: left;
      &.col-chat-lf {
        width: calc(100% - 362px);
      }
      &.col-chat-rt {
        width: 362px;
      }
      &:after {
        content: '';
        display: block;
        clear: both;
      }
    }

  }
  .tab-content {
    overflow-y: auto;
    background-color: #394168;
    border-bottom: 1px solid #ededf7;
  }
}
.chat-list {
  padding: 0 16px;
  .area-empty {
    > div {
      strong {
        color: #b6bbc1;
        font-size: 14px;
        font-weight: normal;
      }
      &.register-empty {
        &:before {
          background-image: url(../images/icons/nodata-w.svg);
        }
      }
      &.search-empty {
        &:before {
          background-image: url(../images/icons/nodata-search-w.svg);
        }
      }
    }  
  }
}

.btn-capsule {
  display: inline-block;
  background-color: #282b41;
  border-radius: 50px;
  padding: 5px 16px;
  position: absolute;
  bottom: 0;
  right: -113px;
  button {
    display: inline-block !important;
    font-size: 13px;
    border: none;
    padding: 0;
    background-color: transparent;
    color: #fff;
  }
  span {
    display: inline-block;
    width: 1px;
    height: 8px;
    margin: 0 8px;
    background-color: rgba(255,255,255,.5);
  }
}

.chat-card {
  cursor: pointer;
  position: relative;
  z-index: 3;
  margin-bottom: 8px;
  border: 2px solid #fff;
  > div {
    padding: 10px;
  }
  &:hover {
    background-color: $card-hover;
  }
  &.active {
    border: 2px solid #ff7448;
  }
  * {
    box-sizing: border-box;
  }
  .chat-info {
    margin: 0;
    overflow: hidden;
    > div {
      float: left;
    }
    .img-thumb {
      width: 80px;
      height: 80px;
      border-radius: 5px;
      overflow: hidden;
      position: relative;
      img {
        height: 100%;
        // transform: translate(-30%);
        position: absolute;
        left: 0;
        margin-left: -28%;
      }
    }
    .infos {
      width: calc(100% - 80px);
      padding-top: 4px;
      padding-left: 10px;
      .title {
        position: relative;
        .label-chat {
          float: left;
          margin-right: 8px;
        }
        .tt {
          font-weight: bold;
          font-size: 16px;
          line-height: 20px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
        }
        .desc {
          color: #242629;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 20px;
          margin: 10px 0 8px;
        }
      }
      .count {
        color: #666;
        line-height: 20px;
      }
    }
  }
  .chat-thumb {
    display: none;
    border-top: 1px solid $border-light-color;
    padding-top: 6px;
    clear: both;
    overflow: hidden;
    span {
      float: left;
      &:first-child {
        width: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &:last-child {
        width: 20%;
        text-align: right;
      }
    }
  }
}

// 채팅하기
.chat {
  // border: 1px solid $border-color;
  .chat-header {
    min-height: 46px;
    background-color: #4a5483;
    color: #fff;
    padding: 4px 12px;
    position: relative;
    .title {
      display: inline-block;
      font-size: 18px;
      line-height: 36px;
      font-weight: 700;
      position: relative;
      .label-chat {
        position: absolute;
        top: 50%;
        margin-top: -14px;
        width: 42px;
        height: 28px;
        padding: 7px 0;
      }
      span {
        padding-left: 52px;
      }
    }
    .count {
      margin-left: 16px;
      font-size: 14px;
      font-weight: 300;
    }
    .pull-right {
      padding-top: 2px;
    }
    .btn-sm {
      height: 32px;
      min-width: 86px;
      border: none;
      border-radius: 5px;
    }
    .btn-icon {
      width: 30px;
      height: 30px;
      padding: 0;
      min-width: 0;
      margin-left: 16px;
    }
    .btn-inline {
      display: inline-block;
    }
    .dropdown-menu > li > a {
      padding: 8px 20px;
      span {
        margin-right: 4px;
      }
    }
    .chat-notice {
      position: absolute;
      top: 45px;
      left: 0;
      width: 100%;
      background-color: #fff;
      z-index: 5;
      padding: 12px;
      border-bottom: 1px solid $border-color;
    }
  }
  .chat-body {
    .scroll {
      background-color: #ededf7;
      min-height: 400px;
      width: 100%;
      overflow-y: auto;
      position: relative;
      &.freezing {
        background-color: $bg-freezing;
        border: 5px solid #00dcff;
      }
      .inner {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding: 45px 24px;
      }
      .date {
        font-size: 12px;
        width: 120px;
        padding: 9px 0;
        border-radius: 50px;
        text-align: center;
        margin: 24px auto;
        background-color: rgba(0, 0, 0, 0.05);
      }
      .wlc {
         margin: 30px auto;
         text-align: center;
         color: #394168;
         font-size: 13px;
         span {
           &:before, &:after {
             content: '—';
           }
         }
      }
      .msg {
        margin-bottom: 30px;
        display: flex;
        .info {
          .name, .id {
            font-size: 13px;
            font-weight: bold;
            color: #242629;
            cursor: pointer;
          }
          .time {
            color:#61666d;
            font-size: 12px;
          }
          .popover {
            .popover-content {
              .btn {
                display: block;
              }
            }
          }
          .balloon {
            position: relative;
            display: inline-block;
            max-width: 670px;
            margin-top: 6px;
            .inner {
              box-shadow: 2px 2px 2px rgba(0,0,0,.2);
              padding: 10px 12px;
              position: relative;
              line-height: 20px;
              z-index: 2;
            }
            &:before {
              content: "";
              display: block;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-bottom: 0px solid transparent;
              position: absolute;
              z-index: 3;
            }
            &:after {
              content: "";
              display: block;
              border-top: 12px solid rgba(0,0,0,.1);
              border-left: 12px solid transparent;
              border-right: 12px solid transparent;
              border-bottom: 0px solid transparent;
              position: absolute;
              z-index: 1;
            }
            &.emo {
              &:before, &:after {
                content: none;
              }
              .inner {
                background-color: transparent !important;
                box-shadow: none !important;
                padding: 0 12px;
              }
            }
          }
        }
        &.general {
          position: relative;
          .img {
            width: 40px;
            height: 40px;
            margin-top: 24px;
            border-radius: 100%;
            border: 1px solid rgba(0,0,0,.3);
            color: #fff;
            font-size: 18px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            img {
              width: 100%;
              height: 100%;
              border-radius: 100%;
            }
          }
          .info {
            margin-left: 6px;
            .balloon {
              cursor: pointer;
              position: relative;
              .inner {
                background-color: $balloon-default;
                border-radius: 0 9px 9px 9px;
              }
              &:before {
                border-top: 10px solid $balloon-default;
                left: -9px;
                top: 0;
              }
              &:after {
                left: -10px;
                top: 0;
              }
              button {
                display: none;
              }
              // 메세지 삭제
              &.del {
                .inner {
                  color: rgba(0,0,0,.4) !important;
                }
              }
              // 말풍선 클릭
              &.selected {
                .inner {
                  color: #000;
                }
                button {
                  // position: absolute;
                  padding: 0;
                  width: 24px;
                  height: 24px;
                  border-radius: 100%;
                  border: none;
                  background-color: rgba(0, 0, 0, 0.5);
                  color: #fff;
                  top: 50%;
                  margin-top: -12px;
                  &.btn-delete {
                    right: -30px;
                    display: block;
                  }
                  &.btn-reply {
                    right: -60px;
                  }
                  &:hover {
                    background-color: rgba(0, 0, 0, 1);
                  }
                }
              }
            }
            // 파일 전송 이미지 
            .balloon-img {
              border-radius: 8px;
              overflow: hidden;
              clear: both;
              img {
                max-width: 280px;
              }
            } 
          }
        }
        &.blocked {
          .img {
            position: relative;
            &:after {
              content: '';
              display: block;
              border: 1px solid #fff;
              background-color: #005dff;
              width: 10px;
              height: 10px;
              position: absolute;
              right: 1px;
              bottom: 1px;
              border-radius: 100%;
            }
          }
          .info {
            .balloon {
              &.selected {
                button {
                  &.btn-reply {
                    right: -30px;
                    display: block !important;
                  }
                  &.btn-delete {
                    right: -60px;
                  }
                }
              }
            }
          }
        }
        &.my {
          flex-direction: row-reverse;
          .info {
            padding-right: 20px;
            .time {
              text-align: right;
              padding-right: 6px;
              float: right;
            }
            .balloon {
              clear: both;
              .inner {
                background-color: $balloon-admin;
                border-radius: 9px 0 9px 9px;
              }
              &:before {
                border-top: 10px solid $balloon-admin;
                right: -10px;
                top: 0;
              }
              &:after {
                right: -12px;
                top: 0;
              }
            }
            .balloon-img {
              border-radius: 8px;
              overflow: hidden;
              clear: both;
              img {
                max-width: 400px;
              }
            }
          }
        }
        &.signal {
          .balloon {
            width: 300px;
            .inner {
              background-color: #fff !important;
              padding: 0;
              border-radius: 9px !important;
              overflow: hidden;
              .signal-type {
                color: #fff;
                font-size: 16px;
                padding: 8px 10px;
                &.ts {
                  background-color: #e95757;
                }
                &.tb {
                  background-color: #4b8df3;
                }
                &.gs {
                  background-color: #60728e;
                }
              }
              .signal-info {
                margin: 16px 0 0px;
                font-size: 16px;
                color: #000;
                padding: 0 20px;
                li {
                  &:before {
                    content: '';
                    display: inline-block;
                    width: 12px;
                    height: 14px;
                    background: url(../images/icons/bullet.svg) left center no-repeat;
                  }
                }
              }
              p {
                font-size: 14px;
                color: #333;
                line-height: 20px;
                padding: 16px 20px;
              }
            }
            &:before {
              content: none;
            }
            &:after {
              content: none;
            }
          }
        }
        // 방장
        &.adm {
          .img {
            width: 40px;
            height: 40px;
            margin-top: 24px;
            cursor: pointer;
            img {
              width: 100%;
              height: auto;
              border-radius: 100%;
            }
          }
          .info {
            margin-left: 6px;
            .balloon {
              .inner {
                border-radius: 0 9px 9px 9px;
                background-color: #fff;
                border: 2px solid #ffd73f;
              }
              &:before {
                border-top: 10px solid #ffd73f;
                top: 0;
                left: -9px;
              }
              &:after {
                border-top: 10px solid #fff;
                top: 2px;
                left: -5px;
                z-index: 10;
              }
            }
          }
        }
      }
    }
    // 메세지 작성 영역
    .chat-input {
      position: relative;
      border: 1px solid #ededf7;
      textarea.form-control {
        resize: none;
        border-radius: 0;
        border: none;
        padding: 13px 16px;
        min-height: 46px;
      }
      .pod-options {
        position: absolute;
        right: 4px;
        bottom: 5px;
        display: flex;
        align-items: center;
        > ul {
          display: flex;
          > li {
            margin: 0 4px;
            text-align: center;
          }
        }
        .btn {
          border-radius: 4px !important;
          &.btn-icon {
            width: 36px;
            height: 36px;
            padding: 0;
          }
          &.btn-primary {
            background-color: #464c71;
            width: 70px;
            min-width: 70px;
          }
        }
        .btn-file {
          padding: 3px !important;
          label {
            margin: 0;
          }
          input[type="file"] {
            position: absolute;
            opacity: 0;
            width: 1px;
            height: 1px;
          }
        }
      }
      .block-msg-reply {
        display: none;
        background-color: #282b41;
        color: $text-white;
        font-size: 13px;
        border-radius: 4px;
        padding: 12px;
        width: calc(100% - 24px);
        position: absolute;
        left: 10px;
        top: -54px;
        z-index: 100;
        .tg-name {
          color: #b6bbc1;
        }
        .tg-msg {
          color: #fff;
          font-weight: bold;
        }
        .btn-reply-cancel {
          position: absolute;
          right: 12px;
          top: 50%;
          margin-top: -7px;
        }
      }
    }
  }
}



// 이모지 목록
.emoji-list {
  padding: 12px;
  overflow: hidden;
  min-width: 240px;
  li {
    float: left;
    width: 25%;
    padding: 6px;
    text-align: center;
    span {
      cursor: pointer;
    }
  }
}

// 모달 - 회원 목록
.user-list {
  border-top: 1px solid $border-color;
  li {
    border-bottom: 1px solid $border-light-color;
    .user {
      display: flex;
      align-items: center;
      padding: 6px 0;
      .profile-img-wrapper {
        border: 1px solid rgba(0,0,0,.2);
        width: 40px;
        height: 40px;
        border-radius: 100%;
        overflow: hidden;
        .profile-img {
          width: 100%;
          height: 100%;
          text-align: center;
          color: #fff;
          font-size: 16px;
          line-height: 2;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
      .img {
        width: 40px;
        img {
          width: 100%;
          height: auto;
          border-radius: 100%;
        }
        &.block {
          position: relative;
          &.img {
            &:after {
              content: '';
              display: block;
              border: 1px solid #fff;
              background-color: #005dff;
              width: 10px;
              height: 10px;
              position: absolute;
              right: 1px;
              bottom: 4px;
              border-radius: 100%;
            }
          }
        }
      }
      .info {
        flex: 1;
        padding-left: 12px;
        .name {
          font-weight: bold;
          display: block;
        }
        .valid-term {
          color: $text-basic;
          display: block;
        }
      }
      .ex-func {
        display: flex;
        align-items: center;
        .checkbox {
          text-align: center;
          min-width: 36px;
          margin-left: 12px;
          label {
            padding-left: 22px;
          }
        }
      }
    }
  }
}

// 모달 - 공지목록
.notice-list {
  li {
    border-bottom: 1px solid $border-light-color;
    padding: 12px;
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      background-color: $card-hover;
    }
    .notice {
      cursor: pointer;
      display: flex;
      align-items: center;
      .title {
        flex: 1;
        width: calc(100% - 120px);
        padding-right: 24px;
        span {
          display: block;
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          &:first-child {
            font-weight: bold;
          }
          &:last-child {
            color: $text-basic;
          }
        }
      }
      .reg-info {
        display: flex;
        flex-direction: column;
        width: 80px;
        span {
          &:first-child {
            font-size: 12px;
            text-align: center;
          }
          &:last-child {
            margin: 4px auto;
          }
        }
      }
    }
  }
}

.modal-notice {
  .notice-title {
    margin-bottom: 12px;
    .hd {
      strong {
        float: left;
        max-width: 80%;
      }
      .label {
        float: right;
        font-size: 12px;
      }
      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }
    .date {
      color: $text-basic;
    }
  }
}

// textarea length 사용
.form-content {
  position: relative;
  textarea {
    resize: none;
    min-height: 272px;
  }
  .count {
    position: absolute;
    right: 12px;
    bottom: 6px;
    span {
      color: $text-basic;
      &:last-child {
        &:before {
          content: " / ";
        }
      }
    }
  }
}

// 매출액 panel
.panel.total-revenue {
  padding: 12px 0;
  text-align: center;
  > * {
    display: inline-block;
  }
  strong {
    margin-left: 6px;
    .total {
      font-size: 18px;
      color: $text-primary;
    }
  }
}

// 관리자
.mg-groups {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .mg-pouch {
    display: flex;
    align-items: center;
    background-color: $text-primary;
    color: $text-white;
    padding: 6px 12px 8px;
    border-radius: 36px;
    margin: 0 4px 4px 0;
    min-width: 120px;
    .icon-del {
      cursor: pointer;
      border-radius: 100%;
      padding: 2px;
      margin-left: 6px;
      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }
  .ph {
    color: $text-basic;
  }
}

// 등록, 수정 등 table 구조
.table-no-hd {
  margin-top: 20px;
}

.table-form {
  margin-bottom: 16px;
  .fx.fx-mg {
    button {
      margin-left: auto;
      max-height: 34px;
    }
  }
  .profile-img-wrapper {
    width: 88px;
    height: 88px;
    margin: 0 auto;
    position: relative;
    .profile-img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      overflow: hidden;
      border: 1px solid rgba(0,0,0,.2);
      text-align: center;
      // line-height: 88px;
      color: #fff;
      font-size: 48px;
      img {
        width: 100%;
      }
    }
    label {
      width: 24px;
      height: 24px;
      border-radius: 100%;
      border: 1px solid #a4a4aa;
      text-align: center;
      line-height: 24px;
      position: absolute;
      background-color: #fff;
      right: -4px;
      bottom: -4px;
      cursor: pointer;
      input[type=file] {
        position: absolute;
        width: 1px;
        height: 1px;
        opacity: 0;
      }
      &.disabled {
        cursor: not-allowed;
      }
    }
  }
  .form-in-multi {
    select {
      max-width: 120px;
      margin-bottom: 4px;
      display: inline-block;  
    }
    .form-in-btn {
      display: inline-block;
      margin-bottom: 0;
      & > * {
        display: inline-block;
      }
      input.form-control {
        max-width: 50%;
      }
      &.reason {
        width: calc(100% - 150px);
        input.form-control {
          max-width: 80%;
        }
      }
    }
  }
  .pre-detail {
    white-space: pre-wrap;
    max-height: 520px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 5px;
      height: 5px !important;
    }
    &::-webkit-scrollbar-track {
      background-color: #ffffff !important;
    }
    &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background-color: #d8d8d8 !important;
    }
    ::-webkit-scrollbar-thumb:hover {
      background-color: #c5c5c5 !important;
    }
  }
  .required {
    &:after {
      content: "*";
    }
  }
  .cf-num {
    span {
      &:last-child:before {
        content: '';
        display: inline-block;
        width: 1px;
        height: 12px;
        background-color: $border-color;
        margin: 0 8px -2px 6px;
      }
      &.off {
        & + span {
          display: none;
        }
      }
    }
  }
  & + .guide {
    padding-left: 20px;
    margin-bottom: 24px;
    li {
      list-style: disc;
    }
  }
  .mod-component {
    display: none !important;
  }
  &.table-form-mod {
    .mod-component {
      display: inline-block !important;
    }

  }
}

// dl 구조 form (채팅방 설정)
.detail-form {
  .fx.fx-mg {
    button {
      margin-left: auto;
      max-height: 34px;
    }
  }
  .title {
    font-weight: normal;
    color: $text-basic;
  }
  .cont {
    padding: 6px 0 24px;
    .img-thumb {
      position: relative;
      .btn {
        position: absolute;
        right: 6px;
        top: 6px;
        input[type="file"] {
          position: absolute;
          width: 1px;
          height: 1px;
        }
      }
      img {
        width: 100%;
      }
    }
    .form-pack {
      input.form-control {
        margin-bottom: 6px;
      }
      textarea.form-control {
        min-height: 120px;
      }
    }
    .radio {
      label {
        margin-right: 8px;
      }
    }
  }
  .form-inline-set {
    display: flex;
    .time-inline {
      .form-control {
        max-width: 120px;
      }
    }
  }
}

// timepicker
.ui-timepicker-standard {
  z-index: 10000 !important;
}

// 게시판
.drag-board {
  tbody {
    tr {
      cursor: grab;
      td {
        .glyphicon {
          cursor: pointer;
        }
      }
    }
    &.scrolling {
      border: 1px solid red;
      height: 400px;
      overflow-y: auto;
    }
  }
}

// ul like table
.tb-list {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  margin-bottom: 24px;
  border: 1px solid $border-color;
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px !important;
  }
  &::-webkit-scrollbar-track {
    background-color: #ffffff !important;
  }
  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #d8d8d8 !important;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #c5c5c5 !important;
  }

  .tb-list-hd {
    position: sticky;
    top: 0;
    background-color: $bg-white;
    z-index: 5;
    li {
      float: left;
      display: block;
      border-color: $border-color;
      border-style: solid;
      border-width: 0px 1px 2px 0px;
      padding: 8px;
      line-height: 1.42857143;
      font-weight: bold;
    }
    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }
  .tb-list-bd {
    min-height: 110px;
    li {
      background-color: $bg-white;
      cursor: grab;
      .cell {
        float: left;
        border-color: $border-color;
        border-style: solid;
        border-width: 0px 1px 1px 0px;
        padding: 8px;
        line-height: 1.42857143;
        &:last-child {
          border-right: 1px solid $border-color;
        }
        .btn-xs {
          padding: 0;
          border: none;
          line-height: 1;
          background-color: transparent;
        }
      }
      &:after {
        content: "";
        display: block;
        clear: both;
      }
      &:last-child {
        .cell {
          border-width: 0px 1px 0px 0px;
        }
      }
    }
  }
  .tb-list-chat {
    .cell {
      &:nth-of-type(1) {
        width: 10%;
      }
      &:nth-of-type(2) {
        width: 45%;
      }
      &:nth-of-type(3) {
        width: 15%;
      }
      &:nth-of-type(4) {
        width: 15%;
      }
      &:nth-of-type(5) {
        width: 15%;
      }
    }
  }
  .tb-list-board {
    .cell {
      &:nth-of-type(1) {
        width: 50%;
      }
      &:nth-of-type(2),
      &:nth-of-type(3),
      &:nth-of-type(4),
      &:nth-of-type(5),
      &:nth-of-type(6) {
        width: 10%;
      }
    }
  }
}

// table 내 작은 내용
.post-detail {
  min-height: 400px;
}

// 게시물 상세
.detail-post {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  .detail-post-hd {
    padding: 12px;
    border-bottom: 1px solid $border-color;
    .post-title {
      font-size: 18px;
      margin-bottom: 4px;
    }
    .post-info {
      color: $text-basic;
      font-size: 13px;
      .writter {
        color: $text-link-hover;
      }
      .vertical {
        &:before {
          content: "";
          display: inline-block;
          width: 1px;
          height: 12px;
          background-color: $border-color;
          vertical-align: middle;
          margin: -2px 6px 0 4px;
        }
      }
      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }
  }
  .detail-post-bd {
    .attachment {
      padding: 12px;
      background-color: $bg-color;
      label {
        color: $text-basic;
        font-weight: normal;
        margin-right: 12px;
      }
      .files {
        display: flex;
        align-items: center;
        .file {
          width: 102px;
          height: 102px;
          display: flex;
          position: relative;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          margin-right: 10px;
          border: 1px solid rgba(0, 0, 0, 0.3);
          border-radius: 4px;
          img {
            height: 100%;
            position: static;
            z-index: 1;
          }
          .icon-img-del {
            position: absolute;
            right: 2px;
            top: 2px;
            z-index: 2;
            cursor: pointer;
          }
        }
      }
    }
    .contents {
      padding: 12px;
      img {
        margin: 12px 0;
        display: block;
      }
    }
  }
  &.detail-register {
    .detail-post-hd {
      .form-inline {
        .form-group {
          width: calc(100% - 170px);
          .form-control {
            width: 100%;
          }
        }
        .checkbox {
          width: 146px;
          padding-left: 12px;
          label {
            &:first-child {
              margin-right: 12px;
            }
          }
        }
      }
    }
    .attachment {
      border-top: 1px solid $border-color;
      label {
        position: relative;
        & + span {
          color: $text-basic;
          font-size: 13px;
        }
      }
      input[type=file] {
        position: absolute;
        left: 0;
        top: 0;
        width: 1px;
        height: 1px;
        opacity: 0;
      }
      .files {
        margin-top: 12px;
      }
    }
  }
}

// 게시판 설정
.modal-form {
  .img-file-box {
    max-width: 410px;
    img {
      width: 100%;
    }
  }
}

.input-count {
  position: relative;
  input {
    padding: 6px 44px 6px 12px;
  }
  .count {
    position: absolute;
    right: 6px;
    top: 50%;
    margin-top: -10px;
    span {
      color: #61666d;
      &:last-child {
        color: #90969e;
        &:before {
          content: "/";
          color: #90969e;
        }
      }
    }
  }
}

// 댓글
.comment-area {
  .title {
    padding: 12px;
    h4 {
      margin-bottom: 0;
    }
  }
  .comment-body {
    border: 1px solid $border-color;
    .comment-form {
      background-color: $bg-color;
      border-bottom: 1px solid $border-color;
      padding: 12px;
      .writter {
          text-indent: 6px;
          margin-bottom: 4px;
      }
      .left {
        float: left;
        width: calc(100% - 120px);
        position: relative;
        textarea {
            min-height: 88px;
            border-radius: 4px 0 0 4px;
        }
        .count {
          position: absolute;
          right: 8px;
          bottom: 6px;
        }
      }
      .right {
        float: right;
        width: 120px;
        .btn {
            width:100%;
            min-height: 88px;
            border-radius: 0 4px 4px 0;
            border-left:none;
        }
      }
      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }
    .comment-list {
      li {
        border-bottom: 1px solid $border-light-color;
        &:last-child {
          border-bottom: none;
        }
      }
      .comment {
        padding: 12px;
        position: relative;
        .vertical {
          &:before {
            content: "";
            display: inline-block;
            width: 1px;
            height: 12px;
            margin: 0 4px -2px;
            background-color: $border-color;
          }
        }
        .writter {
          font-size: 13px;
        }
        .date {
          color: $text-basic;
          font-size: 13px;
        }
        p {
          margin-top: 8px;
        }
        .btn {
          position: absolute;
          right: 12px;
          top: 50%;
          margin-top: -8px;
        }
      }
    }
  }
}

// 에디터
.txt-editor.ql-container {
  border: 1px solid red;
  height: 480px;
}

// 동영상 추가 팝업
#modalVideoRegister {
  .form-in-btn {
    margin-bottom: 0;
    .input-count {
      float: left;
      width: calc(100% - 60px);
    }
    .btn {
      float: right;
      display: block;
      margin-left: 4px;
    }
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
  .preview-video {
    min-height: 240px;
    background-color: $bg-light-color;
    iframe {
      width: 100%;
      min-height: 240px;
      border: none;
    }
  }
}

// 앱메인 타입 설정
.app-main-set {
   .radio-img {
     margin-bottom: 24px;
     label {
       margin-right: 24px;
       text-align: center;
       img {
         display: block;
         margin: 6px;
       }
     }
   }
}

// 권한
.mg-authority {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  .auth-box {
    padding: 12px;
    .auth-chip {
      float: left;
      width: calc(100% / 3);
      padding: 6px;
      .checkbox {
        margin: 0;
        input[type=checkbox] {
          left: -9999px;
        }
      }
      label {
        display: inline-block;
        border: 1px solid $border-color;
        border-radius: 4px;
        margin: 0;
        padding: 6px 16px 6px 24px;
        cursor: pointer;
        input[type=checkbox] {
          float: right;
        }
      }
    }
  }
}

@media (min-width: 1281px) {
  .mg-authority {
    .auth-box {
      .auth-chip {
        width: calc(100% / 5);
      }
    }
  }
}

// 권한 그룹 관리
.auth-board {
  .tp {
    margin-bottom: 12px;
    overflow: hidden;
    > * {
      float: left;
    }
    .input-count {
      label {
        float: left;
        margin: 8px 12px 0 0;
      }
      input[type=text] {
        float: left;
        width: 50%;
        min-width: 300px;
      }
    }
    .btn {
      margin-left: 6px;
    }
    .guide {
      font-size: 12px;
      margin-left: 16px;
      li {
        list-style: '*';
      }
    }
  }
  .bt {
    clear: both;
  }
  .table {
    &.tb-auth {
      thead {
        tr {
          th {
            background-color: #999;
            color: #fff;
          }
        }
      }
      tbody {
        tr {
          th {
           &.d1 {
             background-color: #f1f1f1;
           }
           &.d2 {
             background-color: #f9f9f9;
           }
          }
          td {
            .checkbox {
              margin: 0;
            }
          }
        }
      }
    }
  }
}

// 테이블 상단 summary info
.summary-info {
  padding: 12px 0;
  text-align: center;
  .terms {
    font-size: 16px;
  }
  .counter {
    padding-top: 12px;
    .counter-info {
      display: inline-block;
      font-size: 20px;
      font-weight: bold;
      small {
        font-weight: normal;
      }
     
      &:before {
        content: '';
        display: inline-block;
        width: 1px;
        height: 12px;
        background-color: $border-color;
        margin: 0 16px 0 12px;
      }
      &:first-child {
        &:before {
          content: none;
        }
      }
      
    }
  }
}

// 신호
.col-signal-wrapper {
  .col-signal {
    float: left;
    &.col-signal-lf {
      width: calc(100% - 306px);
      padding-right: 10px;
    }
    &.col-signal-rt {
      border-left: 1px solid #e6eaef;
      padding-left: 10px;
      width: 306px;
    }
  }
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.signal-form {
  margin-bottom: 12px !important;
  tbody {
    tr {
      th {
        width: 110px;
      }
    }
  }
  textarea {
    resize: none;
    height: 135px;
  }
  .form-inline {
    .form-control {
      width: 197px;
    }
    .btn {
      width: 56px;
      min-width: 56px;
    }
  }
  .dropdown-menu {
    border: 1px solid #90969e;
    box-shadow: 0 0 3px rgba(0,0,0,.3);
    margin: 0;
    padding: 10px;
    min-width: 197px;
    li {
      a {
        border-bottom: 1px solid #e6eaef;
        height: 34px;
        line-height: 30px;
        font-weight: bold;
        padding: 3px 10px;
        font-size: 12px;
        span {
          font-weight: normal;
        }
        &:last-child {
          border-bottom: none;
        }
        &:hover {
          background-color: transparent !important;
          color: $text-emphasize !important;
        }
        &:focus {
          outline: none;
        }
      }
      .dropdown-list-pagination {
        margin: 0 -10px -10px -10px;
        padding: 10px 0;
        border-top: 1px solid #b9b9b9;
        button {
          &:first-child {
            float: left;
          }
          &:last-child {
            float: right;
          }
        }
        &:after {
          content: '';
          display: block;
          clear: both;
        }
      }
    }
  }
}

.signal {
  &.signal-preview {
    position:relative;
    height: 398px;
    > div:not(.count) {
      padding: 12px;
      height: 100%;
      border-radius: 4px;
    }
    > span {
      word-break: break-all;
    }
    .signal-info {
      margin: 16px 0 0px;
      font-size: 14px;
      color: #000;
      li {
        &:before {
          content: '▸ ';
        }
      }
      span {
        color: #90969e;
        &.completed {
          color: #000;
        }
      }
    }
    .op {
      margin-top: 16px;
      color: $text-basic;
      &.completed {
        color: $text-basic-hover;
      }
    }
    .count {
      position: absolute;
      right: 16px;
      bottom: 16px;
      color: #61666d;
      font-size: 14px;
      span:last-child {
        color: #90969e;
        &:before {
          content: '/ ';
        }
      }
    }
    .sb {
      background-color: $signal-buy-bg;
      border: 1px solid $signal-buy-border;
    }
    .ss {
      background-color: $signal-sell-bg;
      border: 1px solid $signal-sell-border;
    }
    .sa {
      background-color: $signal-alarm-bg;
      border: 1px solid $signal-alarm-border;
    }
  }
}

// 보유 전광판
.modal {
  .modal-body {
    &.stock-board {
      min-height: 480px;
      .detail-tabs {
        margin-top: 0;
      }
      .detail-content {
        margin-top: 0;
        .table {
          tr {
            cursor: pointer;
            &:hover {
              background-color: $card-hover;
            }
          }
        }
      }
    }
    &.member-board {
      min-height: 480px;
    }
  }
}

.modal-dialog {
  .contents {
    min-height: 480px;
    &:not(.contents-notice-list) {
      // padding: 12px;
    }
  }
  .modal-footer {
    .mode-detail {
      .btn-default {
        float: left;
      }
    }
  }
  &.list {
    .modal-footer {
      > *:not(.mode-list) {
        display: none;
      }
    }
  }
  &.detail {
    .modal-footer {
      > *:not(.mode-detail) {
        display: none;
      }
    }
  }
  &.modify {
    .modal-footer {
      > *:not(.mode-modify) {
        display: none;
      }
    }
  }
  &.register {
    .modal-footer {
      > *:not(.mode-register) {
        display: none;
      }
    }
  }
}


// 통계
.statistics {
  .terms {
    text-align: center;
    font-size: 18px;
    padding: 12px 0;
  }
  .area-chart {
    .chart {
      border: 1px solid $border-color;
      border-radius: 8px;
      margin-bottom: 24px;
      .chart-title {
        border-bottom: 1px solid $border-light-color;
        font-weight: bold;
        padding: 8px 12px;
      }
      .chart-body {
        padding: 12px;
      }
    }
  }
}

.area-search {
  &.statistics {
    .form-inline {
      display: flex;
      .date-twin {
        float: left;
        position: relative;
        label {
          width: 100%;
          font-weight: normal;
          font-size: 12px;
          margin-bottom: 2px;
        }
        select {
          min-width: 120px;
          margin-right: 6px;
        }
        .btn-search {
          position: absolute;
          right: -94px;
          top: 1px;
          height: 34px;
          margin-top: 22px;
        }
      }
    }
  }
}

