// 메인

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
    padding-top: 0;
    font-size: 16px;
}

div, ul {
  padding: 0; 
  margin: 0;
}

ul, li {
  list-style: none;
}

button:focus {
  outline: none !important;
}

* {
    box-sizing: border-box;
}

/* colors */
$border-color: #ddd;
$border-light-color: #eee;
$bg-color: #f2f3f6;
$bg-light-color: #f9f9f9; // 채팅방bg
$balloon-default: #fff;
$balloon-admin: #ffeae2;  // 관리자 말풍선
$balloon-signal: #ffdfdf; // 신호색상
$text-white: #fff;
$text-basic: #9d9d9d;
$text-basic-hover: #000;
$text-primary: #2e6da4;
$text-link-basic: #6a6a6a;
$text-link-hover: #000;
$text-warning: #8a6d3b;
$card-hover: #f2f3f5;
$card-active: #fff3e0;
$btn-primary: #2e6da4;
$btn-secondary: #666;
$btn-secondary-hover: #000;

a {
  color: $text-link-basic;
  &:hover, &:active {
    color: $text-link-hover;
  }
}

.w-main {
    width: 100%;
    height: 100%;
    .w-main-carousel {
        min-height: 200px;
        background-color: darkslategray;
        .carousel {
            height: 200px;
            text-align: center;
            padding: 50px 0;
            .carousel-indicators {
                bottom: 0;
                li {
                    border: none;
                    background-color: #fff;
                    margin: 0 2px;
                }
                .active {
                    background-color: coral;
                    width: 10px;
                    height: 10px;
                }
            }
            .carousel-inner {
                .item {
                    font-size: 56px;
                    font-weight: bold;
                }
            }
        }
    }
    .w-main-list {
        padding: 12px;
        .w-main-tab {
            background-color: #fff;
            ul {
                border-bottom: 1px solid $border-color;
                display: flex;
                align-items: center;
                li {
                    flex: 1;
                    border-bottom: 3px solid transparent;
                    a {
                        display: block;
                        text-align: center;
                        padding: 6px 0;
                    }
                    &.active {
                        border-bottom: 3px solid coral;
                    }
                }
            }
            &.tab-sticky {
                position: sticky !important;
                top: 0;
                z-index: 10;
            }
        }
        .wc-list {
            padding: 12px 0;
            li {
                padding: 6px 0;
                border-bottom: 1px solid $border-color;
                .wcc {
                    display: flex;
                    .img-thumb {
                        width: 20%;
                        max-width: 72px;
                        position: relative;
                        overflow: hidden;
                        img {
                            width: auto;
                            height: 72px;
                            position: absolute;
                            left: 50%;
                            margin-left: -50%;

                        }
                    }
                    .info {
                        display: flex;
                        flex-direction: column;
                        padding: 0 6px;
                        width: calc(100% - 144px);
                        > span {
                            display: block;
                        }
                        .title {
                            font-weight: bold;
                            width: 100%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            margin-bottom: 4px;
                        }
                        .sub {
                            width: 100%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            font-size: 14px;
                        }
                    }
                    .ex-func {
                        width: 20%;
                        max-width: 72px;
                        display: flex;
                        flex-direction: column;
                        span {
                            &:first-child {
                                font-size: 12px;
                                text-align: right;
                                color: #333;
                            }
                        }
                    }
                }
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}