
<h4 class="detail-content-hd">권한정보</h4>
<div class="mg-authority">
    <div class="auth-box clearfix">
        <div class="auth-chip">
            <span class="checkbox">
                <input type="checkbox" name="" id="chk1" >
                <label for="chk1"><span>관리 권한</span></label>
            </span>
        </div>
        <div class="auth-chip">
            <span class="checkbox">
                <input type="checkbox" name="" id="chk2" >
                <label for="chk2"><span>결제 관리</span></label>
            </span>
        </div>
        <div class="auth-chip">
            <span class="checkbox">
                <input type="checkbox" name="" id="chk3" >
                <label for="chk3"><span>게시판 권한</span></label>
            </span>
        </div>
        <div class="auth-chip">
            <span class="checkbox">
                <input type="checkbox" name="" id="chk4" >
                <label for="chk4"><span>매출 통계</span></label>
            </span>
        </div>
        <div class="auth-chip">
            <span class="checkbox">
                <input type="checkbox" name="" id="chk5" >
                <label for="chk5"><span>보유 전광판 관리</span></label>
            </span>
        </div>
        <div class="auth-chip">
            <span class="checkbox">
                <input type="checkbox" name="" id="chk7" >
                <label for="chk6"><span>매출 통계</span></label>
            </span>
        </div>
        <div class="auth-chip">
            <span class="checkbox">
                <input type="checkbox" name="" id="chk7" >
                <label for="chk7"><span>실시간 신호</span></label>
            </span>
        </div>
        <div class="auth-chip">
            <span class="checkbox">
                <input type="checkbox" name="" id="chk8" >
                <label for="chk8"><span>서비스 상품 생성</span></label>
            </span>
        </div>
        <div class="auth-chip">
            <span class="checkbox">
                <input type="checkbox" name="" id="chk9" >
                <label for="chk9"><span>회원 관리</span></label>
            </span>
        </div>
    </div>
</div>

<div class="btns btns-right mg24">
    <button type="button" class="btn btn-primary" id="btnSavePermission">수정완료</button>
</div>
