
<!-- 회원목록 모달 -->
<div class="modal fade modal-list" id="modalMemberList" aria-labelledby="modalMemberListLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">회원목록</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group form-search">
                        <span class="icon icon-search"></span>
                        <input type="text" class="form-control" placeholder="닉네임, 아이디 검색">
                    </div>
                </form>
                <div class="scrolling">
                    <ul class="user-list">
                        <li>
                            <div class="user">
                                <div class="img">
                                    <img src="../assets/images/icons/profile-photo.svg" alt="OOO 회원님의 프로필 이미지" >
                                </div>
                                <div class="info">
                                    <span class="name">주식수로왕 (surokim)</span>
                                    <span class="valid-term">
                                        가입 기간 :  YYYY-MM-DD ~ YYYY-MM-DD
                                    </span>
                                </div>
                                <div class="ex-func">
                                    <button type="button" class="btn btn-toggle blocked btn-sm">블락등록</button>
                                    <div class="checkbox">
                                        <input type="checkbox" name="user-chk" id="chk1">
                                        <label for="chk1">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="user">
                                <div class="img block">
                                    <img src="../assets/images/icons/profile-photo.svg" alt="OOO 회원님의 프로필 이미지">
                                </div>
                                <div class="info">
                                    <span class="name">나회원25 (namem79)</span>
                                    <span class="valid-term">
                                        가입 기간 :  YYYY-MM-DD ~ YYYY-MM-DD<br>
                                        서비스 기간 : YYYY-MM-DD ~ YYYY-MM-DD
                                    </span>
                                </div>
                                <div class="ex-func">
                                    <button type="button" class="btn btn-toggle btn-sm">블락해제</button>
                                    <div class="checkbox">
                                        <input type="checkbox" name="user-chk" id="chk2">
                                        <label for="chk2">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="user">
                                <div class="img">
                                    <img src="../assets/images/icons/profile-photo.svg" alt="OOO 회원님의 프로필 이미지">
                                </div>
                                <div class="info">
                                    <span class="name">닉네임 (id)</span>
                                    <span class="valid-term">
                                        관리자
                                    </span>
                                </div>
                                <div class="ex-func">
                                    <button type="button" class="btn btn-toggle btn-sm">블락등록</button>
                                    <div class="checkbox">
                                        <input type="checkbox" name="user-chk" id="chk3">
                                        <label for="chk3">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="user">
                                <div class="img">
                                    <img src="../assets/images/icons/profile-photo.svg" alt="OOO 회원님의 프로필 이미지">
                                </div>
                                <div class="info">
                                    <span class="name">김수로</span>
                                    <span class="valid-term">
                                        가입 기간 :  YYYY-MM-DD ~ YYYY-MM-DD
                                    </span>
                                </div>
                                <div class="ex-func">
                                    <button type="button" class="btn btn-toggle btn-sm">블락등록</button>
                                    <div class="checkbox">
                                        <input type="checkbox" name="user-chk" id="chk4">
                                        <label for="chk4">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="user">
                                <div class="img">
                                    <img src="../assets/images/icons/profile-photo.svg" alt="OOO 회원님의 프로필 이미지">
                                </div>
                                <div class="info">
                                    <span class="name">닉네임 (id)</span>
                                    <span class="valid-term">
                                        가입 기간 :  YYYY-MM-DD ~ YYYY-MM-DD
                                    </span>
                                </div>
                                <div class="ex-func">
                                    <button type="button" class="btn btn-toggle btn-sm">블락등록</button>
                                    <div class="checkbox">
                                        <input type="checkbox" name="user-chk">
                                        <label>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="user">
                                <div class="img">
                                    <img src="../assets/images/icons/profile-photo.svg" alt="OOO 회원님의 프로필 이미지">
                                </div>
                                <div class="info">
                                    <span class="name">닉네임 (id)</span>
                                    <span class="valid-term">
                                        가입 기간 :  YYYY-MM-DD ~ YYYY-MM-DD
                                    </span>
                                </div>
                                <div class="ex-func">
                                    <button type="button" class="btn btn-toggle btn-sm">블락등록</button>
                                    <div class="checkbox">
                                        <input type="checkbox" name="user-chk">
                                        <label>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="user">
                                <div class="img">
                                    <img src="../assets/images/icons/profile-photo.svg" alt="OOO 회원님의 프로필 이미지">
                                </div>
                                <div class="info">
                                    <span class="name">닉네임 (id)</span>
                                    <span class="valid-term">
                                        가입 기간 :  YYYY-MM-DD ~ YYYY-MM-DD
                                    </span>
                                </div>
                                <div class="ex-func">
                                    <button type="button" class="btn btn-toggle btn-sm">블락등록</button>
                                    <div class="checkbox">
                                        <input type="checkbox" name="user-chk">
                                        <label>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="user">
                                <div class="img">
                                    <img src="../assets/images/icons/profile-photo.svg" alt="OOO 회원님의 프로필 이미지">
                                </div>
                                <div class="info">
                                    <span class="name">닉네임 (id)</span>
                                    <span class="valid-term">
                                        가입 기간 :  YYYY-MM-DD ~ YYYY-MM-DD
                                    </span>
                                </div>
                                <div class="ex-func">
                                    <button type="button" class="btn btn-toggle btn-sm">블락등록</button>
                                    <div class="checkbox">
                                        <input type="checkbox" name="user-chk">
                                        <label>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="user">
                                <div class="img">
                                    <img src="../assets/images/icons/profile-photo.svg" alt="OOO 회원님의 프로필 이미지">
                                </div>
                                <div class="info">
                                    <span class="name">닉네임 (id)</span>
                                    <span class="valid-term">
                                        가입 기간 :  YYYY-MM-DD ~ YYYY-MM-DD
                                    </span>
                                </div>
                                <div class="ex-func">
                                    <button type="button" class="btn btn-toggle btn-sm">블락등록</button>
                                    <div class="checkbox">
                                        <input type="checkbox" name="user-chk">
                                        <label>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="user">
                                <div class="img">
                                    <img src="../assets/images/icons/profile-photo.svg" alt="OOO 회원님의 프로필 이미지">
                                </div>
                                <div class="info">
                                    <span class="name">닉네임 (id)</span>
                                    <span class="valid-term">
                                        가입 기간 :  YYYY-MM-DD ~ YYYY-MM-DD
                                    </span>
                                </div>
                                <div class="ex-func">
                                    <button type="button" class="btn btn-toggle btn-sm">블락등록</button>
                                    <div class="checkbox">
                                        <input type="checkbox" name="user-chk">
                                        <label>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    @@include('../../common/pagination_popup.html')
                </div>

                <div class="area-empty search" style="display: none;">
                    <div class="search-empty">
                        <strong>검색 결과가 없습니다.</strong>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" disabled id="btnExorcise">강퇴</button>
            </div>
        </div>
    </div>
</div>



<!-- 인증번호 설정 -->
<div class="modal fade" id="modalCertification" aria-labelledby="modalCertificationLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">인증번호 설정</h4>
            </div>
            <div class="modal-body">
                <dl class="detail-form">
                    <dt class="title">인증번호 설정</dt>
                    <dd class="form-group">
                        <div class="radio">
                            <span>
                                <input type="radio" name="certify-num" value="0" id="certifyNumOFF">
                                <label for="certifyNumOFF"><span>OFF</span></label>
                            </span>
                            <span>
                                <input type="radio" name="certify-num" value="1" checked id="certifyNumON">
                                <label for="certifyNumON"><span>ON</span></label>
                            </span>
                        </div>

                        <!-- Firefox, safari, IE 동작 안함
                            <input type="number" class="form-control" max="4" inputmode="numeric" style="-webkit-text-security: disc;">
                        -->
                        <input type="number" class="form-control" placeholder="인증번호 입력 (숫자 4자리)" max="9999" maxLength="4" autocomplete="off" disabled id="inputCertificationNum" >
                    </dd>
                </dl>
                
                <p class="txt-guide">
                    채팅방 인증번호 분실시 인증번호를 재설정해야 합니다.<br>중요한 인증번호는 보관해주세요.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default">취소</button>
                <button type="button" class="btn btn-primary" disabled id="btnSetCertifyNumber">인증번호 설정</button>
            </div>
        </div>
    </div>
</div>

