<h4 class="detail-content-hd">기본정보</h4>
<table class="table table-form">
    <colgroup>
        <col style="width: 12%">
        <col style="width: 38%">
        <col style="width: 12%">
        <col style="width: 38%">
    </colgroup>
    <tbody>
        <tr>
            <th>채팅방명</th>
            <td>
                <span class="data">성공투자주식방-1</span>
            </td>
            <th>상품 생성자</th>
            <td>
                <span class="data">박홍식(park77)</span>
            </td>
        </tr>
        <tr>
            <th>간단 소개</th>
            <td colspan="3">
                <span class="data">주식은 결코 어려운 것이 아닙니다!</span>
            </td>
        </tr>
        <tr>
            <th>채팅방 소개</th>
            <td class="vertical-top">
                <div>
                    안녕하세요~ 성투주식방의 나주식입니다.<br>
                    분석을 통해 결과 예측으로 실시간 수익을 내드리고 있습니다. 안전한 수익을 위해 매시간마다 정보를 전달드립니다. 성.공.투.자. 100%
                </div>
            </td>
            <th>대표이미지</th>
            <td>
                <div class="img-file-box">
                    <div class="img-thumb">
                        <img src="../assets/images/photos/sample.jpeg" alt="">
                    </div>
                    <div class="file-func">
                        <div class="pull-left">
                            <a href="#" data-toggle="modal" data-target="#modalThumbImgGuide">
                                <span class="icon icon-info"></span>
                                대표이미지 등록 가이드
                            </a>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th>구분</th>
            <td>
                <span class="data">유료</span>
            </td>
            <th>채팅유형</th>
            <td>
                <span class="data">일반 채팅</span>
            </td>
        </tr>
        <tr>
            <th>방장</th>
            <td colspan="3">
                <span class="data">
                    나주민(nastock), 박나래(parkadmin), 홍길동(hongadmin)
                </span>
                
            </td>
        </tr>
        <tr>
            <th>기간</th>
            <td>
                <span class="data">2021-04-10 ~ 2022-03-31</span>
            </td>
            <th>최대인원</th>
            <td>
                <span class="data">100</span>
            </td>
        </tr>
        <!-- 인증번호 설정 ON 인경우 off 클래스 삭제 -->
        <tr>
            <th>인증번호 설정</th>
            <td colspan="3">
                <span class="data cf-num">
                    <span class="off">OFF</span>
                    <span>1234</span>
                </span>
            </td>
        </tr>
    </tbody>
</table>

@@include('./wa_05_product_img_guide_popup.html')