<div class="area-list">
    <div class="area-list-header">
        <div class="pull-left">
            Total <span class="count">100</span>
        </div>
        <div class="pull-right">
            <div class="form-inline">
                <label for="">가입상태</label>
                <select class="form-control" style="width: 120px">
                    <option value="">유지</option>
                    <option value="">만료</option>
                    <option value="">강퇴</option>
                </select>
            </div>
            
        </div>
    </div>
    <div class="area-list-body">
        <table class="table table-bordered data-list member-list">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>회원명 <span class="glyphicon glyphicon-sort-by-attributes-alt"></span></th>
                    <th>아이디</th>
                    <th>닉네임</th>
                    <th>결제금액(원)</th>
                    <th>가입일 <span class="glyphicon glyphicon-sort-by-attributes-alt"></span></th>
                    <th>종료일</th>
                    <th>보너스 기간 <span class="glyphicon glyphicon-sort-by-attributes-alt"></span></th>
                    <th>블락여부</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>100</td>
                    <td>회원명</td>
                    <td>janghaha</td>
                    <td>난나라</td>
                    <td>2,000,000</td>
                    <td>2021-05-10</td>
                    <td>2021-06-30</td>
                    <td>2021-07-01 ~ 2021-07-31</td>
                    <td>일반</td>
                </tr>
                <tr>
                    <td>99</td>
                    <td>회원명</td>
                    <td>woosu12</td>
                    <td>woosu12</td>
                    <td>1,000,000</td>
                    <td>YYYY-MM-DD</td>
                    <td>YYYY-MM-DD</td>
                    <td>YYYY-MM-DD ~ YYYY-MM-DD</td>
                    <td>블락</td>
                </tr>
                <tr>
                    <td>98</td>
                    <td>회원명</td>
                    <td>mrlee</td>
                    <td>이하고난</td>
                    <td>1,000,000</td>
                    <td>YYYY-MM-DD</td>
                    <td>YYYY-MM-DD</td>
                    <td>YYYY-MM-DD ~ YYYY-MM-DD</td>
                    <td>일반</td>
                </tr>
                <tr>
                    <td>97</td>
                    <td>회원명</td>
                    <td>narawang</td>
                    <td>narawang</td>
                    <td>500,000</td>
                    <td>YYYY-MM-DD</td>
                    <td>YYYY-MM-DD</td>
                    <td>YYYY-MM-DD ~ YYYY-MM-DD</td>
                    <td>일반</td>
                </tr>
                <tr>
                    <td>96</td>
                    <td>회원명</td>
                    <td>subong54</td>
                    <td>성공투자</td>
                    <td>1,000,000</td>
                    <td>YYYY-MM-DD</td>
                    <td>YYYY-MM-DD</td>
                    <td>YYYY-MM-DD ~ YYYY-MM-DD</td>
                    <td>일반</td>
                </tr>
                <tr>
                    <td>95</td>
                    <td>회원명</td>
                    <td>ID</td>
                    <td>Nickname</td>
                    <td>1,000,000</td>
                    <td>YYYY-MM-DD</td>
                    <td>YYYY-MM-DD</td>
                    <td>YYYY-MM-DD ~ YYYY-MM-DD</td>
                    <td>일반</td>
                </tr>
                <tr>
                    <td>94</td>
                    <td>회원명</td>
                    <td>ID</td>
                    <td>Nickname</td>
                    <td>1,000,000</td>
                    <td>YYYY-MM-DD</td>
                    <td>YYYY-MM-DD</td>
                    <td>YYYY-MM-DD ~ YYYY-MM-DD</td>
                    <td>일반</td>
                </tr>
                <tr>
                    <td>93</td>
                    <td>회원명</td>
                    <td>ID</td>
                    <td>Nickname</td>
                    <td>1,000,000</td>
                    <td>YYYY-MM-DD</td>
                    <td>YYYY-MM-DD</td>
                    <td>YYYY-MM-DD ~ YYYY-MM-DD</td>
                    <td>일반</td>
                </tr>
                <tr>
                    <td>92</td>
                    <td>회원명</td>
                    <td>ID</td>
                    <td>Nickname</td>
                    <td>1,000,000</td>
                    <td>YYYY-MM-DD</td>
                    <td>YYYY-MM-DD</td>
                    <td>YYYY-MM-DD ~ YYYY-MM-DD</td>
                    <td>일반</td>
                </tr>
                <tr>
                    <td>91</td>
                    <td>회원명</td>
                    <td>ID</td>
                    <td>Nickname</td>
                    <td>1,000,000</td>
                    <td>YYYY-MM-DD</td>
                    <td>YYYY-MM-DD</td>
                    <td>YYYY-MM-DD ~ YYYY-MM-DD</td>
                    <td>일반</td>
                </tr>
            </tbody>
        </table>
        @@include('../../common/pagination.html')
    </div>
</div>