<div class="modal modal-list fade" id="modalAddMember" aria-labelledby="modalAddMemberLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">회원 추가</h4>
            </div>
            <div class="modal-body member-board">
                <form>
                    <div class="form-group form-search">
                        <span class="icon icon-search"></span>
                        <input type="text" class="form-control" placeholder="회원명 검색">
                    </div>
                </form>
                <div class="scrolling">
                    <div class="sch-initial">
                        <img src="../../assets/images/icons/member-sch-init.svg" alt="사용자의 프로필 이미지" >
                        <p>회원을 검색해주세요.</p>
                    </div>
                    <ul class="user-list" style="display: none;">
                        <li>
                            <div class="user">
                                <div class="profile-img-wrapper">
                                    <div class="profile-img" style="background-color: #68a5a0;">h</div>
                                </div>
                                <div class="info">
                                    <span class="name">홍금보(honghong)</span>
                                </div>
                                <div class="ex-func">
                                    <div class="radio">
                                        <input type="radio" name="user-chk" id="chk1" value="1">
                                        <label for="chk1">
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="user">
                                <div class="profile-img-wrapper">
                                    <div class="profile-img" style="background-color: #a77593;">h</div>
                                </div>
                                <div class="info">
                                    <span class="name">홍자79(hongja)</span>
                                </div>
                                <div class="ex-func">
                                    <div class="radio">
                                        <input type="radio" name="user-chk" id="chk2" value="2">
                                        <label for="chk2">
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAddMember" disabled>회원 추가</button>
            </div>
        </div>
    </div>
</div>