<div class="modal fade modal-notice" id="modalNotice" aria-labelledby="modalNotice" aria-hidden="true">
    <div class="modal-dialog list">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">공지사항</h4>
            </div>
            <div class="modal-body">
                <div class="contents contents-notice-list">
                    <div class="scrolling">
                        <ul class="notice-list">
                            <li>
                                <div class="notice">
                                    <div class="title">
                                        <span>성투주식방 공지1 성투주식방 공지1 성투주식방 공지1 성투주식방 공지1 성투주식방 공지1 성투주식방 공지1 성투주식방 공지1</span>
                                        <span class="thumb">안녕하세요~ 성투주식방의 나주식입니다. 안녕하세요~ 성투주식방의 나주식입니다. 안녕하세요~ 성투주식방의 나주식입니다. 안녕하세요~ 성투주식방의 나주식입니다.</span>
                                    </div>
                                    <div class="reg-info">
                                        <span>2021-03-30</span>
                                        <span class="label label-default">나주식</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="notice">
                                    <div class="title">
                                        <span>성투주식방 공지1</span>
                                        <span class="thumb">안녕하세요~ 성투주식방의 나주식입니다.</span>
                                    </div>
                                    <div class="reg-info">
                                        <span>YYYY-MM-DD</span>
                                        <span class="label label-default">확실한</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="notice">
                                    <div class="title">
                                        <span>성투주식방 공지1</span>
                                        <span class="thumb">안녕하세요~ 성투주식방의 나주식입니다.</span>
                                    </div>
                                    <div class="reg-info">
                                        <span>YYYY-MM-DD</span>
                                        <span class="label label-default">나주식</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="notice">
                                    <div class="title">
                                        <span>성투주식방 공지1</span>
                                        <span class="thumb">안녕하세요~ 성투주식방의 나주식입니다.</span>
                                    </div>
                                    <div class="reg-info">
                                        <span>YYYY-MM-DD</span>
                                        <span class="label label-default">이성투</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="notice">
                                    <div class="title">
                                        <span>성투주식방 공지1</span>
                                        <span class="thumb">안녕하세요~ 성투주식방의 나주식입니다.</span>
                                    </div>
                                    <div class="reg-info">
                                        <span>YYYY-MM-DD</span>
                                        <span class="label label-default">이성투</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="notice">
                                    <div class="title">
                                        <span>성투주식방 공지1</span>
                                        <span class="thumb">안녕하세요~ 성투주식방의 나주식입니다.</span>
                                    </div>
                                    <div class="reg-info">
                                        <span>YYYY-MM-DD</span>
                                        <span class="label label-default">이성투</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="notice">
                                    <div class="title">
                                        <span>성투주식방 공지1</span>
                                        <span class="thumb">안녕하세요~ 성투주식방의 나주식입니다.</span>
                                    </div>
                                    <div class="reg-info">
                                        <span>YYYY-MM-DD</span>
                                        <span class="label label-default">이성투</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="notice">
                                    <div class="title">
                                        <span>성투주식방 공지1</span>
                                        <span class="thumb">안녕하세요~ 성투주식방의 나주식입니다.</span>
                                    </div>
                                    <div class="reg-info">
                                        <span>YYYY-MM-DD</span>
                                        <span class="label label-default">이성투</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="notice">
                                    <div class="title">
                                        <span>성투주식방 공지1</span>
                                        <span class="thumb">안녕하세요~ 성투주식방의 나주식입니다.</span>
                                    </div>
                                    <div class="reg-info">
                                        <span>YYYY-MM-DD</span>
                                        <span class="label label-default">이성투</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="notice">
                                    <div class="title">
                                        <span>성투주식방 공지1</span>
                                        <span class="thumb">안녕하세요~ 성투주식방의 나주식입니다.</span>
                                    </div>
                                    <div class="reg-info">
                                        <span>YYYY-MM-DD</span>
                                        <span class="label label-default">이성투</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        @@include('../../common/pagination_popup.html')
                    </div>
                </div>

                <div class="contents contents-notice-detail" style="display: none;">
                    <div class="scrolling">
                        <div class="notice-title">
                            <div class="hd">
                                정확하고 신속한 소식! 정확하고 신속한 소식! 정확하고 신속한 소식! 정확하고 신속한 소식! 정확하고 신속한 소식! 정확하고 신속한 소식!
                            </div>
                            <div class="hd-tail">
                                <span class="date">2021-03-30</span>
                                <label class="label label-default">나주식</label>
                            </div>
                        </div>
                        <div class="notice-detail">
                            안녕하세요~ 성공투자주식방의 나주식입니다.<br><br>

                            코스피 지수가 4거래일 연속 상승하며 사상 최고치를 경신했다. <br>
                            코스닥도 반등해 1000선에 바짝 다가섰다. <br>
                            미국 고용 지표가 예상보다 부진하게 나온 것이 되레 긴축 우려를 잠재우면서 주가 상승을 부추긴 격이 됐다. 공매도 재개를 앞두고 비틀거리던 증시는 어느새 급락에 대한 불안감을 훌훌 털어버린 듯한 모습이다.<br><br>
                            
                            10일 코스피는 전 거래일보다 1.63%(52.10포인트) 오른 3249.30에 마감하며 지난달 20일(3220.70) 이후 13거래일 만에 사상 최고 기록을 다시 세웠다.<br><br>
                            
                            장 초반 개인 매수세와 함께 상승 출발한 코스피는 외국인과 기관이 차례로 매수 규모를 늘리며 순매수로 전환하면서 한층 강한 상승세를 보였다.<br><br>
                        </div>
                    </div>
                </div>

                <div class="contents contents-notice-modify" style="display: none;">
                    <form>
                        <div class="notice-title">
                            <div class="hd">
                                <strong class="title">정확하고 신속한 소식! 정확하고 신속한 소식! 정확하고 신속한 소식! 정확하고 신속한 소식! 정확하고 신속한 소식! 정확하고 신속한 소식!</strong>
                                <label class="label label-default">나주식</label>
                            </div>
                            <span class="date">YYYY-MM-DD</span>
                        </div>
                        <div class="form-group form-content">
                            <label for="noticeContent1" class="sr-only">내용</label>
                            <textarea class="form-control" name="" id="noticeContent1" placeholder="내용을 입력해주세요." >
안녕하세요~ 성공투자주식방의 나주식입니다.

코스피 지수가 4거래일 연속 상승하며 사상 최고치를 경신했다. 
코스닥도 반등해 1000선에 바짝 다가섰다. 
미국 고용 지표가 예상보다 부진하게 나온 것이 되레 긴축 우려를 잠재우면서 주가 상승을 부추긴 격이 됐다. 공매도 재개를 앞두고 비틀거리던 증시는 어느새 급락에 대한 불안감을 훌훌 털어버린 듯한 모습이다.

10일 코스피는 전 거래일보다 1.63%(52.10포인트) 오른 3249.30에 마감하며 지난달 20일(3220.70) 이후 13거래일 만에 사상 최고 기록을 다시 세웠다.

장 초반 개인 매수세와 함께 상승 출발한 코스피는 외국인과 기관이 차례로 매수 규모를 늘리며 순매수로 전환하면서 한층 강한 상승세를 보였다.
                            </textarea>
                            <div class="count">
                                <span class="txt-length">350</span>
                                <span>500</span>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="contents contents-notice-register" style="display: none;">
                    <form>
                        <div class="form-group">
                            <label for="noticeTitle" class="sr-only">제목</label>
                            <input type="text" class="form-control" name="" id="noticeTitle" placeholder="제목을 입력해주세요.">
                        </div>
                        <!-- textarea length 사용 시 form-content 필수 -->
                        <div class="form-group form-content">
                            <label for="noticeContent2" class="sr-only">내용</label>
                            <textarea class="form-control" name="" id="noticeContent2" placeholder="내용을 입력해주세요." ></textarea>
                            <div class="count">
                                <span class="txt-length">0</span>
                                <span>500</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="mode-list">
                    <button type="button" class="btn btn-primary" id="btnMoveNotice" data-target-mode="register">공지등록</button>
                </div>
                <div class="mode-detail clearfix">
                    <button type="button" class="btn btn-default"  id="btnListNotice" data-target-mode="list">목록</button>
                    <div class="pull-right">
                        <button type="button" class="btn btn-secondary" id="btnDeleteNotice">삭제</button>
                        <button type="button" class="btn btn-primary" id="btnModifyNotice" data-target-mode="modify">수정</button>
                    </div>
                </div>
                <div class="mode-modify clearfix" >
                    <button type="button" class="btn btn-default" data-target-mode="list">취소</button>
                    <button type="button" class="btn btn-secondary" id="btnModifyCompleted" data-target-mode="list" >수정완료</button>
                </div>
                <div class="mode-register clearfix" >
                    <button type="button" class="btn btn-primary" id="btnRegisterNotice" data-target-mode="list">등록</button>
                </div>
            </div>
        </div>
    </div>
</div>