
<div class="modal fade modal-list" id="modalManagerList" aria-labelledby="modalManagerListLabel"
            aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">관리자 추가</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group form-search">
                        <span class="glyphicon glyphicon-search"></span>
                        <input type="text" class="form-control" placeholder="닉네임, 아이디 검색">
                    </div>
                </form>
                <div class="scrolling">
                    <ul class="user-list">
                        <li>
                            <div class="user">
                                <div class="img">
                                    <img src="../assets/images/photos/user-img-default.png" alt="OOO 회원님의 프로필 이미지" >
                                </div>
                                <div class="info">
                                    <span class="name">name (manager_id | nickname)</span>
                                    <span class="valid-term">
                                        영업부 | 대리
                                    </span>
                                </div>
                                <div class="ex-func">
                                    <div class="checkbox">
                                        <label for="chk1">
                                            <input type="checkbox" id="chk1">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="user">
                                <div class="img">
                                    <img src="../assets/images/photos/user-img-default.png" alt="OOO 회원님의 프로필 이미지" >
                                </div>
                                <div class="info">
                                    <span class="name">name (manager_id | nickname)</span>
                                    <span class="valid-term">
                                        영업부 | 대리
                                    </span>
                                </div>
                                <div class="ex-func">
                                    <div class="checkbox">
                                        <label for="chk1">
                                            <input type="checkbox" id="chk1">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="user">
                                <div class="img">
                                    <img src="../assets/images/photos/user-img-default.png" alt="OOO 회원님의 프로필 이미지" >
                                </div>
                                <div class="info">
                                    <span class="name">name (manager_id | nickname)</span>
                                    <span class="valid-term">
                                        영업부 | 대리
                                    </span>
                                </div>
                                <div class="ex-func">
                                    <div class="checkbox">
                                        <label for="chk1">
                                            <input type="checkbox" id="chk1">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="user">
                                <div class="img">
                                    <img src="../assets/images/photos/user-img-default.png" alt="OOO 회원님의 프로필 이미지" >
                                </div>
                                <div class="info">
                                    <span class="name">name (manager_id | nickname)</span>
                                    <span class="valid-term">
                                        영업부 | 대리
                                    </span>
                                </div>
                                <div class="ex-func">
                                    <div class="checkbox">
                                        <label for="chk1">
                                            <input type="checkbox" id="chk1">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="user">
                                <div class="img">
                                    <img src="../assets/images/photos/user-img-default.png" alt="OOO 회원님의 프로필 이미지" >
                                </div>
                                <div class="info">
                                    <span class="name">name (manager_id | nickname)</span>
                                    <span class="valid-term">
                                        영업부 | 대리
                                    </span>
                                </div>
                                <div class="ex-func">
                                    <div class="checkbox">
                                        <label for="chk1">
                                            <input type="checkbox" id="chk1">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="user">
                                <div class="img">
                                    <img src="../assets/images/photos/user-img-default.png" alt="OOO 회원님의 프로필 이미지" >
                                </div>
                                <div class="info">
                                    <span class="name">name (manager_id | nickname)</span>
                                    <span class="valid-term">
                                        영업부 | 대리
                                    </span>
                                </div>
                                <div class="ex-func">
                                    <div class="checkbox">
                                        <label for="chk1">
                                            <input type="checkbox" id="chk1">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="user">
                                <div class="img">
                                    <img src="../assets/images/photos/user-img-default.png" alt="OOO 회원님의 프로필 이미지" >
                                </div>
                                <div class="info">
                                    <span class="name">name (manager_id | nickname)</span>
                                    <span class="valid-term">
                                        영업부 | 대리
                                    </span>
                                </div>
                                <div class="ex-func">
                                    <div class="checkbox">
                                        <label for="chk1">
                                            <input type="checkbox" id="chk1">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="user">
                                <div class="img">
                                    <img src="../assets/images/photos/user-img-default.png" alt="OOO 회원님의 프로필 이미지" >
                                </div>
                                <div class="info">
                                    <span class="name">name (manager_id | nickname)</span>
                                    <span class="valid-term">
                                        영업부 | 대리
                                    </span>
                                </div>
                                <div class="ex-func">
                                    <div class="checkbox">
                                        <label for="chk1">
                                            <input type="checkbox" id="chk1">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="user">
                                <div class="img">
                                    <img src="../assets/images/photos/user-img-default.png" alt="OOO 회원님의 프로필 이미지" >
                                </div>
                                <div class="info">
                                    <span class="name">name (manager_id | nickname)</span>
                                    <span class="valid-term">
                                        영업부 | 대리
                                    </span>
                                </div>
                                <div class="ex-func">
                                    <div class="checkbox">
                                        <label for="chk1">
                                            <input type="checkbox" id="chk1">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="user">
                                <div class="img">
                                    <img src="../assets/images/photos/user-img-default.png" alt="OOO 회원님의 프로필 이미지" >
                                </div>
                                <div class="info">
                                    <span class="name">name (manager_id | nickname)</span>
                                    <span class="valid-term">
                                        영업부 | 대리
                                    </span>
                                </div>
                                <div class="ex-func">
                                    <div class="checkbox">
                                        <label for="chk1">
                                            <input type="checkbox" id="chk1">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    @@include('../../common/pagination_popup.html')
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">추가</button>
            </div>
        </div>
    </div>
</div>