<!-- 검색 -->
<div class="area-search">
    <div class="form-inline">
        <div class="form-group">
            <label for="">기간</label>
            <div class="date-inline">
                <div class="date-box">
                    <input type="text" class="form-control datepicker" placeholder="시작일">
                    <span class="icon icon-calendar"></span> 
                </div>
                <div class="date-box">
                    <input type="text" class="form-control datepicker" placeholder="종료일">
                    <span class="icon icon-calendar"></span> 
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="">구분</label>
            <select class="form-control">
                <option>종목명</option>
                <option>등록자명</option>
            </select>
        </div>
        <div class="form-group form-in-btn">
            <label for="" class="sr-only">검색어</label>
            <input type="text" class="form-control keyword" placeholder="검색어를 입력하세요.">
            <button type="button" class="btn btn-search">검색</button>
        </div>
    </div>
</div>

<div class="area-list">
    <div class="area-list-header">
        <div class="pull-left">
            Total <span class="count">100</span>
        </div>
    </div>
    <div class="area-list-body">
        <table class="table table-bordered data-list stock-list">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>종목명</th>
                    <th>종목번호</th>
                    <th>수익률 <span class="glyphicon glyphicon-sort-by-attributes-alt"></span></th>
                    <th>매도일시 <span class="glyphicon glyphicon-sort-by-attributes-alt"></span></th>
                    <th>노출여부 <span class="glyphicon glyphicon-sort-by-attributes-alt"></span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>100</td>
                    <td>카카오</td>
                    <td>035720</td>
                    <td><span class="rate-up">20%</span></td>
                    <td>2021-04-13 10:30</td>
                    <td>노출</td>
                </tr>
                <tr>
                    <td>99</td>
                    <td>대한전선</td>
                    <td>001440</td>
                    <td><span class="rate-down">10%</span></td>
                    <td>2021-04-07 11:10</td>
                    <td>노출</td>
                </tr>
                <tr>
                    <td>98</td>
                    <td>이트론</td>
                    <td>096040</td>
                    <td><span class="rate-down">5%</span></td>
                    <td>YYYY-MM-DD hh:mm</td>
                    <td>미노출</td>
                </tr>
                <tr>
                    <td>97</td>
                    <td>삼성전자</td>
                    <td>005930</td>
                    <td><span class="rate-up">10%</span></td>
                    <td>YYYY-MM-DD hh:mm</td>
                    <td>노출</td>
                </tr>
                <tr>
                    <td>96</td>
                    <td>종목명</td>
                    <td>종목코드</td>
                    <td><span class="rate-up">10%</span></td>
                    <td>YYYY-MM-DD hh:mm</td>
                    <td>노출</td>
                </tr>
                <tr>
                    <td>95</td>
                    <td>종목명</td>
                    <td>종목코드</td>
                    <td><span class="rate-up">10%</span></td>
                    <td>YYYY-MM-DD hh:mm</td>
                    <td>노출</td>
                </tr>
                <tr>
                    <td>94</td>
                    <td>종목명</td>
                    <td>종목코드</td>
                    <td><span class="rate-up">10%</span></td>
                    <td>YYYY-MM-DD hh:mm</td>
                    <td>노출</td>
                </tr>
                <tr>
                    <td>93</td>
                    <td>종목명</td>
                    <td>종목코드</td>
                    <td><span class="rate-up">10%</span></td>
                    <td>YYYY-MM-DD hh:mm</td>
                    <td>노출</td>
                </tr>
                <tr>
                    <td>92</td>
                    <td>종목명</td>
                    <td>종목코드</td>
                    <td><span class="rate-up">10%</span></td>
                    <td>YYYY-MM-DD hh:mm</td>
                    <td>노출</td>
                </tr>
                <tr>
                    <td>91</td>
                    <td>종목명</td>
                    <td>종목코드</td>
                    <td><span class="rate-up">10%</span></td>
                    <td>YYYY-MM-DD hh:mm</td>
                    <td>노출</td>
                </tr>
            </tbody>
        </table>
        @@include('../../common/pagination.html')
    </div>
</div>