<div class="modal fade modal-guide" id="modalThumbImgGuide" aria-labelledby="modalThumbImgGuideLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">대표이미지 등록 가이드</h4>
            </div>
            <div class="modal-body">
               <ul class="ol-guide">
                   <li>
                       <strong>이미지 가이드</strong>
                       <ul>
                           <li>
                               <strong>파일 형식</strong> : JPG 또는 PNG
                           </li>
                           <li>
                               <strong>이미지 비율</strong> : 4:2.6
                           </li>
                           <li>
                               <strong>이미지 권장사이즈(가로*세로)</strong> : 800px*520px 이상
                           </li>
                       </ul>
                   </li>
                   <li>
                        <strong>사용자앱</strong>
                        <p>채팅리스트에서는 썸네일 높이 기준으로 이미지가 축소되어 보여집니다.</p>
                        <div class="ex-img-wrapper">
                            <div class="ex-img">
                                <span class="lb">[이미지형 썸네일]</span>
                                <div class="guide">
                                    <div class="thumb thumb-img">썸네일</div>
                                </div>
                            </div>
                            <div class="ex-img">
                                <span class="lb">[리스트형 썸네일]</span>
                                <div class="guide">
                                    <div class="thumb thumb-list">썸네일</div>
                                </div>
                            </div>
                        </div>
                   </li>
               </ul>
            </div>
        </div>
    </div>
</div>