
<div class="modal fade" id="modalPasswordChange" aria-labelledby="modalPasswordChangeLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">비밀번호 변경</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="">
                        <div class="form-group">
                            <label for="userPw">새 비밀번호</label>
                            <input type="password" class="form-control" name="password" placeholder="영문/숫자 포함 8~20자리 입력" id="userPw">
                        </div>
                        <div class="form-group">
                            <label for="userPwConfirm">비밀번호 재입력</label>
                            <input type="password" class="form-control" name="password" placeholder="비밀번호 재입력" id="userPwConfirm">
                            <span class="help-block-validate" id="helpBlockValidate"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" disabled id="btnChangePwConfirm">변경</button>
            </div>
        </div>
    </div>
</div>