<div class="mg-authority clearfix">
    <div class="col">
        <div class="auth-box">
            <h4 class="auth-title">권한 그룹</h4>
            <ul class="auth-list" id="authGroupList">
                <li class="auth-chip">
                    <div>결제 관리</div>
                </li>
                <li class="auth-chip">
                    <div>서비스 상품 관리</div>
                </li>
                <li class="auth-chip">
                    <div>운영 관리</div>
                </li>
                <li class="auth-chip">
                    <div>채팅</div>
                </li>
                <li class="auth-chip">
                    <div>회원 관리</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col between">
        &lt; &gt;
    </div>
    <div class="col">
        <div class="auth-box">
            <h4 class="auth-title">보유 권한</h4>
            <ul class="auth-list" id="userAuthGroupList">
                <li class="auth-chip">
                    <div>게시물 관리</div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="btns btns-right">
    <button type="button" class="btn btn-primary" id="btnSavePermission">저장</button>
</div>

<!-- 수정 이력이 있는 경우 노출 -->
<table class="table table-form mg24" id="modifyHistory">
    <colgroup>
        <col style="width: 12%">
        <col style="width: 38%">
        <col style="width: 12%">
        <col style="width: 38%">
    </colgroup>
    <tbody>
        <tr>
            <th>수정자</th>
            <td><span class="data">박민</span></td>
            <th>수정일</th>
            <td><span class="data">2021.05.14</span></td>
        </tr>
    </tbody>
</table>