<h4 class="detail-content-hd">기본정보</h4>
<table class="table table-form" id="tableBasicInfo">
    <colgroup>
        <col style="width: 12%">
        <col style="width: 38%">
        <col style="width: 12%">
        <col style="width: 38%">
    </colgroup>
    <tbody>
        <tr>
            <th>이름</th>
            <td><span class="data">이삼오</span></td>
            <th rowspan="3">프로필 사진</th>
            <td rowspan="3">
                <div class="profile-img-wrapper">
                    <div class="profile-img">
                        <img src="../assets/images/photos/user-img-default.png" alt="사용자의 프로필 이미지">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th>전화번호</th>
            <td>
                <span class="data" id="userPhone">010-1234-1234</span>
                <input type="text" class="form-control" name="" placeholder="휴대폰번호 입력" value="010-1234-1234" style="display:none;">
                 <em>(SMS수신 동의 | 2021-02-12)</em>
            </td>
        </tr>
        <tr>
            <th>생년월일</th>
            <td><span class="data">1990-03-10</span></td>
        </tr>
        <tr>
            <th>이메일 정보</th>
            <td><span class="data">235lee@gmail.com</span></td>
            <th>회원 가입일</th>
            <td><span class="data">2021-04-10</span></td>
        </tr>
        <tr>
            <th>아이디</th>
            <td><span class="data">235lee</span></td>
            <th>닉네임</th>
            <td><span class="data">235나</span></span></td>
        </tr>
    </tbody>  
</table>

<div class="btns btns-right">
    <button type="button" class="btn btn-default hidden" c>취소</button>
    <button type="button" class="btn btn-primary" id="btnModify">수정</button>
</div>


<h4 class="detail-content-hd">비밀번호 변경</h4>
<table class="table table-form" id="tableBasicInfo">
    <colgroup>
        <col style="width: 12%">
        <col style="width: 88%">
    </colgroup>
    <tbody>
        <tr>
            <th>비밀번호</th>
            <td>
                <div class="pw-inline">
                    <span class="data">********</span>
                    <button type="button" class="btn btn-secondary btn-inline btn-sm" id="btnChangePw">변경</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>

@@include('./wa_08_password_change_popup.html')


<h4 class="detail-content-hd">가입 상태</h4>
<table class="table table-form" id="tableUserStatus">
    <colgroup>
        <col style="width: 12%">
        <col style="width: auto">
    </colgroup>
    <tbody>
        <tr>
            <th>가입 상태</th>
            <td>
                <div class="form-in-multi">
                    <select class="form-control" id="memberStatusView" disabled>
                        <option value="1">활동</option>
                        <option value="0">탈퇴</option>
                    </select>
                    <button type="button" class="btn btn-secondary btn-inline btn-sm" id="btnChangeStatus">변경</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>

@@include('./wa_08_status_change_popup.html')