<div class="modal fade modal-list" id="modalSignalHistory" aria-labelledby="modalSignalHistoryLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">신호 발송 내역</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group form-search">
                        <span class="glyphicon glyphicon-search"></span>
                        <input type="text" class="form-control" placeholder="종목명 입력">
                    </div>
                </form>
                <div class="scrolling">

                    <div class="area-list">
                        <div class="area-list-header">
                            <div class="pull-left">
                                Total <span class="count">100</span>
                            </div>
                            <div class="pull-right">
                                <select class="form-control">
                                    <option>전체</option>
                                    <option>매수</option>
                                    <option>매도</option>
                                    <option>알림</option>
                                </select>
                            </div>
                        </div>
                        <div class="area-list-body">
                            <table class="table table-bordered data-list signal-history">
                                <thead>
                                    <tr>
                                        <th>발송일시</th>
                                        <th>신호유형</th>
                                        <th>종목명</th>
                                        <th>종목코드</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2021-05-13 10:30</td>
                                        <td>매도</td>
                                        <td>카카오</td>
                                        <td>005930</td>
                                    </tr>
                                    <tr class="detail">
                                        <td colspan="4">
                                            [매수] 신호입니다.<br><br>
                                            ▸삼성전자 (005930)<br>
                                            ▸매수가: 80,000원 이하<br>
                                            ▸비중: 10%<br><br>

                                            삼성전자 현구간 3차 매수 진행합니다.<br>
                                            의도적인 흔들기!! 비중확보 후 추가 대응을 통해 빠른 익절 진행하도록 하겠습니다.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2021-05-13 10:30</td>
                                        <td>매수</td>
                                        <td>삼성전자</td>
                                        <td>005930</td>
                                    </tr>
                                    <tr class="detail">
                                        <td colspan="4">
                                            [매수] 신호입니다.<br><br>
                                            ▸삼성전자 (005930)<br>
                                            ▸매수가: 80,000원 이하<br>
                                            ▸비중: 10%<br><br>

                                            삼성전자 현구간 3차 매수 진행합니다.<br>
                                            의도적인 흔들기!! 비중확보 후 추가 대응을 통해 빠른 익절 진행하도록 하겠습니다.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>YYYY-MM-DD hh:mm</td>
                                        <td>신호유형</td>
                                        <td>종목명</td>
                                        <td>종목코드</td>
                                    </tr>
                                    <tr class="detail">
                                        <td colspan="4">
                                            [매수] 신호입니다.<br><br>
                                            ▸삼성전자 (005930)<br>
                                            ▸매수가: 80,000원 이하<br>
                                            ▸비중: 10%<br><br>

                                            삼성전자 현구간 3차 매수 진행합니다.<br>
                                            의도적인 흔들기!! 비중확보 후 추가 대응을 통해 빠른 익절 진행하도록 하겠습니다.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>YYYY-MM-DD hh:mm</td>
                                        <td>신호유형</td>
                                        <td>종목명</td>
                                        <td>종목코드</td>
                                    </tr>
                                    <tr class="detail">
                                        <td colspan="4">
                                            [매수] 신호입니다.<br><br>
                                            ▸삼성전자 (005930)<br>
                                            ▸매수가: 80,000원 이하<br>
                                            ▸비중: 10%<br><br>

                                            삼성전자 현구간 3차 매수 진행합니다.<br>
                                            의도적인 흔들기!! 비중확보 후 추가 대응을 통해 빠른 익절 진행하도록 하겠습니다.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>YYYY-MM-DD hh:mm</td>
                                        <td>신호유형</td>
                                        <td>종목명</td>
                                        <td>종목코드</td>
                                    </tr>
                                    <tr class="detail">
                                        <td colspan="4">
                                            [매수] 신호입니다.<br><br>
                                            ▸삼성전자 (005930)<br>
                                            ▸매수가: 80,000원 이하<br>
                                            ▸비중: 10%<br><br>

                                            삼성전자 현구간 3차 매수 진행합니다.<br>
                                            의도적인 흔들기!! 비중확보 후 추가 대응을 통해 빠른 익절 진행하도록 하겠습니다.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>YYYY-MM-DD hh:mm</td>
                                        <td>신호유형</td>
                                        <td>종목명</td>
                                        <td>종목코드</td>
                                    </tr>
                                    <tr class="detail">
                                        <td colspan="4">
                                            [매수] 신호입니다.<br><br>
                                            ▸삼성전자 (005930)<br>
                                            ▸매수가: 80,000원 이하<br>
                                            ▸비중: 10%<br><br>

                                            삼성전자 현구간 3차 매수 진행합니다.<br>
                                            의도적인 흔들기!! 비중확보 후 추가 대응을 통해 빠른 익절 진행하도록 하겠습니다.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>YYYY-MM-DD hh:mm</td>
                                        <td>신호유형</td>
                                        <td>종목명</td>
                                        <td>종목코드</td>
                                    </tr>
                                    <tr class="detail">
                                        <td colspan="4">
                                            [매수] 신호입니다.<br><br>
                                            ▸삼성전자 (005930)<br>
                                            ▸매수가: 80,000원 이하<br>
                                            ▸비중: 10%<br><br>

                                            삼성전자 현구간 3차 매수 진행합니다.<br>
                                            의도적인 흔들기!! 비중확보 후 추가 대응을 통해 빠른 익절 진행하도록 하겠습니다.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>YYYY-MM-DD hh:mm</td>
                                        <td>신호유형</td>
                                        <td>종목명</td>
                                        <td>종목코드</td>
                                    </tr>
                                    <tr class="detail">
                                        <td colspan="4">
                                            [매수] 신호입니다.<br><br>
                                            ▸삼성전자 (005930)<br>
                                            ▸매수가: 80,000원 이하<br>
                                            ▸비중: 10%<br><br>

                                            삼성전자 현구간 3차 매수 진행합니다.<br>
                                            의도적인 흔들기!! 비중확보 후 추가 대응을 통해 빠른 익절 진행하도록 하겠습니다.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>YYYY-MM-DD hh:mm</td>
                                        <td>신호유형</td>
                                        <td>종목명</td>
                                        <td>종목코드</td>
                                    </tr>
                                    <tr class="detail">
                                        <td colspan="4">
                                            [매수] 신호입니다.<br><br>
                                            ▸삼성전자 (005930)<br>
                                            ▸매수가: 80,000원 이하<br>
                                            ▸비중: 10%<br><br>

                                            삼성전자 현구간 3차 매수 진행합니다.<br>
                                            의도적인 흔들기!! 비중확보 후 추가 대응을 통해 빠른 익절 진행하도록 하겠습니다.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>YYYY-MM-DD hh:mm</td>
                                        <td>신호유형</td>
                                        <td>종목명</td>
                                        <td>종목코드</td>
                                    </tr>
                                    <tr class="detail">
                                        <td colspan="4">
                                            [매수] 신호입니다.<br><br>
                                            ▸삼성전자 (005930)<br>
                                            ▸매수가: 80,000원 이하<br>
                                            ▸비중: 10%<br><br>

                                            삼성전자 현구간 3차 매수 진행합니다.<br>
                                            의도적인 흔들기!! 비중확보 후 추가 대응을 통해 빠른 익절 진행하도록 하겠습니다.
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    
                    @@include('../../common/pagination_popup.html')
                </div>
            </div>
        </div>
    </div>
</div>
